﻿@import "_base.scss";
.blog-news{padding:0;margin:0;list-style:none;
    li{width:100%;border-bottom:1px solid $border-bgcolor-default;display:inline-block;margin-top:0;margin-bottom:25px;padding-bottom:30px;
        &:last-child{border-bottom:none;}
    }
    img{border-radius:0;max-height:450px;margin:5px auto 30px;display:block;}
    .md-blog-details{/*width:calc(100%-60px);*/
        .md-blog-title{margin:0 0 15px 0;
            h2{line-height:1.35;font-size:$base-font-size + 7;margin:0;font-family:$base-font-family-bold;color:$base-color-primary;
                a{text-decoration:none;
                    &:hover{opacity:0.9;}
                }
            }
        }
        .md-blog-overview p{margin:0 0 15px;line-height:1.5;font-size:$base-font-size + 1;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
        .md-blog-complete-overview p{margin:0 0 15px;line-height:1.5;font-size:$base-font-size + 1;}
        .md-blog-read-more{padding-bottom:15px;
            .btn-text{margin-left:0;}
            .md-blog-red-more-btn{color:$text-fgcolor-default;
                &:hover{text-decoration:underline;opacity:1;color:$base-color-primary;}
            }
        }
        .md-blog-all-info{padding-bottom:15px;
            span{padding-right:15px;
                i{font-size:$base-font-size + 1;}
            }
        }
        .comment-list{border-bottom:1px solid $border-bgcolor-default;padding-bottom:15px;margin-bottom:15px;
            &:last-child{border-bottom:none;}
            .blog-comment{line-height:1.35;
                .comment-info p{margin-bottom:15px;font-family:$base-font-family-bold;font-size:$base-font-size + 1;padding-right:5px;}
                .comment-content{
                    p{padding-left:5px;}
                    .comment-time{margin-bottom:5px;font-size:$base-font-size + 1;line-height:2;background-color:$base-color-primary;color:$base-color-white;}
                    .comment-details{font-size:$base-font-size + 1;}
                }
            }
        }
    }
}

@include screensize(x-small) {
}

@include screensize(small){
}