﻿@import "_base.scss";

// Header Section.
@import "widgets/header.scss";

// Main Wrapper.
.wrapper{min-height: 100%;}
.main-wrapper{padding:20px 0 50px;min-height:900px;
    .page-title{text-transform:uppercase;}
}

// Footer.
@import "widgets/footer.scss";

// Breadcrumb.
.breadcrumb-container{color:$text-fgcolor-heading;font-size:$base-font-size - 1;letter-spacing:0.075em;text-transform:uppercase;border-bottom:$boder-bgcolor-primary solid 1px;padding:7px 5px;line-height:30px;
    a{color:$text-fgcolor-heading;padding:0 5px; display:inline-block;
        &:first-child{padding-left:0;}
    }
    span{padding:5px;}
}

@import "_navigation.scss";

// Site Map.
.site-map-container{margin-bottom:20px;min-height:500px;
    .section-header{font-size:$base-font-size + 5;font-family:$base-font-family-bold;padding-bottom:8px;}    
    ul{padding:0;margin:0;
       li{list-style:none;}
       .sub-menu{margin-left:20px;}
       .zf-caret-right,.zf-arrow-right-small{padding-right:5px;}       
    }
}

// Media Query.
@include screensize(x-small) {
// Contain Pages.
.contain-pages, .site-map-container{padding:0 5px;}
}
@include screensize(small) {
// Contain Pages.
.contain-pages{padding:0;min-height:650px;}
.site-map-container {padding:0;}
}