﻿@import "_base.scss";
.single-page-checkout{
    .page-title{border-bottom:4px solid $base-color-primary;font-size:$base-font-size + 7;padding:0 0 15px;color:$base-color-primary;text-transform:capitalize;line-height:1.35;}
    .login-and-cart{margin-bottom:25px;
        .checkout-login-btn{padding:0;border-radius:0;border:none;height:38px;background:$base-color-primary;
            a{color:$base-color-white;text-decoration:none;line-height:38px;padding:0 20px;text-transform:uppercase;}
        }
        .checkout-cart-btn{border-radius:0;border:none;height:38px;background:$base-color-primary;color:$base-color-white;line-height:38px;padding:0 20px;
            &:hover{opacity:0.9;}
        }
        .checkout-cart{/*position:absolute;right:0;top:40px;width:300px;*/float:left;width:100%;background-color:$base-color-white;z-index:1;margin-top:10px;padding:30px 0;
            .review-order{/*max-height:400px;overflow:auto;padding-right:5px;*/
                .shopping-cart{float:left;width:100%;
                    .cart-products{padding-right:0;width:100%;margin-bottom:25px;
                        .table{width:100%;
                            thead{border:none;
                                tr th{color:$text-fgcolor-heading;font-size:$base-font-size + 2;padding:0 10px 14px 10px;border-bottom:1px solid $border-bgcolor-default;
                                    &:last-child{text-align:right;}
                                }
                            }
                            tbody tr{
                                &:hover{background-color:transparent;}
                                td{padding:14px 10px;border-bottom:1px solid $border-bgcolor-default;color:$text-fgcolor-default;font-size:$base-font-size + 1;
                                    &:last-child{text-align:right;}
                                    a{color:$text-fgcolor-default;text-decoration:none;}
                                    &.cart-item-name{
                                        .cart-item-description,.group-product-list{font-size:$base-font-size - 2;font-family:$base-font-family-bold;font-style:italic;}
                                    }
                                    /*&.cart-item-details,&.cart-item-unitprice{display:none;}*/
                                    &.cart-item-details img{max-width:50px;}
                                    &.cart-item-quantity .md-add-to-cart-container{margin:0;
                                        .md-spinner-btns{padding:0;margin:0;
                                            button{display:none;}
                                            input{width:30px;color:$text-fgcolor-default;}
                                        }
                                    }
                                }
                            }
                        }
                        .cart-summary{padding:0;float:right;
                            .cart-total h2{display:none;}
                            .md-total-block{
                                .form-group{margin:0;padding:10px;border-bottom:1px solid $border-bgcolor-default;font-size:$base-font-size;text-align:right;
                                    &.total{font-size:$base-font-size + 3;color:$base-color-primary;font-family:$base-font-family-bold;}
                                }
                                .checkout-btn{display:none;}
                            }
                        }
                    }
                }
            }
        }
        .shopping-cart{
            .title{padding-left: 9px;}
        }
    }
    .title{color:$text-fgcolor-heading;font-size:$base-font-size + 3;border-bottom:1px solid $border-bgcolor-default;line-height:1;padding-bottom:13px;font-family:$base-font-family-bold;margin-bottom:20px;margin-top:0;
           span{display:none;}
    }
    
    .cart-summary{}
    .address-block{
        .address-name{font-family:$base-font-family-bold;color:#6a6367;}
        .address-details{min-height:100px;}
    } 
    .review-order{        
        .cart-item-quantity input[type="text"]{border:none;background-color:transparent;width:auto;pointer-events:none;}
        .shopping-cart{padding:0;}
        .cart-products{overflow:auto;}
    }    

    .signle-page-payment{
        .md-checkout-grandtotal{border-top:1px solid $border-bgcolor-default;float:left;width:100%;margin-top:10px;
            .md-grand-total{color:$text-fgcolor-heading;font-size:$base-font-size + 3;font-family:$base-font-family-bold;margin-top:30px;margin-bottom:10px;
                .price{margin-left:45px;}
            }
        }
        .place-order-btn{border:0;padding:0 15px;line-height:38px;border-radius:0;font-weight:$base-font-normal;margin:0;height:38px;
            &:hover{opacity:0.9;}
        }
        .credit-card-container{
            .nav-tabs{
                li a{background-color:#f5eded;color:$base-color-primary;border-color:#f5eded #f5eded transparent}
                li.active a{background-color:$base-color-primary;color:$base-color-white;}
            }
            .tab-content{padding:10px 0;display:block;}
            .section-heading{font-size:$base-font-size + 3;border-bottom:1px solid $border-bgcolor-default;font-family:$base-font-family-bold;color:#6a6367;padding-bottom:10px; display:none;}
            .save-cart{margin-bottom:10px;
                ul{padding:0;
                    img{float:left !important;}
                }
            }
        }
    }
    .cart-total-footnote{display:none;}    
}

.address-popup{    
    .modal-body{display:inline-block;background-color:$base-color-white;
        .register-container{
            .form-group {.left-inner-icon{i{top:9px;}}}
        }
    }
    .edit-address-form{margin-top:0;padding-right:6px;
        .address-country-name{select{font-size:$base-font-size;color:$base-fgcolor-input;}}
        p.sub{line-height:15px;}
        &.address-form{padding:0 0 0 6px;}
    }
}

.login-container-popup{
    .login-container{margin:0;
        .inner-container{border:0;padding:0 25px;
          .social{width:100%;}
        }
        .login-form-forgotpassword{display:none;}
    }
}

.ui-dialog{background-color:$base-color-white;box-shadow:0 5px 15px rgba(0, 0, 0, 0.5);z-index:99999 !important;
    .ui-dialog-titlebar{font-size:$base-font-size + 2;font-family:$base-font-family-bold;display:block;line-height:26px;color:$base-color-white;background-color:$base-color-primary;padding:15px;}
    .ui-dialog-content{padding:15px;color:$text-fgcolor-default;}
    .ui-dialog-titlebar-close{font-family:$znode-icon-font;font-weight:normal;font-size:$base-font-size + 2;content:"\f057";position:absolute;right:5px;top:5px;}
    .ui-dialog-buttonpane{float:left;width:100%;background-color:$base-color-white;padding:10px 15px;border-top:1px solid $border-bgcolor-default;
            .ui-dialog-buttonset{float:right;
                button{@include btn-text;font-size:$base-font-size;padding:0 15px;margin-left:5px;height:24px;line-height:23px;text-transform:capitalize;color:$base-color-white;background-color:$base-bgcolor-button-primary;overflow:hidden;float:left;border-radius:2px;}
            }        
    }
}
.ui-md-popup{width:600px!important; height:auto;}

// Media Query.
@include screensize(x-small) {
    .single-page-checkout{padding:0 5px;
        .login-and-cart .checkout-cart .review-order .shopping-cart{
            .cart-products .table{
                thead tr th{padding:10px 5px;}
                tbody tr td{padding:10px 5px;font-size:$base-font-size;
                    &:nth-child(2){padding-left:0;}
                }
            }
            .md-checkout-apply-coupon{padding-right:0;}
            .md-checkout-apply-giftcard{padding-left:0;margin-top:15px;}
        }
        .shipping-method{padding:0;}
    } 
    .checkout-reciept{padding:0 5px;
        .md-order-confirmation{
            .order-confirm-block{
                .md-order-details{border:1px solid $border-bgcolor-default;background:$base-color-white;border-top:4px solid $base-color-primary;padding:35px 25px;box-shadow:0 2px 3px rgba(0,0,0,0.08);
                    .sub-title{text-transform:uppercase;margin: 0 0 20px;padding:15px 0 0;font-size:$base-font-size + 2;font-family:$base-font-family-bold;color:$base-color-primary;}
                    p{margin:0 0 15px;line-height:1.5;}
                    .continue-shipping-btn{margin:1em 0 0;padding:8px 0 0;
                        a{width:100%;}
                    }
                }
            }
            .order-confirm-aside{margin-top:15px;
                .recent-view-items{
                    .product-list-title{margin:5px 0 10px;line-height:1.2;font-size:$base-font-size + 3;font-family:$base-font-family-bold;color:$text-fgcolor-heading;}
                    .owl-controls{display:none!important;}
                    .owl-wrapper-outer .owl-wrapper{width:100%!important;margin:0 0 10px 0;
                        .owl-item{width:100%!important;
                            .item .product-item{margin:0;
                                .view-item{padding:0;margin:0;
                                    .md-product-full-name{display:none;}
                                    .product-img{display:none;}
                                    .product-details{padding:0;text-align:left;
                                        .title{font-size:$base-font-size;line-height:1.5;
                                            a{font-size:$base-font-size;line-height:1.5;color:$text-fgcolor-heading;}
                                        }
                                        div{display:none;}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include screensize(small) {
    .single-page-checkout{padding:0;
        .shipping-address-content{padding-right:5px;}
        .shipping-method{padding:0 5px 0 0;}
        .login-and-cart .checkout-cart .review-order .shopping-cart{
            .cart-products .table{
                thead tr th{padding:10px 14px;}
                tbody tr td{padding:10px 14px;font-size:$base-font-size + 1;
                    &:nth-child(2){padding-left:14px;}
                }
            }
            .md-checkout-apply-coupon{padding-right:15px;
                .order-confirm-block{
                    .md-order-details{
                        .continue-shipping-btn a{width:auto;}
                    }
                }

            }
            .md-checkout-apply-giftcard{padding-left:15px;margin-top:0;}
        }
    } 
    .checkout-reciept{padding:0;
        .md-order-confirmation{
            .order-confirm-block{padding-right:12px;
                .md-order-details .continue-shipping-btn a{width:auto;}
            }
            .order-confirm-aside{padding-left:12px;margin-top:0;}
        }
    }
}
@include screensize(medium) {
    .single-page-checkout{
        .shipping-address-content{padding-right:0;}
        .shipping-method{padding:0 15px;}
    } 
}