﻿@using Znode.Engine.WebStore.ViewModels
@model CartViewModel
@{
    bool insufficientQuantity = (Model?.ShoppingCartItems?.Any(x => x.InsufficientQuantity)).GetValueOrDefault();
    var cultureCode = string.IsNullOrEmpty(Model?.CultureCode) ? DefaultSettingHelper.DefaultCulture : Model.CultureCode;
    decimal cartCount = (Model?.ShoppingCartItems?.Any() ?? false) ?  (Model?.ShoppingCartItems?.Sum(x => x.Quantity)).GetValueOrDefault(): 0M;
}

@if (Model?.ShoppingCartItems?.Any() ?? false)
{

<div class="col-xs-12 nopadding test">
    <div class="col-xs-12 col-md-8 nopadding cart-heading">
        <h1 data-test-selector="hdgShoppingCartHeading" class="page-title">@WebStore_Resources.LabelShoppingCart</h1>
    </div>
    <div class="col-xs-12 col-md-4 nopadding">
        <div class="col-xs-12 cart-btn nopadding">
            <div class="col-xs-12 col-sm-6 nopadding btn-left">
                <a data-test-selector="linkContinue" href="/" class="btn-text-icon btn-bg-secondary continue-shopping-btn"><i class="zf-checkout"></i> @WebStore_Resources.ButtonContinueShopping</a>
            </div>
            <div class="col-xs-12 col-sm-6 nopadding btn-right">
                <a data-test-selector="linkCheckout" href="/Checkout/Index" class="btn-text-icon btn-bg-primary" id="checkOut-link" onclick="return Cart.prototype.ValidateProductQuantity();"><i class="zf-checkout"></i> @WebStore_Resources.ButtonCheckout</a>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-8 nopadding cart-product-details">
        <div class="col-xs-12 cart-total-title nopadding">
            <h2 data-test-selector="lblYourTotalIs">
                @WebStore_Resources.TextYourTotal <strong data-test-selector="lblPrice" id="dynamic-cart-order-total">@Helper.FormatPriceWithCurrency(Model.Total, Model.CultureCode)</strong> <span data-test-selector="lblForItem">for @Helper.GetRoundOffQuantity(cartCount) items</span>
            </h2>
            @using (Ajax.BeginForm("RemoveAllCartItem", "Cart", new AjaxOptions() { UpdateTargetId = "Cart", OnBegin = "ZnodeBase.prototype.ShowLoader()", OnComplete = "QuickOrder.prototype.ShowHideQuickOrderPopUp();global.bind.ResetTopCategory();Cart.prototype.EnableDisableMenuIcon();" }))
            {
                @Html.AntiForgeryToken()
                <a data-test-selector="linkRemoveAllCartItem" href="#" class="cart-item-remove-all" onclick="javascript:$($(this).closest('form').submit());"><i class="zf-close"></i>@WebStore_Resources.TextRemoveAllCartItems</a>
            }
        </div>
        <div class="col-xs-12 table-responsive cart-products nopadding">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th data-test-selector="lblItem">@WebStore_Resources.LabelItem</th>
                        <th data-test-selector="lblItemPrice">@WebStore_Resources.ColumnTitleItemPrice</th>
                        <th data-test-selector="lblItemQuantity">@WebStore_Resources.ColumnTitleQuantity</th>
                        <th data-test-selector="lblItemTotal">@WebStore_Resources.ColumnTitleTotal</th>
                    </tr>
                </thead>
                <tbody>
                    @*To show the recently added product on the top of cart.*@
                    @foreach (CartItemViewModel cartItem in Model.ShoppingCartItems.AsEnumerable().Reverse())
                    {
                        @Html.Partial("_CartRow", cartItem)
                    }
                </tbody>
            </table>
            @Html.HiddenFor(x => insufficientQuantity, new { id = "hdnInsufficientQuantity" })

        </div>
    </div>


    <div class="col-xs-12 col-md-4 cart-summary nopadding">
        <div class="col-xs-12 nopadding cart-total order-summary" id="CartOrdersummary">
            <div class="head-text"><h1>@WebStore_Resources.HeadingOrderSummary</h1></div>
            <div class="carttotalcontentarea" id="summary-details"> <img src="../Content/Images/throbber.gif" alt="Loading" class="dashboard-loader"> </div>
            <script>$.get("/cart/CalculateCart", function (res) { $(".carttotalcontentarea").html(res); if ($('#dynamic-order-total')) $('#dynamic-cart-order-total').html($('#dynamic-order-total')[0].innerText); });</script>

        </div>

        <div class="col-xs-12 nopadding">
            <div class="col-xs-12 nopadding">
                @Html.Partial("../_ApplyCoupon", Model)
            </div>
            <div class="col-xs-12 nopadding cart-promocode">
                <div class="head-text"><h1>@WebStore_Resources.LabelEstimateShippingCosts</h1></div>
                @if (!string.IsNullOrEmpty(Model.ZipCode))
                {
                    @Html.Partial("../_ShippingEstimator", Model.ZipCode)
                }
                else
                {
                    @Html.Partial("../_ShippingEstimator", string.Empty)
                }

            </div>
        </div>
    </div>
</div>
    <!--promotion & shipping bar-->
    <div class="cart-promotion-bar col-xs-12 nopadding"></div>
    <script>$.get("/cart/CartPromotionBar", function (res) { $(".cart-promotion-bar").html(res); });</script>
}
else
{
    <div class="col-xs-12 col-md-8 nopadding cart-heading">
        <h1 data-test-selector="hdgShoppingCartHeading" class="page-title">@WebStore_Resources.LabelShoppingCart</h1>
    </div>
    <div class="col-xs-12 nopadding cart-summary">
        <p class="text-center margin-top-bottom">@WebStore_Resources.NoItemCartErrorMessage</p>
    </div>
}

<script>
    $(".cartcount").html(@cartCount)
</script>




