﻿@using Znode.Engine.Admin.ViewModels
@model UserViewModel
@{
    ViewBag.Title = Admin_Resources.ForgotPassword + " | " + Admin_Resources.TitleMultifront;
    Layout = "~/Views/Shared/_LoginPageLayout.cshtml";
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmForgotPassword", CancelUrl = "/User/Login" };
}


<div class="login-box">
    @using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post, new { @class = "", role = "form", @id = "frmForgotPassword" }))
    {
        
        <div class="col-sm-12 login-header nopadding text-center">
            <img src="~/Content/Images/header-admin-logo-login.png" class="znode-logo" />
            <h3>@Admin_Resources.ForgotPassword</h3>
        </div>
        <div class="col-sm-12 login-main nopadding">
            @Html.AntiForgeryToken()           
            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    <div class="control-label">@Admin_Resources.LabelEmailID</div>
                    <div class="control-md">
                        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", @placeholder = "Email ID" })
                        @Html.ValidationMessageFor(m => m.EmailAddress)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="pull-right">
                    <a href="/User/Login" class="btn-text">Cancel</a>
                    <button type="submit" class="btn-text btn-text-secondary margin-left-10">Reset Password</button>
                </div>
            </div>
        </div>
    }
</div>