﻿@model AutoComplete
@using Znode.Engine.WebStore.Agents
@using System.Globalization
@using Znode.Libraries.ECommerce.Utilities;
@{
    string regionName = string.Empty;
    foreach (var item in PortalAgent.CurrentPortal.Locales)
    {
        int localeid = Convert.ToInt32(Request.Cookies["_WebStoreculture"].Value);
        if (item.LocaleId == localeid)
        {
            CultureInfo culture = new CultureInfo(item.Code);
            regionName = culture.Name;
        }
    }

    bool isEnableVoiceBasedSearch = (bool)PortalAgent.CurrentPortal.PortalFeatureValues.Where(x => x.Key.Contains(HelperUtility.StoreFeature.Enable_Voice_Based_Search.ToString()))?.FirstOrDefault().Value;
}
<div class="search-widget">
    <form id="searchForm" action="/Search" method="GET">
        <div class="left-inner-icon input-group">
            <i class="zf-search"></i>
            @Html.AutocompleteFor(model => model.Name, model => model.Id, "GetSuggestions", "Search", "Product.prototype.GetSuggestionResult", false, new { htmlAttributes = new { @placeholder = WebStore_Resources.LabelSearch, @class = "", @Name = "SearchTerm", @id = "searchTextBox", @data_test_selector = "txtSearch" } })
            <span class="input-group-btn">
                <button type="submit" class="btn-text btn-bg-primary" id="btnSearchTerm" data-test-selector="btnSearchTerm">@WebStore_Resources.LabelGo</button>
            </span>
       
        </div>
        <div id="typeahead-results" class="ui-autocomplete-home"></div>
    </form>
    @if (isEnableVoiceBasedSearch)
    {
        <a data-test-selector="btnVoiceSearch" href="javascript:void(0)" onclick="" id="btnVoiceSearch" class="keyboard-icon"><i class="zf-keyboard_voice"></i></a>
    }
</div>

<script>
    $(document).ready(function () {
        Search.prototype.ValidateSearch();
    });

        $("#btnVoiceSearch").on("click", function () {
        $(this).removeClass("keyboard-icon");
        $(this).addClass("active");
        var recognizer = new webkitSpeechRecognition();
        recognizer.lang = '@regionName';
        recognizer.onresult = function (event) {
            if (event.results.length > 0) {
                var result = event.results[event.results.length - 1];
                if (result.isFinal) {
                    $("#searchTextBox").val(result[0].transcript);
                    $("#searchForm").submit();
                }
            }
            $("#btnVoiceSearch").addClass("keyboard-icon");
        };
        recognizer.start();
    });
</script>
