﻿@using Znode.Engine.WebStore.ViewModels;
@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities;
@model  CategoryViewModel
@{
    var _rq = Request.QueryString;
    string pageSize = !string.IsNullOrEmpty(Convert.ToString(Request.QueryString[WebStoreConstants.PageSize])) ? Request.QueryString[WebStoreConstants.PageSize] : !string.IsNullOrEmpty(Convert.ToString(SessionHelper.GetDataFromSession<int?>(WebStoreConstants.PageSizeValue))) ? Convert.ToString(SessionHelper.GetDataFromSession<int?>(WebStoreConstants.PageSizeValue)) : null;

    Dictionary<string, object> searchProperties = new Dictionary<string, object>();

    if (Request.QueryString[WebStoreConstants.PageSize] == null || Request.QueryString[WebStoreConstants.PageSize] == "")
    {
        searchProperties.Add(WebStoreConstants.PageSize, 40);
    }
    else
    {
        searchProperties.Add(WebStoreConstants.PageSize, Request.QueryString[WebStoreConstants.PageSize]);
    }

    //searchProperties.Add(WebStoreConstants.PageSize, pageSize);
    searchProperties.Add(WebStoreConstants.PageNumber, Request.QueryString[WebStoreConstants.PageNumber]);
    searchProperties.Add(WebStoreConstants.Sort, Request.QueryString[WebStoreConstants.Sort]);
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);

    searchProperties.Add("CategoryName", Model.CategoryName);
    searchProperties.Add("CategoryId", Model.CategoryId);
    searchProperties.Add("SEO", Model.SEODetails.SEOUrl);
    if (Model.ParentCategory.Count > 0)
    {
        CategoryViewModel ParentCategory = Model.ParentCategory.FirstOrDefault();
        searchProperties.Add("PCategoryName", ParentCategory.CategoryName);
        searchProperties.Add("PCategoryId", ParentCategory.CategoryId);
        searchProperties.Add("PSEO", ParentCategory.SEODetails.SEOUrl);
    }
    string NavigationLevel = Model.Attributes?.Value("NavigationLevel");

    //MvcHtmlString tempHtml;
    //if (NavigationLevel == "Top")
    //{
    //    tempHtml = @Html.WidgetPartial("CategoryGrid", "CategoryList", "123", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), Model.CategoryId);
    //}
    //else
    //{
    //    tempHtml = @Html.RenderPartial("_ProductGrid", Model.ProductListViewModel);
    //}
    string path = HttpContext.Current.Request.Url.ToString();

    string PLPcategoryBanner = "";
    string PLPCategoryBannerURL = "";
    string PLPCategoryBannerImageAltText = "";
    string defaultPrdImg = "";
    string defaultorgImg = "";
    PLPcategoryBanner = Model.Attributes?.Value("PLPcategoryBanner");

    if (PLPcategoryBanner != null)
    {
        PLPCategoryBannerURL = Model.Attributes?.Value("PLPCategoryBannerURL");
        PLPCategoryBannerImageAltText = Model.Attributes?.Value("PLPCategoryBannerImageAltText");

        defaultPrdImg = PLPcategoryBanner;
        defaultorgImg = PLPcategoryBanner;
        int indexnew = PLPcategoryBanner.LastIndexOf('/');
        string ProductorgImage = PLPcategoryBanner.Substring(indexnew + 1);
        defaultPrdImg = PortalAgent.CurrentPortal.MediaServerUrl + ProductorgImage;
    }


}
<style>
    .col-sm-3 {
        width: 21%;
    }

    .col-sm-9 {
        width: 79%;
    }
</style>
<div id="layout-category" data-category="@Model.CategoryName" data-categoryId="@Model.CategoryId" class="main-wrapper" data-dom-cache="true">

    <div class="container">
        <!-- Breadcrumb -->
        <div id="breadCrumb" class="breadcrumb-container" data-test-selector="lblBreadcrumb">
            @if (!string.IsNullOrEmpty(Model.BreadCrumbHtml))
            {
                @Html.RenderBlock(Model.BreadCrumbHtml)
            }
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!--Category Title Call in Mobile View-->
            <div class="col-lg-12 col-xs-12 visible-xs hidden-md hidden-lg hidden-sm">
                <h1 class="CategoryTitle" data-test-selector="lblCategoryName" style="margin-bottom:0px;">@Html.RenderBlock(Attributes.Value(Model.Attributes, "CategoryTitle"))</h1>
            </div>
            <aside class="col-xs-12 col-sm-12 col-md-3 col-lg-3 width-left side-bar margin-top padding-right-tab">
                <!--Mobile View Facet Calling Code-->
                <div class="col-xs-12 nopadding visible-xs hidden-md hidden-lg hidden-sm side-bar">
                    <a href="#" class="toggle narrow-results active" data-toggle="modal" data-target="#FacetModal">@WebStore_Resources.LabelNarrowResults</a>
                    <!-- Modal -->

                    <div id="FacetModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">@WebStore_Resources.LabelNarrowResults</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <z-widget>@Html.WidgetPartial("SubCategoryList", "SubCategoryList", "122", Model.CategoryName, Model.CategoryId, searchProperties)</z-widget>

                                            <div class="facets-content-area">
                                                @{Html.RenderPartial("_FacetList", Model.ProductListViewModel.SearchResultViewModel);}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                @if (NavigationLevel == "Top")
                {
                    <div class="hidden-xs visible-lg visible-md visible-sm">
                        <z-widget>@Html.WidgetPartial("SubCategoryList", "SubCategoryList", "122", Model.CategoryName, Model.CategoryId, searchProperties)</z-widget>
                    </div>
                }
                else
                {
                    /*Need to work on this*/
                    <div class="hidden-xs visible-lg visible-md visible-sm">
                        <z-widget>@Html.WidgetPartial("SubCategoryList", "SubCategoryList", "122", Model.CategoryName, Model.CategoryId, searchProperties)</z-widget>
                    </div>
                }

                <div class="hidden-xs visible-lg visible-md visible-sm">
                    <div class="facets-content-area">
                        @if (NavigationLevel != "Top")
                        {
                            Html.RenderPartial("_FacetList", Model.ProductListViewModel.SearchResultViewModel);
                            @*@{Html.RenderPartial("_FacetList", Model.ProductListViewModel.SearchResultViewModel);}*@
                        }

                    </div>
                </div>
                <div class="col-xs-12 nopadding">
                    <div id="compareProductList">
                    </div>
                </div>
            </aside>
            <div id="MiddleColumn" class="col-xs-12 col-sm-12 col-lg-9 col-md-9 width-right category-landing-container CategoryDetail" itemscope itemtype="http://schema.org/ItemList">
                <div class="col-xs-12 nopadding brand-banner">
                    <!--Category Title Call in Desktop/Laptop/Tab View-->
                    <h1 class="CategoryTitle hidden-xs" data-test-selector="lblCategoryName" itemprop="name">@Html.RenderBlock(Attributes.Value(Model.Attributes, "CategoryTitle"))</h1>

                    <!--Long Discription-->
                    <div class="text-container hidden-xs">
                        <div id="content" class="text-content short-text textshowless" itemprop="description">
                            @Html.RenderBlock(Attributes.Value(Model.Attributes, "LongDescription"))
                        </div>
                        <div class="show-more">
                            <a href="javascript:void(0);" class="lessMoreText" style="font-weight:normal;">Show more ></a>
                        </div>
                    </div>
                    <div class="Description hidden-xs">
                        <div class="PromiseBanner">
                            @Html.RenderMessage("SearchResultpageRogansPromise")
                        </div>
                    </div>
                    <!--PLP Banner Code by Nivi-->
                    @if (PLPcategoryBanner != null)
                    {
                        <div class="col-xs-12 nopadding margin-bottom margin-top">
                            <a href="@PLPCategoryBannerURL">
                                <img data-test-selector="imgCategory" src="@defaultPrdImg" class="img-responsive" data-src="@defaultPrdImg" alt="@PLPCategoryBannerImageAltText.Replace("&amp;", "&")" title="@PLPCategoryBannerImageAltText.Replace("&amp;", "&")" />
                            </a>
                        </div>
                    }

                    @if (NavigationLevel == "Top")
                    {

                        <z-widget>@Html.WidgetPartial("CategoryGrid", "CategoryList", "123", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), Model.CategoryId)</z-widget>
                    }
                    else
                    {
                        Html.RenderPartial("_ProductGrid", Model.ProductListViewModel);
                    }

                    @*<z-widget>@tempHtml</z-widget>*@
                    <label class="hidden" itemprop="url">@path</label>
                </div>
                @if (Convert.ToInt32(searchProperties[WebStoreConstants.PageSize]) != -1 && (Convert.ToInt32(TempData[WebStoreConstants.ProductCount]) > 0))
                {
                    if (!Helper.InfinityLoading && (Convert.ToInt32(TempData[WebStoreConstants.TotalProductCount]) > Convert.ToInt32(searchProperties[WebStoreConstants.PageSize])))
                    {
                        <div class="col-xs-12 nopadding">
                            <div class="category-more text-center margin-top-bottom">
                                <a href="@domainurl@Url.Action("Index","Category", new { category = Model.CategoryName, categoryId = Model.CategoryId, viewAll = true })" class="btn btn-primary">
                                    @WebStore_Resources.LabelViewAll @Html.RenderBlock(Model.CategoryName)
                                </a>
                            </div>
                        </div>
                    }
                }

            </div>

            <!--Long Discription for Mobile-->
            <div class="col-xs-12 col-lg-12">
                <div class="text-container visible-xs hidden-lg hidden-md hidden-lg">
                    <div id="contentmob" class="text-content short-text textshowlessmob">
                        @Html.RenderBlock(Attributes.Value(Model.Attributes, "LongDescription"))
                    </div>
                    <div class="show-moremob">
                        <a href="javascript:void(0);" class="lessMoreTextmob" style="font-weight:normal;">Show more ></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 hidden-xs">
                <z-widget class="category-recent-view-list">@Html.WidgetPartial("RecentlyViewProduct", "RecentlyViewProduct", "126", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())</z-widget>
            </div>
        </div>
        <input type="hidden" value="@Model.CategoryId" id="categoryId" />
        <input type="hidden" value="0" id="parentCategoryId" />
        <!--Declare this hidden field hide Gender Facet for Mens & Womens-->
        <input type="hidden" value="@Model.SEODetails.SEOUrl" id="facetcaturl" />
    </div>

</div>


<!--Show More Show Less Javascript Nivi Code-->
<script>
    $(document).ready(function () {
        /*Replacing space with blank in description*/
        $("#content").html($("#content").html().replace("&nbsp;", " ").trim()); var count = $("#content").height(); $(".textshowlessmob").html($(".textshowlessmob").html().replace("&nbsp;", " ").trim()); var countnew = $(".textshowlessmob").height(); if (0 == countnew) { var defaultHeight = 58, text = $(".textshowless"), textHeight = text[0].scrollHeight, button = $(".lessMoreText"); text.css({ "max-height": defaultHeight, overflow: "hidden" }), button.on("click", function () { var t = 0; text.hasClass("active") ? (t = defaultHeight, text.removeClass("active"), $(".lessMoreText").html("Show more >")) : (t = textHeight, text.addClass("active"), $(".lessMoreText").html("Show less")), text.animate({ "max-height": t }, 0), console.log(t) }), count > 70 ? $(".show-more").show() : $(".show-more").hide() } else { var defaultHeightmob = 20, textmob = $(".textshowlessmob"), textHeightmob = textmob[0].scrollHeight; button = $(".lessMoreTextmob"); textmob.css({ "max-height": defaultHeightmob, overflow: "hidden" }), button.on("click", function () { var t = 0; textmob.hasClass("activemob") ? (t = defaultHeightmob, textmob.removeClass("activemob"), $(".lessMoreTextmob").html("Show more >")) : (t = textHeightmob, textmob.addClass("activemob"), $(".lessMoreTextmob").html("Show less")), textmob.animate({ "max-height": t }, 0), console.log(t) }), countnew > 70 ? $(".show-moremob").show() : $(".show-moremob").hide() }
    })
</script>
<!--Facet call in Modal in Mobile View-->
<script>
    $(document).ready(function () {
        function togglePanel() { var w = $(window).width(); if (w <= 600) { $("#FacetModal").add() } else { $("#FacetModal").remove() } }
        $(window).resize(function () { togglePanel() }); togglePanel()
    })
</script>

