﻿@model Znode.Engine.WebStore.ViewModels.CartItemViewModel
@{

    int productId = Model.ParentProductId > 0 ? Model.ParentProductId : !string.IsNullOrEmpty(Model.ProductId) ? Convert.ToInt32(Model.ProductId) : 0;
    string _displayRemoveLink = Request.Path.Contains("Checkout") ? Model.IsAllowedTerritories ? "display:none" : "" : "";
}
<div class="row b2b-cart-row align-items-center">
    <div class="b2b-remove-item" style="@_displayRemoveLink">
        @using (Html.BeginForm("RemoveCartItem", "Cart", new { guid = Model.ExternalId }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <a href="JavaScript:void(0);" class="cart-item-remove" onclick="javascript:$($(this).closest('form').submit());" title="Remove Item"><span class="close-circle-icon"></span></a>
        }
    </div>
    <div class="b2b-cart-item-details">
        <a href="@Url.GetProductUrl(Model?.SeoPageName, productId.ToString())"><img src="@Model.ImagePath" data-src="@Model.ImagePath" class="img-fluid b-lazy" alt=""></a>
        <div class="cart-description d-flex flex-wrap align-content-center">
            <a href="@Url.GetProductUrl(Model?.SeoPageName, productId.ToString())" class="cart-item-title">@Html.RenderBlock(Model.ProductName)</a>

            <div class="col-12 p-0 cart-item-description">
                @if (Model?.PersonaliseValuesDetail?.Count > 0)
                {
                    foreach (var item in Model.PersonaliseValuesDetail)
                    {
                        if (!Equals(item.PersonalizeCode, null) && !Equals(item.PersonalizeValue, string.Empty))
                        {
                            <p>@item.PersonalizeCode : @item.PersonalizeValue</p>
                        }
                    }
                }
            </div>
            <div class="col-12 p-0 group-product-list">
                @if (Model?.GroupProducts?.Count > 0)
                {
                    foreach (var item in Model.GroupProducts)
                    {
                        <p><span class="right-icon"></span>@Html.RenderBlock(item.ProductName)</p>
                    }
                }
            </div>
            <div class="col-12 p-0 cart-item-description">@Html.RenderBlock(Model.CartDescription)</div>
            @if (!Model.IsAllowedTerritories)
            {
                <div id="dynamic-allowesterritories" class="status-outofstock hvr-pulse error-msg">@WebStore_Resources.AllowedTerritoriesProductError</div>
            }
        </div>
    </div>
    <div class="w-100 d-md-none"></div>
    <div class="b2b-col-width pl-4 pb-4 p-md-0 cart-item-unitprice">
        @if (Model?.GroupProducts?.Count > 0)
        {
            foreach (var item in Model.GroupProducts)
            {
                <div class="b2b-col-item-title">@WebStore_Resources.LabelTierPrice</div>
                if (Request.IsAuthenticated)
                {
                    @Helper.FormatPriceWithCurrency(Model.UnitPrice, Model.CurrencyCode)
                }
                else
                {
                    <div class="loged-out-product-details p-0">
                        <div class="loged-out-product-text">
                            <a href="JavaScript:void(0);" data-target="#sign-in-nav" class="OpenNav" onclick="User.prototype.LoginInPopup()">Sign in</a>
                            or
                            <a href="/User/Signup/@("?returnUrl=" + HttpContext.Current.Request.Url.LocalPath.ToString())">register</a>
                        </div>
                    </div>
                }
            }
        }
        else
        {
            <div class="b2b-col-item-title">@WebStore_Resources.LabelTierPrice</div>
            if (Request.IsAuthenticated)
            {
                @Helper.FormatPriceWithCurrency(Model.UnitPrice, Model.CurrencyCode, Model.UOM)
            }
            else
            {
                <div class="loged-out-product-details p-0">
                    <div class="loged-out-product-text">
                        <a href="JavaScript:void(0);" data-target="#sign-in-nav" class="OpenNav" onclick="User.prototype.LoginInPopup()">Sign in</a>
                        or
                        <a href="/User/Signup/@("?returnUrl=" + HttpContext.Current.Request.Url.LocalPath.ToString())">register</a>
                    </div>
                </div>
            }
        }
    </div>
    <div class="b2b-col-width pb-4 p-md-0 cart-item-quantity">
        <div class="b2b-col-item-title">@WebStore_Resources.ColumnTitleQuantity</div>
        @Html.Partial("_Quantity", Model)
    </div>
    <div class="b2b-col-width pb-4 p-md-0 cart-item-total">
        <div class="b2b-col-item-title">@WebStore_Resources.ColumnTitleTotal</div>
        @if (Request.IsAuthenticated)
        {
            @Helper.FormatPriceWithCurrency(Model.ExtendedPrice, Model.CurrencyCode)
        }
        else
        {
            <div class="loged-out-product-details p-0">
                <div class="loged-out-product-text">
                    <a href="JavaScript:void(0);" data-target="#sign-in-nav" class="OpenNav" onclick="User.prototype.LoginInPopup()">Sign in</a>
                    or
                    <a href="/User/Signup/@("?returnUrl=" + HttpContext.Current.Request.Url.LocalPath.ToString())">register</a>
                </div>
            </div>
        }
    </div>
</div>
<script>
    jQuery('img').on('error', function (e) {
        this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";
    });
</script>