﻿@using Znode.Engine.WebStore.ViewModels

@model IEnumerable<CategorySubHeaderViewModel>
@foreach (var subCategory in Model)
{
    <li class="itemLevel4" style="margin: 0px 0 6px;">
        <a href="@Url.GetCategoryUrl(subCategory.SEOPageName, null,subCategory.CategoryId)">@WebUtility.HtmlDecode(subCategory.CategoryName)</a>
    </li>
}