﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Agents
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;
    string title = PortalAgent.CurrentPortal.WebsiteTitle;
}
@model CategoryHeaderListViewModel
@{
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}


<!--Desktop Manu Code here-->
    <span class="hidden-xs">
        <ul class="nav navbar-nav" id="tempnone" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
           
            @{
                if (Model?.BrandList?.Count > 0)
                {
                    <li class="dropdown mega-dropdown" onClick="location.href = '/Brand/List'">
                        <a href="/Brand/List" data-test-selector="linkBrand" class="dropdown-toggle" itemprop="url" data-toggle="dropdown" title="@WebUtility.HtmlDecode(WebStore_Resources.LabelBrands)">@WebUtility.HtmlDecode(WebStore_Resources.LabelBrands)</a>
                        <ul class="dropdown-menu mega-dropdown-menu hidden-xs">
                            <li>
                                @foreach (var brand in Model.BrandList.OrderBy(x => x.DisplayOrder).ToList().Take(39))
                                {
                                            <!--Columns-->
                                    <div class="submenu-section" style="margin: 7px 0;">
                                        <div class="submenu-block clearfix">
                                            <div class="content-section">
                                                <ul class="col-sm-3 list-unstyled">
                                                    <li>
                                                        <ul class="content-list-block">
                                                            @*<li><a data-test-selector="linkBrandItems" href="@Url.GetBrandUrl(brand.SEOFriendlyPageName, null, brand.BrandId)" title="@WebUtility.HtmlDecode(brand.BrandName)">@WebUtility.HtmlDecode(brand.BrandName)</a></li>*@
                                                            <li><a data-test-selector="linkBrandItems" data-testing="@brand.Custom3" itemprop="url" href="/@brand.Custom3" title="@WebUtility.HtmlDecode(brand.BrandName)">@WebUtility.HtmlDecode(brand.BrandName)</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </li>
                            <li>
                                <a class="see-all" data-test-selector="linkBrandViewAll" href="/Brand/List" itemprop="url" title="@WebStore_Resources.LabelViewAllBrands">@WebStore_Resources.LabelViewAllBrands </a>
                            </li>
                        </ul>
                    </li>
                }
                foreach (var category in Model.Categories)
                {
                    if (category.CategoryName == "Shop by Brand") { continue; }
                    string catname = category.Attributes.FirstOrDefault(w => w.AttributeCode == "CategoryNavName")?.AttributeValues;
                    string categoryTitle = category.Attributes.FirstOrDefault(w => w.AttributeCode == "CategoryTitle")?.AttributeValues;
                    string visibleInNav = category.Attributes.FirstOrDefault(w => w.AttributeCode == "IsUsedInNavigation")?.AttributeValues;
                    //string catname = category.CategoryName

                    if (visibleInNav == "true" || visibleInNav == "1")
                    {
                        <li class="dropdown mega-dropdown" onClick="location.href = '@Url.GetCategoryUrl(category.SEOPageName, null, category.CategoryId)'">
                            <a data-test-selector="linkCategoryItem" itemprop="url" href="@Url.GetCategoryUrl(category.SEOPageName, null, category.CategoryId)" class="dropdown-toggle head" data-toggle="dropdown" title="@Html.RenderBlock(WebUtility.HtmlDecode(categoryTitle))">@Html.RenderBlock(WebUtility.HtmlDecode(catname))</a>
                           @if (!Equals(category.SubCategoryItems, null) && category.SubCategoryItems.Count > 0)
                            {
                                <ul class="dropdown-menu mega-dropdown-menu">
                                    @Html.Partial("_HeaderSubNav", category.SubCategoryItems)
                                </ul>
                            }
                        </li>
                        
                        }

                   }
                }
        </ul>
    </span>
   

<!--Mobile Manu Code here-->
    <span class="visible-xs hidden-lg hidden-md">
        @{Html.RenderPartial("_MobileNav");}
    </span>


<script>
    //Call Border bottom line in Mega dropdown on hover
    $(document).ready(function () { $(".mega-dropdown, .mega-dropdown-menu").mouseover(function () { $(".mega-dropdown a").css("border-bottom", "0px solid #fff"); $(this).find("a").css("border-bottom", "3px solid #fff") }); $(".mega-dropdown-menu, .mega-dropdown").mouseout(function () { $(".mega-dropdown a").css("border-bottom", "0px solid #fff") }) });
    //Remove Tab view Onlick <li>
    $(document).ready(function () { var checkWidth = $(document).width(); if (checkWidth <= 1199) { $("li").removeAttr("onclick"); if (checkWidth = 768) { $('ul li:last-child').click(function () { location.href = $(this).find("a").attr("href") }) } } })
    
</script>