﻿@using Znode.Engine.Admin.ViewModels;
@model AddonGroupListViewModel
<div id="@Model.GridModel.FrontObjectName">
    <div id="aside-popup-panel">
        <div class="col-sm-12 title-container">
            <h1>@PIM_Resources.LabelAssociateAdddonGroup</h1>
            <div class="pull-right">
                <button type="button" class="btn-text-icon" onclick="ZnodeBase.prototype.CancelUpload('UnassociatedAddonGroups')"><i class='z-back' data-test-selector="popLinkCancel"></i>@Admin_Resources.ButtonCancel</button>
                <div class="pull-right" data-test-selector="popLinkSave">
                    @Html.AuthorizedPrototypeRawActionLink(Admin_Resources.ButtonSave, "AssociateAddonGroup", "Products", "btn-text btn-text-secondary dirtyignore", "Products.prototype.AssociateAddonGroup()")
                </div>
            </div>
        </div>
        <div class="col-sm-12 page-container">
            <div id="AssociateAddonGroupError" class="error-msg text-center margin-bottom" style="display:none">
                @PIM_Resources.ErrorSelectAddonsGroups
            </div>
            @using (Ajax.BeginForm("GetUnassociatedAddonGroups", "Products", new { parentProductId = Model.ParentProductId }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }            
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
        </div>
    </div>
</div>