﻿@using Znode.Engine.WebStore.Models
@model List<BaseDropDownOptions>


<div class="col-xs-12 nopadding" id="allPaymentOptionsDiv">
    <h3 class="title"><span>4</span>@WebStore_Resources.SinglePageCheckoutPaymentMethod</h3>
    @using (Ajax.BeginForm("GetPaymentProvider", "Checkout", new AjaxOptions() { UpdateTargetId = "payment-provider-content" }))
            {
        @Html.Hidden("paymentOptionsId", new { @id = "paymentOptionsId" });

                foreach (var option in Model)
                {
            <div class="col-xs-12 nopadding styled-input">
                <input type="radio" id="@option.Id" name="PaymentOptions" value="@option.Value" onclick="Checkout.prototype.ShowPaymentOptions(this);" />
                <label for="@option.Id">@option.Text</label>
            </div>
        }

        <div id="div-CreditCard" class="credit-card-container HidePaymentTypeDiv" style="display:none;">
            <div class="col-xs-12 nopadding">
                <div class="Tab-container dynamic-tabs margin-top">
                    <ul id="creditCardTab" class="nav nav-tabs">
                        <li class="active"><a href="#savedCreditCard-panel" data-toggle="tab" class="tabs">@WebStore_Resources.LabelSavedCC</a></li>
                        <li><a href="#addNewCreditCard-panel" data-toggle="tab" class="tabs">@WebStore_Resources.AddNewCreditCardDetails</a></li>
                    </ul>
                    <div id="creditCardPanel" class="tab-content clearfix">
                        <!--Panels 1-->
                        <div class="tab-pane fade in active" id="savedCreditCard-panel">
                            <div id="radioCCList">
                            </div>
                        </div>
                        <!--Panels 2-->
                        <div class="tab-pane fade" id="addNewCreditCard-panel">
                            <h3 class="section-heading">@WebStore_Resources.LabelCreditCardDetails</h3>
                            <div class="col-sm-12 save-cart nopadding">
                                <div id="paymentProviders">
                                </div>
                            </div>
                            <div id="credit-card-div" class="col-xs-12 nopadding">
                                <div class="form-group">
                                    <div class="col-sm-12 nopadding">
                                        <div class="control-label">
                                            <label class="required">@WebStore_Resources.SinglePageCheckoutCreditCardNoTitle</label>
                                        </div>
                                        <div class="control-md">
                                            <input type="text" data-payment="number" class="creditCardPayment" id="CredidCardNumber" />
                                            <div id="errornumber" class="field-validation-error" style="display: none">@WebStore_Resources.ErrorCardNumber</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12 nopadding">
                                        <div class="control-label">
                                            <label class="required">@WebStore_Resources.SinglePageCheckoutCreditCardExpirationDate</label>
                                        </div>
                                        <div class="control-md">
                                            <div class="col-xs-2 nopadding"><input type="text" id="CredidCardExpMonth" maxlength="2" data-payment="exp-month" class="creditCardPayment" /><span class="sub">(MM)</span></div>
                                            <div class="col-xs-3 col-md-4 "><input type="text" id="CredidCardExpYear" maxlength="4" data-payment="exp-year" class="creditCardPayment" /><span class="sub">(YYYY)</span></div>
                                            <div class="col-xs-12 nopadding">
                                                <div id="errormonth" class="field-validation-error" style="display: none">@WebStore_Resources.ValidationEnterValidDate</div>
                                                <div id="erroryear" class="field-validation-error" style="display: none">@WebStore_Resources.ValidationEnterValidYear</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12 nopadding">
                                        <div class="control-label">
                                            <label class="required">@WebStore_Resources.SinglePageCheckoutCreditCardSecurityNo</label>
                                        </div>
                                        <div class="control-md">
                                            <input type="password" id="CredidCardCVCNumber" data-payment="cvc" maxlength="4" class="creditCardPayment" />
                                            <span class="sub">@WebStore_Resources.HintTextCreditCardSecurityNumber</span>
                                            <div id="errorcvc" class="field-validation-error" style="display: none">@WebStore_Resources.ErrorValidCVC</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="Save-credit-cardholder-name">
                                    <div class="col-sm-12 nopadding">
                                        <div class="control-label">
                                            <label class="required">@WebStore_Resources.CreditCardHolderName</label>
                                        </div>
                                        <div class="control-md">
                                            <input type="text" id="CardHolderName" data-payment="cardholderName" maxlength="100" class="form-input-long" />
                                            <div id="errorcardholderName" class="field-validation-error" style="display: none">@WebStore_Resources.ErrorCardHolderName</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="Save-credit-card">
                                    <div class="col-sm-12 nopadding">
                                        <div class="control-md control-non styled-input">
                                            <input id="SaveCreditCard" name="SaveCreditCard" type="checkbox">
                                            <label for="SaveCreditCard">@WebStore_Resources.SaveCreditCardForFutueUse</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Gateway Information*@
            @Html.Hidden("GatewayCurrencyCode", "USD")
            @Html.Hidden("paymentProfileId")
            @Html.Hidden("hdnGatwayName")
            @Html.Hidden("hdnPaymentApplicationSettingId")
            @Html.Hidden("hdnEncryptedTotalAmount")
        </div>

        @*PayPal Express*@
        <div id="paypal-button" style="display:none"></div>
        @Html.Hidden("PaymentSettingId")
    }
    <div id="payment-provider-content">
    </div>
</div>

<script>
    paypal.Button.render({
        env: 'sandbox', // Or 'production'
        commit: true, // Show a 'Pay Now' button
        payment: function () {
            Checkout.prototype.ShowLoader();
            var paypalResponse = Checkout.prototype.OnClickPayPalExpress();
            Checkout.prototype.HideLoader();
            return paypalResponse[1];
        },
        onAuthorize: function (data, actions) {
            Checkout.prototype.ShowLoader();
            window.location.href = data.returnUrl;           
        }
    }, '#paypal-button');
</script>
