﻿@model Znode.Engine.Admin.ViewModels.PaymentSettingViewModel

<div class="form-group">
    <div class="col-sm-12 nopadding">
        <div class="control-label">
            @Html.Label(@Admin_Resources.LabelMerchantLogin, new { @class = "required", @data_test_selector = "lblMerchantLogin" })
        </div>
        <div class="control-md">
            @Html.TextBoxFor(m => Model.GatewayUsername, new { required = "required", @data_test_selector = "txtMerchantLogin" })
            @Html.ValidationMessageFor(m => Model.GatewayUsername, @Admin_Resources.MerchantLoginName, new { @data_test_selector = "valMerchantLogin" })
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-12 nopadding">
        <div class="control-label">
            @Html.Label(@Admin_Resources.LabelMerchantaccountpassword, new { @class = "required", @data_test_selector = "lblMerchantAccountPassword" })
        </div>
        <div class="control-md">
            @Html.PasswordFor(m => Model.GatewayPassword, new { required = "required", @maxlength = 50, @data_test_selector = "txtMerchantAccountPassword" })
            @Html.ValidationMessageFor(m => Model.GatewayPassword, @Admin_Resources.MerchantPassword, new { @data_test_selector = "valMerchantAccountPassword" })
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-12 nopadding">
        <div class="control-label">
            @Html.Label(@Admin_Resources.LabelPartner, new { @class = "required", @data_test_selector = "lblPartner" })
        </div>
        <div class="control-md">
            @Html.TextBoxFor(m => Model.Partner, new { required = "required", @data_test_selector = "txtPartner" })
            @Html.ValidationMessageFor(m => Model.Partner, @Admin_Resources.Partner, new { @data_test_selector = "valPartner" })
        </div>
        @Html.Partial("_HelpText", Admin_Resources.HelptextPartnerMessage)
    </div>
</div>
