﻿@using Znode.Engine.WebStore.ViewModels

@model CaseRequestViewModel
@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Themes/ModernB2C/Views/Shared/_Layout.cshtml";
}
<div id="layout-contactus" class="main-wrapper">

    <div class="container">
        <div class="row contain-pages">
            <div class="col-xs-12 nopadding md-page-title-div">
                <h2 class="md-page-title">@WebStore_Resources.LinkTextContactus</h2>
            </div>
            <div class="col-xs-12 nopadding border-top padding-top">
                <div class="col-xs-12 col-md-7 col-lg-6 nopadding">
                    @using (Html.BeginForm("contactus", "CaseRequest", FormMethod.Post, new { @id = "frmCreateCaseRequest" }))
                    {
                        @Html.AntiForgeryToken()
                        <p class="margin-bottom">@WebStore_Resources.HeaderTextContactUs</p>
                        <div class="form-group">
                            <div class="col-sm-12 nopadding">
                                @Html.Label(WebStore_Resources.LabelFirstName, new { @class = "required" })
                            </div>
                            <div class="col-sm-12 nopadding">
                                @Html.TextBoxFor(model => model.FirstName, new { @maxlength = 100, @id = "valFirstName" })
                                <span id="valFirstNameErr" class="field-validation-error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 nopadding">
                                @Html.Label(WebStore_Resources.LabelLastName, new { @class = "required" })
                            </div>
                            <div class="col-sm-12 nopadding">
                                @Html.TextBoxFor(model => model.LastName, new { @maxlength = 100, @id = "valLastName" })
                                <span id="valLastNameErr" class="field-validation-error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 nopadding">
                                @Html.Label(WebStore_Resources.ColumnCompanyName)
                            </div>
                            <div class="col-sm-12 nopadding">
                                @Html.TextBoxFor(model => model.CompanyName, new { @maxlength = 100 })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 nopadding">
                                @Html.Label(WebStore_Resources.LabelEmailAddress, new { @class = "required" })
                            </div>
                            <div class="col-sm-12 nopadding">
                                @Html.TextBoxFor(model => model.EmailID, new { @maxlength = 200, @id = "valEmail" })
                                <span id="valEmailErr" class="field-validation-error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 nopadding">
                                @Html.Label(WebStore_Resources.LabelPhoneNumber, new { @class = "required" })
                            </div>
                            <div class="col-sm-12 nopadding">
                                @Html.TextBoxFor(model => model.PhoneNumber, new { @maxlength = 20, @id = "valPhoneNum" })
                                <span id="valPhoneNumErr" class="field-validation-error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 nopadding">
                                @Html.LabelFor(x => x.Description, new { @class = "required" })
                            </div>
                            <div class="col-sm-12 nopadding">
                                @Html.TextAreaFor(model => model.Description, new { @id = "valComment" })
                                <span id="valCommentErr" class="field-validation-error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="pull-right margin-top-bottom">
                                <button type="submit" class="btn-text btn-color-primary" id="contact-us">@WebStore_Resources.ButtonSubmit</button>
                                <a href="/Home/Index" class="btn-text btn-color-secondary">@WebStore_Resources.ButtonCancel</a>
                            </div>
                        </div>
                        if (Model?.HasError ?? false && Model?.CaseRequestID > 0)
                        {
                            <div class="col-xs-12 nopadding">
                                @Html.Label("", WebStore_Resources.SuccessMessageContactUs)
                            </div>
                        }
                        else if (Model?.HasError ?? false)
                        {
                            <div class="col-xs-12 nopadding">
                                @Html.Label("", WebStore_Resources.MessageFailedToSendRequest)
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#frmCreateCaseRequest").submit(function (event) {
        $("#contact-us").prop("disabled", true).addClass("disabled");
    });
</script>