﻿@model WidgetParameter

<div class="sub-categpry-content-area col-xs-12 nopadding" style="position:relative;">
    <div class='loader-inner notransition' style='display:flex;justify-content:center;align-items:center;min-height:300px;'>
        <img src='~/Views/Themes/Default/Images/loading.gif' alt='Loading' class='dashboard-loader' />
    </div>
</div>
<script>$.ajax({ url: "/Search/GetSubCategories?cMSMappingId=" +@Model.CMSMappingId +"&displayName=" + '@Model.DisplayName' + "&typeOfMapping=" + '@Model.TypeOfMapping' + "&widgetCode=" + '@Model.WidgetCode' + "&widgetKey=" + '@Model.WidgetKey', type: "get" }).done(function (t) { $(".sub-categpry-content-area").html(t); });</script>

