﻿@using Znode.Engine.WebStore.ViewModels
@model WidgetCategoryListViewModel

@if (Model?.Categories?.Count > 0)
{
    @*<h3 class="product-list-title">@Html.RenderMessage(WebStoreConstants.Category)</h3>*@

    <div class="product-list-widget">
        <div class="owl-carousel owl-theme Link_Products_Widget" id="CategoryHomeImage">
            @foreach (var category in Model.Categories)
                {
                    if (!Equals(category.CategoryViewModel, null))
                    {
                    @Html.Partial("_CategoryList", category.CategoryViewModel)
                }
            }
        </div>

    </div>

    <script>
        $(document).ready(function () {
            var checkWidth = $(document).width();
            if (checkWidth <= 1199) {
                $("#CategoryHomeImage").owlCarousel({
                    loop: false,
                    margin: 10,
                    navigation: true,
                    navigationText: [
                        "<i class='fa fa-arrow-circle-left font-sizehome'></i>",
                        "<i class='fa fa-arrow-circle-right font-sizehome'></i>"
                    ],
                    itemsCustom: [
                      [0, 1],
                      [320, 1],
                      [480, 1],
                      [600, 3],
                      [768, 3],
                      [992, 4],
                      [1200, 9]
                    ]
                });
            }

        });
    </script>

}
