﻿@using Znode.Engine.WebStore.ViewModels
@model BlogNewsViewModel
@using Znode.Engine.WebStore.Agents
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string imagePath = PortalAgent.CurrentPortal.MediaServerUrl;
}
<!-- Breadcrumbs -->
<div class="container-fluid breadcrumb-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 nopadding">
                <div id="breadCrumb"><a href="/">Home</a> / <a href="/@Model.BlogNewsType"> @Model.BlogNewsType </a>/ @Model.BlogNewsTitle</div>
            </div>
        </div>
    </div>
</div>
<div class="main-wrapper">
    <div class="container">
        <div class="row contain-pages">
            <div class="col-xs-12 nopadding">
                <div class="col-xs-12 nopadding padding-bottom blog-news">
                    <div id="comments-section" class="success-msg"></div>
                    @if (!Equals(Model.MediaPath, null))
                    {
                        <img src="@imagePath/@Model.MediaPath" class="img-responsive img-thumbnail" data-src="@imagePath/@Model.MediaPath" alt="Image" title="@Model.BlogNewsTitle" />
                    }
                    <div class="col-xs-12 nopadding md-blog-details">
                        <div class="col-xs-12 nopadding md-blog-title">
                            <h2>@Model.BlogNewsTitle</h2>
                        </div>
                        <div class="col-xs-12 nopadding md-blog-all-info">
                            <span><i class="zf-calendar"></i> @Model.CreatedDate.ToDateTimeFormat()</span>
                            @if (!string.IsNullOrEmpty(Model?.Tags))
                            {
                                <span><i class="zf-md-tag"></i> @Model.Tags</span>
                            }
                        </div>
                        <div class="col-xs-12 nopadding md-blog-complete-overview">
                            <p>@Model.BodyOverview</p>
                        </div>
                        <div class="col-xs-12 nopadding md-blog-complete-overview">
                            <p>@Html.Raw(Model.BlogNewsContent)</p>
                        </div>

                        @if (Model.IsAllowGuestComment)
                        {
                            using (Ajax.BeginForm("SaveComments", "BlogNews", null, new AjaxOptions
                            {
                                HttpMethod = "POST",
                                OnSuccess = "BlogNews.prototype.SavedCommentSuccessMessage",
                                UpdateTargetId = "comments-display-section"
                            }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("BlogNewsId", Model.BlogNewsId)

                                <div class="col-xs-12 nopadding md-blog-title">
                                    <h2>@WebStore_Resources.TextLeaveComment</h2>
                                </div>
                                <div class="col-xs-12 col-sm-6 nopadding margin-bottom">
                                    @Html.TextAreaFor(model => model.BlogNewsComment, new { @rows = "10" })
                                    @Html.ValidationMessageFor(m => m.BlogNewsComment)
                                </div>
                                <div class="col-xs-12 nopadding">
                                    <button type="submit" class="btn-text btn-color-primary btn-margin-left">Add Comment</button>
                                </div>
                            }

                            <div id="comments-display-section" class="col-xs-12 nopadding margin-top-bottom">
                                @{
                                    Html.RenderPartial("~/Views/Themes/ModernB2C/Views/BlogNews/_ComentDisplaySection.cshtml", Model.Comments);
                                }
                            </div>
                                    }

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
