﻿<nav class="header-nav yamm" role="navigation">
    <div class="container">
        <div class="row">
            <div class="navbar-collapse collapse" id="navbar-collapse-nav" data-test-selector="divHeaderCategList">
                @{ Html.RenderAction("TopLevelList", "Category", new { profileId = Helper.GetProfileId(),portalId=Helper.GetCurrentPortalId() }); }
                <a data-test-selector="linkCategoryMenuNextItems" href="javascript:void(0);" class="control_next nav-drop pull-right"><i class="zf-text-view nav-drop-icon"></i></a>
            </div>
        </div>
    </div>
    <div class="container nav-drop-container">
        <ul id="others-menu" class="dropdown-menu dropdown-inner" style="display:none"></ul>
    </div>
</nav>
