﻿.site-search{display:flex;flex-grow:0;position:initial;
    z-widget{display:none;height:100%;position:absolute;top:100%;background:$white;width:98%;box-shadow:$box-shadow;left:50%;transform:translate(-50%, 0);z-index:1;}
    .search-widget{padding:0 10px;width:100%;display:flex;height: 100%;
        form{width:100%;align-self:center;}
        input{padding-left:35px;height:28px;}
        .b2b-search-btn{padding:2px 10px;position:absolute;top:0;left:0;background:transparent;border:0;font-size:$base-font-size + 2;color:$base-tertiary;cursor:pointer;}
    }
}
.twitter-typeahead{width:100%;}

@include screensize(small){
    .site-search{display:block;flex-grow:1;
        z-widget{display:flex!important;position:relative;top:0;width:auto;box-shadow:none;left:0;transform:translate(0,0);}
        .search-widget{
            input{padding-left:35px;height:28px;}
        }
    }
}

@include screensize(medium){
    .site-search .search-widget{padding:0 20px 0 20px;
        input{height:38px;}
        .b2b-search-btn{padding:7px 10px;}
    }
}

@include screensize(desktop){
    .site-search .search-widget{padding-left:75px;}
}

@include screensize(xx-large){
    .site-search .search-widget{max-width:575px;}
}
