﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@{
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
}
<div id="layout-product" class="product-meta medium-view-template" data-id="@productId">
    <!-- Breadcrumb -->
    <div class="container-fluid breadcrumb-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 nopadding">
                    <div id="breadCrumb"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-9 product-view-details">
                    <!--Get Product Images-->
                    <div class="col-xs-12 col-sm-5 nopadding product-images">
                        @Html.Partial("_ProductImageZoomEffect", Model)
                    </div>
                    <!--Get Product details like short decription and higlights-->
                    <div class="col-xs-12 col-sm-7 nopadding product-overview">
                        @Html.Partial("_ProductOverview", Model)
                        @Html.Partial("_ProductInfo", Model)
                    </div>

                    <!--Get Product content like features and cutomer reviews-->
                    @Html.Partial("_ProductContent", Model)
                </div>
                <div class="col-xs-12 col-md-3 md-pdp-right-aside">
                    <div class="col-xs-6 col-md-12 nopadding md-product-support">
                        @Html.RenderMessage("ProductSupport")
                    </div>
                    <div class="col-xs-6 col-md-12 nopadding md-advertisement">
                        @Html.RenderMessage("Advertisement")
                    </div>
                </div>
            </div>
        </div>
        @Html.Hidden("categoryIds", string.Join(",", Model.CategoryHierarchy.Select(category => category.CategoryId)), new { @id = "categoryIds" })
        <div id="successMessageDiv" style="display:none">
        </div>
        <div id="divSendMail" style="display:none">
        </div>
    </div>
    <div class="container-fluid also-purchased">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 nopadding">
                    <div class="product-extras">
                        @Html.Partial("_ProductExtras", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        document.title = '@Model.SEOTitle';
        $('meta[name="keywords"]').prop("content", "@Html.Raw(Model.SEOKeywords)");
        $('meta[name="description"]').prop("content", "@Html.Raw(Model.SEODescription)");
    });
</script>

<!--Template Level Script-->
<script src="@Helper.GetThemeFilePath($"/Views/Themes/", "/Scripts/lib/easyzoom.js")"></script>
<script>
    // Instantiate EasyZoom instances
    var $easyzoom = $('.easyzoom').easyZoom();
    // Setup thumbnails example
    var api1 = $easyzoom.filter('.easyzoom-with-thumbnails').data('easyZoom');

    $('.item').on('click', 'a', function (e) {
        var $this = $(this);
        e.preventDefault();
        // Use EasyZoom's `swap` method
        api1.swap($this.data('standard'), $this.attr('href'));
    });
</script>
