﻿@using System.Linq;
@using Znode.Engine.WebStore.Agents
@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@{
	int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
}
<div id="layout-product" class="main-wrapper product-meta big-view-template" data-id="@productId">
    <div class="container">
        <!-- Breadcrumb -->
        <div data-test-selector="divBreadCrumb" id="breadCrumb" class="breadcrumb-container"></div>
    </div>
	<div class="container">
        <div id="ProductDetail" class="nopadding">
            <div class="product-view-details MainProductBlock clearfix">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <!--Get Product Images hidden in Mobile View-->
                        <div class="col-xs-12 col-md-7 hidden-xs margin-top nopadding-left product-images LeftColumn">
                            @Html.Partial("_ProductImage", Model)
                        </div>
                        <!--Get Product details like short decription and higlights-->
                        <div class="col-xs-12 col-md-5 nopadding product-overview RightColumn">
                            <div class="ajax" data-purpose="ProductOverviewDefault">
                                @*@Html.Partial("_ProductOverview", Model)*@
                            </div>       
                            @Ajax.Partial("ProductOverview", "ProductOverview", "RSProduct", new { id = ViewBag.ProductId, expands = "Promotions,Inventory,Pricing,AddOns,AssociatedProducts", seo = ViewBag.Seo, isquickview = ViewBag.IsQuickView, publishstate = PortalAgent.CurrentPortal.PublishState }, "[data-purpose='ProductOverviewDefault']")
                            
                            <span class="hidden-lg hidden-md visible-xs">@Html.Partial("_ProductImage", Model)</span>
                            <div class="ajax" data-purpose="ProductInfoDefault">
                                @*@Html.Partial("_ProductInfo", Model)*@
                            </div>
                            @Ajax.Partial("ProductInfo", "ProductInfo", "Product", new { id = ViewBag.ProductId, expands = "Promotions,Inventory,Pricing,AddOns,AssociatedProducts", seo = ViewBag.Seo, isquickview = ViewBag.IsQuickView, publishstate = PortalAgent.CurrentPortal.PublishState }, "[data-purpose='ProductInfoDefault']")
                        </div>

                        <!--Get Product content like features and cutomer reviews-->
                        @Html.Partial("_ProductContent", Model)
                        <div class="col-xs-12 nopadding">
                            <div class="product-extras">
                                @Html.Partial("_ProductExtras", Model)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
	@Html.Hidden("categoryIds", string.Join(",", Model.CategoryHierarchy.Select(category => category.CategoryId)), new { @id = "categoryIds" })
	<div id="successMessageDiv" style="display:none">
	</div>
	<div id="divSendMail" style="display:none">
	</div>

    <div class="hidestickybar" style="display:none" data-id="stickyBar">
        <div class="wcn-static-bar sticky-bar">
            <div class="container">
                <div class="col-lg-12 nopadding">
                    <div class="col-xs-11 col-sm-8 nopadding wcn-padding wcn-product-info">
                        <div class="pull-left padding-right">
                            <i class="zf-active"></i>
                        </div>
                        <div class="image">
                            <img src="" class="img-responsive" alt="@Html.RenderBlock(Model.Name)" title="@Html.RenderBlock(Model.Name)">
                        </div>
                        <div class="wcn-product-detail">
                            <div class="padding-left-10 nopadding-right-10"><span class="addtocart-label"></span></div>

                            <div class="padding-left-10 nopadding-right-10"><span class="sku-label stickProductSKU"></span></div>
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-4 nopadding wcn-product-info wcn-padding wcn-product-info-btn">
                        <button type="submit" onclick="window.location.href='/Cart/Index'" class="btn btn-default margin-bottom-10 margin-top-10 pull-right" title="Cart">Cart</button>
                        <button type="submit" onclick="window.location.href = '/Cart/Index' " class="btn btn-default margin-bottom-10 btn-color-yellow pull-right checkout-btn" title="Proceed to checkout">Proceed to checkout</button>
                        <div class="close-btn sticky-btn" title="Close"><i class="zf-close-circle pull-right" onclick="return $('.hidestickybar').hide();"></i></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<script>
    $(document).ready(function () {
        document.title = '@Html.RenderBlock(Model.SEOTitle)';
        $('meta[name="keywords"]').prop("content", "@Html.RenderBlock(Model.SEOKeywords)");
        $('meta[name="description"]').prop("content", "@Html.RenderBlock(Model.SEODescription)");
    });
</script>