﻿@model Znode.Engine.WebStore.ViewModels.LoginViewModel
@{
    string rememberMeStatus = (!Equals(Model, null) && Model.RememberMe) ? "checked='checked'" : string.Empty;
}
<style>
    #loader-content-backdrop {
        z-index: 9999;
    }
</style>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="zf-close-circle"></i></button>
    <h4 class="modal-title" data-test-selector="lblLoginHeading">@WebStore_Resources.TitleCustomerLogin</h4>
    
</div>
<div class="modal-body login-container-popup">
    <div class="col-xs-12 nopadding login-container">
        <div>
            @using (Ajax.BeginForm("Login", "User", new AjaxOptions { OnSuccess = "getresult", OnFailure = "$('#loader-content-backdrop-login').hide();" }, new { id = "LoginForm" }))
            {
                @Html.AntiForgeryToken()
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="col-xs-12 nopadding">
                        @Html.TextBoxFor(m => m.Username, new { @id = "login_username", @required = "required", @data_test_selector = "txtUserName" })
                        <label for="login_username" alt="@WebStore_Resources.ColumnUsername" placeholder="@WebStore_Resources.ColumnUsername"></label>
                        <p class="error-msg" data-test-selector="lblUserNameErrMsg">@Html.ValidationMessageFor(m => m.Username)</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12 nopadding">
                        @Html.PasswordFor(model => model.Password, new { @id = "login_password", @required = "required", @data_test_selector = "txtLoginPassword" })
                        <label for="login_password" data-test-selector="lblLoginPassword" alt="@WebStore_Resources.ColumnPassword" placeholder="@WebStore_Resources.ColumnPassword"></label>
                        <p class="error-msg" data-test-selector="lblPasswordErrMsg">@Html.ValidationMessageFor(m => m.Password)</p>
                    </div>
                </div>
                <div class="col-xs-12 margin-top-bottom nopadding">
                    <div class="col-sm-6 nopadding styled-input remember-me">
                        <input @rememberMeStatus type="checkbox" value="true" name="RememberMe" id="RememberMe" data-val-required="The Remember Me field is required." data-val="true">
                        <label data-test-selector="lblRememberMe" for="RememberMe">@WebStore_Resources.RememberMe</label>
                        <input type="hidden" value="false" name="RememberMe">
                    </div>
                    <div class="col-sm-6 nopadding">

                        @Html.Hidden("returnUrl", "~/Checkout")
                        <a data-test-selector="linkForgetPassword" href="/user/forgotpassword" class="login-form-forgotpassword pull-right" title="@WebStore_Resources.LinkTextForgetPassword">@WebStore_Resources.LinkTextForgetPassword</a>

                    </div>
                </div>
                <div class="col-xs-12 nopadding">
                    <button data-test-selector="btnLoginButton" type="submit" class="btn-text-login btn-bg-primary" onclick="User.prototype.AppendLoaderOnSubmit()" id="loginButton ">@WebStore_Resources.ButtonLogin</button>
                    @*<button type="submit" class="btn-text-login btn-bg-primary" onclick="Checkout.prototype.ShowLoaderForExistingCustomerLogin()">@WebStore_Resources.ButtonLogin</button>*@
                </div>

                <div id="error-content" class="error-msg"></div>

                <div id='loader-content-backdrop-login' class='modal-backdrop fade in' style="display:none;"><div id='loading' class='loader loader-body'></div></div>
            </div>
            }
            <div class="col-xs-12 margin-top-bottom inner-container">
                <div class="col-xs-12 nopadding">
                    @Html.Partial("_ExternalLoginsListPartial")
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function getresult(data) {
        if (data.status == false) {
            $("#error-content").html(data.error);
            $("#loader-content-backdrop-login").hide();
        }
        else if (data.hasOwnProperty('isresetpassword') && data.isresetpassword == true)
            window.location.href = "/User/ResetWebstorePassword";
        else
           window.location.href = "/checkout";
    }
</script>