﻿@using Znode.Engine.WebStore.ViewModels
@model CategoryViewModel
<li>
    <article>
        <a href="@Url.GetCategoryUrl(Model.SEODetails?.SEOUrl, null, Model.CategoryId)">
            <img id="@Model.CategoryId" src="@Model.ImageSmallPath" class="img-responsive" data-src="@Model.ImageSmallPath" />
            <label>@WebUtility.HtmlDecode(Model.CategoryName)</label>
        </a>
    </article>
</li>

