﻿<aside>
    <button id="slide-menu" class="slide-menu-btn" data-toggle="tooltip" data-placement="right" title="Expand/Collapse"><i class="z-left-collaps-arrow"></i></button>
    <div class="slide-container">
        <ul class="aside-panel orders-aside-panel" id="OrderAsidePannel">
            <li class="groupPannel tab-selected" id="z-customers">
                <a onclick="Order.prototype.AddressDivShowHide(this)" id="z-customers" href="javascript:void(0)" data-test-selector="linkChangeCustomer">
                    @Admin_Resources.CustomerHeader<div class="pull-right change" style="display:none;">@Admin_Resources.LinkChange</div>
                </a>
                <div class="tab-details" style="display:none;">
                    <p class="user-name" data-test-selector="paraUsername">Customer Name: <span id="spnUserName" data-test-selector="spnAddedUsername"></span></p>
                    <p data-test-selector="paraStore">Store: <span id="spnStoreName" data-test-selector="spnStore"></span></p>
                </div>
            </li>
            <li class="groupPannel disabled" id="z-address">
                <a onclick="Order.prototype.AddressDivShowHide(this)" id="z-address" href="javascript:void(0)" data-test-selector="linkChangeAddress">
                    @Admin_Resources.LabelAddress<div class="pull-right change" style="display:none;">@Admin_Resources.LinkChange</div>
                </a>
                <div class="tab-details" style="display:none;">
                    <p data-test-selector="paraBillingAddress">Billing: <span id="spnBillingAddressName" data-test-selector="spnBillingAddress"></span></p>
                    <p data-test-selector="paraShippingAddress">Shipping: <span id="spnShippingAddressName" data-test-selector="spnShippingAddress"></span></p>
                </div>
            </li>
            <li class="groupPannel disabled" id="z-shopping-cart">
                <a onclick="Order.prototype.AddressDivShowHide(this)" id="z-shopping-cart" href="javascript:void(0)" data-test-selector="linkChangeShoppingCart">
                    @Admin_Resources.LabelShoppingCart<div class="pull-right change" style="display:none;">@Admin_Resources.LinkChange</div>
                </a>
                <div class="tab-details" style="display:none;">
                    <table data-test-selector="tblShoppingCart">
                        <thead>
                            <tr>
                                <th data-test-selector="tblHdSKU">SKU</th>
                                <th data-test-selector="tblHdName">Name</th>
                                <th data-test-selector="tblHdQty">Qty</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyCartItems"></tbody>
                    </table>
                </div>
            </li>
            <li class="groupPannel disabled" id="z-shipping-methods">
                <a onclick="Order.prototype.AddressDivShowHide(this)" id="z-shipping-methods" href="javascript:void(0)" data-test-selector="linkChangeShippingMethod">
                    @Admin_Resources.LabelShippingMethod<div class="pull-right change" style="display:none;" id="div-shipping-method-change">@Admin_Resources.LinkChange</div>
                </a>
                <div class="tab-details" style="display:none;">
                    <p data-test-selector="paraShipping">Shipping: <span id="spnShippingName" data-test-selector="spnSelectedShippingName"></span></p>
                </div>
            </li>
            <li class="groupPannel disabled" id="z-payment">
                <a onclick="Order.prototype.AddressDivShowHide(this)" id="z-payment" href="javascript:void(0)" data-test-selector="linkChangePaymentMethod">
                    @Admin_Resources.LabelPayment <div class="pull-right change" style="display:none;">@Admin_Resources.LinkChange</div>
                </a>
                <div class="tab-details" style="display:none;">
                    <p data-test-selector="paraShipping">Payment: <span id="spnPaymentName" data-test-selector="spnSelectedPaymentName"></span></p>
                </div>
            </li>
            <li class="groupPannel disabled" id="z-review">
                <a onclick="Order.prototype.AddressDivShowHide(this)" id="z-review" href="javascript:void(0)">
                    @Admin_Resources.LabelReview
                </a>
            </li>
        </ul>
    </div>
</aside>