﻿@using Znode.Engine.Admin.ViewModels
@using Znode.Engine.Admin.Helpers;
@using Znode.Libraries.ECommerce.Utilities;
@model OrderViewModel
@{
    ViewBag.Title = Admin_Resources.TitleOMS;
    string cultureCode = string.IsNullOrEmpty(Model?.CultureCode) ? DefaultSettingHelper.DefaultCulture : Model.CultureCode;
}
<div>
    <title>@Admin_Resources.TitleOrderReceipt</title>
    <div>
        <div style="font-family: Arial, Helvetica; font-size: 10px; text-align: left; color: #292a2a; border: solid 1px #c3c3c3; margin-top: 10px;">
            <div style="background-color: #eff3fb; color: #292a2a; font-size: 1.5em; font-weight: bold; padding: .5em; border-bottom: solid 1px #c3c3c3;">@Model.StoreName&nbsp;@Admin_Resources.TitleOrderReceipt</div>
            <div style="padding: 10px;">
                <div style="font-family: Verdana; color: #333333; font-size: 11px;">		</div>
                <table cellpadding="0" cellspacing="3" border="0" width="100%" style="font-family: Verdana, Helvetica, sans-serif;		color: #333333; font-size: 10px;">
                    <tbody>
                        <tr>
                            <td colspan="5">
                                <hr>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" nowrap="true" colspan="2" width="25%">
                                <div style="color: #292a2a; font-weight: bold; font-size: 11px; padding-bottom: 5px;">					Order Information</div>
                            </td>
                            <td align="left" nowrap="true" colspan="2">
                                <div style="color: #292a2a; font-weight: bold; font-size: 11px; padding-bottom: 5px;">					Customer Service</div>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" nowrap="nowrap" width="10%"><strong>Order Number:</strong></td>
                            <td align="left" nowrap="nowrap" width="30%">@Model.OrderNumber</td>
                            <td align="left" nowrap="nowrap" width="4%"><strong>E-Mail:</strong></td>
                            <td align="left" nowrap="nowrap">@Model.CustomerServiceEmail</td>
                        </tr>
                        <tr>
                            <td align="left" nowrap="nowrap"><strong>Order Date:</strong></td>
                            <td align="left" nowrap="nowrap">@Model.OrderDate</td>
                            <td align="left" nowrap="nowrap"><strong>Phone:</strong></td>
                            <td align="left" nowrap="nowrap">@Model.CustomerServicePhoneNumber</td>
                        </tr>
                        <tr>
                            <td align="left" nowrap="nowrap" style="vertical-align:top;"><strong>Promotion Code:</strong></td>
                            <td align="left" nowrap="nowrap">@Html.RenderBlock(Model.CouponCode)</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td align="left" nowrap="nowrap"><strong>Payment Method:</strong></td>
                            <td align="left" nowrap="nowrap">@Model.PaymentDisplayName</td>
                            <td></td>
                            <td></td>
                        </tr>
                        @if (Model.PaymentType == ZnodeConstant.PurchaseOrder)
                        {
                            <tr>
                                <td align="left" nowrap="nowrap"><strong>Purchase Order Number:</strong></td>
                                <td align="left" nowrap="nowrap">@Model.PurchaseOrderNumber</td>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                        @if (!string.IsNullOrEmpty(Model.PaymentTransactionToken))
                        {
                            <tr>
                                <td align="left" nowrap="nowrap"><strong>Transaction ID:</strong></td>
                                <td align="left" nowrap="nowrap">@Model.PaymentTransactionToken</td>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                        <tr>
                            <td align="left" nowrap="nowrap"><strong></strong></td>
                            <td align="left" nowrap="nowrap">							</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <hr>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" nowrap="nowrap" colspan="2" width="45%" style="font-family: Verdana, Helvetica, sans-serif;				color: #333333; font-size: 10px;">
                                <div style="color: #292a2a; font-weight: bold; font-size: 11px; padding-bottom: 5px;">					Billing Address</div>
                            </td>
                            <td align="left" colspan="2">
                                <div style="color: #292a2a; font-weight: bold; font-size: 11px; padding-bottom: 5px;">					Shipping Address</div>
                            </td>
                        </tr>
                        <tr>
                            <td align="Left" nowrap="nowrap" colspan="2">
                                @Model.BillingAddress.FirstName @Model.BillingAddress.LastName @if (!Equals(Model.BillingAddress.CompanyName, null))
                                {<br>@Model.BillingAddress.CompanyName}<br>@Model.BillingAddress.Address1 @if (!Equals(Model.BillingAddress.Address2, null))
                                {<br>@Model.BillingAddress.Address2}<br>@Model.BillingAddress.CityName<br>@Model.BillingAddress.StateName<br>@Model.BillingAddress.PostalCode<br>@Model.BillingAddress.CountryName<br>Phone Number : @Model.BillingAddress.PhoneNumber
                            </td>
                            <td valign="top" colspan="3">
                                @Model.ShippingAddress.FirstName @Model.ShippingAddress.LastName @if (!Equals(Model.BillingAddress.CompanyName, null))
                                {<br>@Model.ShippingAddress.CompanyName}<br>@Model.ShippingAddress.Address1 @if (!Equals(Model.BillingAddress.Address2, null))
                                {<br>@Model.BillingAddress.Address2}<br>@Model.ShippingAddress.CityName<br>@Model.ShippingAddress.StateName<br>@Model.ShippingAddress.PostalCode<br>@Model.ShippingAddress.CountryName<br>Phone Number : @Model.ShippingAddress.PhoneNumber<br>Email : @Model.Email
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7">				&nbsp;			</td>
                        </tr>
                    </tbody>
                </table>
                @if (Model.OrderLineItems.Any(x => !x.OrderLineItemState.Equals(ZnodeOrderStatusEnum.RETURNED.ToString())))
                {
                    <div>
                        <table cellpadding="3" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td style="color: #292a2a;font-weight: bold; font-size: 11px; padding-bottom:5px;" colspan="6">													</td>
                                </tr>
                                <tr>
                                    <td style="color: black;  font-size: 10px;" colspan="6">					   						</td>
                                </tr>
                                <tr style="background-color: #eff3fb">
                                    <td style="border: silver 1px solid; font-family: Verdana, Helvetica, sans-serif;						color: #333333; font-size: 10px;padding:0 5px;"><strong>SKU</strong></td>
                                    <td style="border: silver 1px solid; font-family: Verdana, Helvetica, sans-serif;						color: #333333; font-size: 10px;padding:0 5px;"><strong>Item</strong></td>
                                    <td style="border: silver 1px solid; font-family: Verdana, Helvetica, sans-serif;						color: #333333; font-size: 10px;padding:0 5px;"><strong>Description</strong></td>
                                    <td align="center" style="border: silver 1px solid; font-family: Verdana, Helvetica, sans-serif;						color: #333333; font-size: 10px;"><strong>Qty</strong></td>
                                    <td style="border: silver 1px solid; font-family: Verdana, Helvetica, sans-serif;						color: #333333; font-size: 10px;padding:0 5px;"><strong>Price</strong></td>
                                    <td style="border: silver 1px solid; font-family: Verdana, Helvetica, sans-serif;						color: #333333; font-size: 10px;padding:0 5px;"><strong>Total</strong></td>
                                </tr>
                                @foreach (var cartItem in Model.OrderLineItems)
                                {
                                    <tr>
                                        <td align="left" width="10%" style="border: silver 1px solid; font-family: Verdana, Helvetica, sans-serif;color: #333333; font-size: 10px;padding:0 5px;">
                                            @cartItem.Sku
                                            @if (!string.IsNullOrEmpty(cartItem.DownloadableProductKey))
                                            {
                                                <br />
                                                List<string> keys = cartItem?.DownloadableProductKey.Split(',').ToList();
                                                <h10>Product Keys</h10>
                                                foreach (string item in keys)
                                                { <div>@Html.RenderBlock(item)</div> }
                                        }
                                        </td>

                                        <td align="left" width="25%" style="border: silver 1px solid; font-family: Verdana, Helvetica, sans-serif;color: #333333; font-size: 10px;padding:0 5px;">@Html.RenderBlock(cartItem.ProductName)</td>
                                        <td align="left" width="25%" style="border: silver 1px solid; font-family: Verdana, Helvetica, sans-serif;color: #333333; font-size: 10px;padding:0 5px;">
                                            @if (cartItem?.PersonaliseValuesDetail?.Count > 0)
                                            {
                                                foreach (var item in cartItem.PersonaliseValuesDetail)
                                                {
                                                    if (!Equals(item.PersonalizeName, null) && !Equals(item.PersonalizeValue, string.Empty))
                                                    {
                                                        <p> @item.PersonalizeName : @item.PersonalizeValue </p>
                                                    }
                                                }
                                            }
                                            else if (cartItem?.PersonaliseValueList?.Count > 0)
                                            {
                                                foreach (var item in cartItem?.PersonaliseValueList)
                                                {
                                                    if (!Equals(item.Value, null) && !Equals(item.Value, string.Empty))
                                                    {
                                                        <p>
                                                            @item.Key: @item.Value
                                                        </p>
                                                    }

                                                }
                                            }
                                            else
                                            {
                                                @Html.RenderBlock(@cartItem.Description)
                                            }
                                        </td>
                                        <td align="center" width="5%" style="border: silver 1px solid; font-family: Verdana, Helvetica, sans-serif;color: #333333; font-size: 10px;padding:0 5px;">@cartItem.Quantity</td>
                                        <td align="left" width="20%" style="border: silver 1px solid; font-family: Verdana, Helvetica, sans-serif;color: #333333; font-size: 10px;padding:0 5px;">@HelperMethods.FormatPriceWithCurrency(cartItem.Price, cultureCode)</td>
                                        <td align="right" width="20%" style="border: silver 1px solid; font-family: Verdana, Helvetica, sans-serif;color: #333333; font-size: 10px; min-width: 170px;padding:0 5px;">@HelperMethods.FormatPriceWithCurrency(cartItem.Total, cultureCode)</td>

                                    </tr>
                                }

                                <tr>
                                    <td align="right" style="border: none; font-family: Verdana, Helvetica, sans-serif; color: #333333; font-size: 10px; padding:0 5px;" colspan="5"><strong>Sub Total</strong></td>
                                    <td align="right" style="border: silver 1px solid; font-family: Verdana, Helvetica, sans-serif; color: #333333; font-size: 10px; min-width: 170px;padding:0 5px;" width="20%">@HelperMethods.FormatPriceWithCurrency(Model.SubTotal, cultureCode)</td>
                                </tr>
                                @if (Model.DiscountAmount != 0)
                                {
                                    <tr>
                                        <td align="right" style="border: none; font-family: Verdana, Helvetica, sans-serif; color: #333333; font-size: 10px; padding:0 5px;" colspan="5"><strong>Discount</strong></td>
                                        <td align="right" style="border: silver 1px solid; font-family: Verdana, Helvetica, sans-serif; color: #333333; font-size: 10px; min-width: 170px;padding:0 5px;" width="20%">@HelperMethods.FormatPriceWithCurrency(0 - Model.DiscountAmount, cultureCode)</td>
                                    </tr>
                                }
                                @if (Model.CSRDiscountAmount != 0)
                                {
                                    <tr>
                                        <td align="right" style="border: none; font-family: Verdana, Helvetica, sans-serif; color: #333333; font-size: 10px; padding:0 5px;" colspan="5"><strong>CSR Discount</strong></td>
                                        <td align="right" style="border: silver 1px solid; font-family: Verdana, Helvetica, sans-serif; color: #333333; font-size: 10px; min-width: 170px;padding:0 5px;" width="20%">@HelperMethods.FormatPriceWithCurrency(0 - Model.CSRDiscountAmount, cultureCode)</td>
                                    </tr>
                                }
                                @if (Model.TaxCost > 0)
                                {
                                    <tr>
                                        <td align="right" style="border: none; font-family: Verdana, Helvetica, sans-serif; color: #333333; font-size: 10px; padding:0 5px;" colspan="5"><strong>Tax</strong></td>
                                        <td align="right" style="border: silver 1px solid; font-family: Verdana, Helvetica, sans-serif; color: #333333; font-size: 10px; min-width: 170px;padding:0 5px;" width="20%">@HelperMethods.FormatPriceWithCurrency(Model.TaxCost, cultureCode)</td>
                                    </tr>
                                }
                                @if (Model.ShippingCost > 0)
                                {
                                    <tr>
                                        <td align="right" style="border: none; font-family: Verdana, Helvetica, sans-serif; color: #333333; font-size: 10px; padding:0 5px;" colspan="5"><strong>Shipping Cost(@HttpUtility.HtmlDecode(Model.ShippingTypeName))</strong></td>
                                        <td align="right" style="border: silver 1px solid; font-family: Verdana, Helvetica, sans-serif; color: #333333; font-size: 10px; min-width: 170px;padding:0 5px;" width="20%">@HelperMethods.FormatPriceWithCurrency(Model.ShippingCost, cultureCode)</td>
                                    </tr>
                                }
                                @if (Model.GiftCardAmount > 0)
                                {
                                    <tr>
                                        <td align="right" style="border: none; font-family: Verdana, Helvetica, sans-serif; color: #333333; font-size: 10px; padding:0 5px;" colspan="5"><strong>Gift Card Amount</strong></td>
                                        <td align="right" style="border: silver 1px solid; font-family: Verdana, Helvetica, sans-serif; color: #333333; font-size: 10px; min-width: 170px;padding:0 5px;" width="20%">@HelperMethods.FormatPriceWithCurrency(0 - Model.GiftCardAmount, Model.CultureCode)</td>
                                    </tr>
                                }
                                <tr>
                                    <td style="border: none; font-family: Verdana, Helvetica, sans-serif; color: #292a2a; font-size: 11px;padding:0 5px 5px 5px;" align="right" colspan="5"><strong>Total</strong></td>
                                    <td align="right" style="border: silver 1px solid; font-family: Verdana, Helvetica, sans-serif; color: #333333; font-size: 10px; min-width: 170px;padding:0 5px;" width="20%"><strong>@HelperMethods.FormatPriceWithCurrency(Model.Total, cultureCode)</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <div class="col-sm-12 nopadding cart-summary">
                        <p class="text-center margin-top-bottom no-record">No items in cart.</p>
                    </div>
                }
            </div>
            <table cellpadding="3" cellspacing="0" style="width:100%; padding:10px; display: inline-block;">
                <tbody>
                    <tr>
                        <td colspan="2" align="left" nowrap="true" style="border: none; font-family: Verdana, Helvetica, sans-serif;					color: #333333; font-size: 10px;">
                            <div style="color: #292a2a; font-weight: bold; font-size: 11px; padding-bottom: 5px;">						</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="border: none; font-family: Verdana, Helvetica, sans-serif;					color: #333333; font-size: 10px;">
                            <div align="justify" style="width: 675px;">						</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="border: none; font-family: Verdana, Helvetica, sans-serif;					color: #333333; font-size: 10px;">
                            <div style="margin-bottom: 5px;">						&nbsp;</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="left" nowrap="true" style="border: none; font-family: Verdana, Helvetica, sans-serif;					color: #333333; font-size: 10px;">									</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
