﻿@using Znode.Engine.Admin.Models
@using Znode.Engine.Admin.ViewModels
@model OrderHistoryListViewModel
@{
    ViewBag.Title = Admin_Resources.TitleOMS + " | " + Admin_Resources.Multifront;
    Layout = null;
}

<div id=@Model.GridModel.FrontObjectName >
    <div class="panel-heading">
          <h4 class="panel-title panel-title-edit">@Admin_Resources.LabelOrderHistory</h4>
    </div>
  
    <div class="col-sm-12 list-container" id="listcontainerId">
        @{
            if (Model.GridModel.DataTableToList.Count > 0)
            {
                @Html.Partial("_ManageOrderHistoryGrid", Model.GridModel)
            }
        }
    </div>
</div>
