﻿@using Znode.Engine.Admin.ViewModels
@using Znode.Engine.Admin.Helpers;
@model CartViewModel

@{
    Model.CultureCode = string.IsNullOrEmpty(Model.CultureCode) ? DefaultSettingHelper.DefaultCulture : Model.CultureCode;
}
<div class="col-sm-12 cart-summary">
    <div class="form-group">
        <div class="col-sm-6 nopadding">
            @Html.LabelFor(model => model.SubTotal, new { @data_test_selector = "lblSubTotal" })
        </div>
        <div class="col-sm-6 nopadding">
            <label data-test-selector="lblSubTotalValue">@HelperMethods.FormatPriceWithCurrency(Model.SubTotal, Model.CultureCode)</label>
            @Html.HiddenFor(model => model.ErrorMessage, new { @id = "hdnShippingErrorMessage" })
            @Html.HiddenFor(model => model.HasError, new { @id = "hdnShippingHasError" })
        </div>
    </div>
    @if (Model?.Discount > 0)
    {
        <div class="form-group">
            <div class="col-sm-6 nopadding">
                @Html.LabelFor(model => model.Discount, new { @data_test_selector = "lblDiscount" })
            </div>
            <div class="col-sm-6 nopadding">
                <label id="dynamic-discount-amount" data-test-selector="lblDiscountValue">@HelperMethods.FormatPriceWithCurrency(0 - Model.Discount, Model.CultureCode)</label>
            </div>
        </div>
    }
    @if (Model.CSRDiscountAmount > 0)
            {
        <div class="form-group">
            <div class="col-sm-6 nopadding">
                @Html.LabelFor(model => model.CSRDiscountAmount, new { @data_test_selector = "lblCSRDiscountAmount" })
            </div>
            <div class="col-sm-6 nopadding">
                <label id="dynamic-csr-discount-amount" data-test-selector="lblCSRDiscountAmountValue">@HelperMethods.FormatPriceWithCurrency(0 - Model.CSRDiscountAmount, Model.CultureCode)</label>
            </div>
        </div>
    }
    @if (Model.TaxCost > 0)
            {
        <div class="form-group">
            <div class="col-sm-6 nopadding">
                <label data-test-selector="lblColumnTax">@WebStore_Resources.ColumnTax</label>
            </div>
            <div class="col-sm-6 nopadding">
                <label data-test-selector="lblColumnTaxValue">@HelperMethods.FormatPriceWithCurrency(Model.TaxCost, Model.CultureCode)</label>
            </div>
        </div>
    }
    @if (Model.ShippingCost > 0)
    {
        <div class="form-group">
            <div class="col-sm-6 nopadding"> 
                <label data-test-selector="lblColumnShipping">@WebStore_Resources.ColumnShipping</label>
            </div>
            <div class="col-sm-6 nopadding">
                <label id="dynamic-shipping-cost" data-test-selector="lblColumnShippingValue">@HelperMethods.FormatPriceWithCurrency(Model.ShippingCost, Model.CultureCode)</label>
            </div>
        </div>
    }
    @if (Model.GiftCardApplied)
    {
        <div class="form-group">
            <div class="col-sm-6 nopadding">
                @Html.LabelFor(model => model.GiftCardAmount, new { @data_test_selector = "lblGiftCardAmount" })
            </div>
            <div class="col-sm-6 nopadding">
                <label id="dynamic-giftcard-amount" data-test-selector="lblGiftCardAmountValue">@HelperMethods.FormatPriceWithCurrency(0 - Model.GiftCardAmount, Model.CultureCode)</label>
            </div>
        </div>
    }
    <div class="form-group">
        <div class="col-sm-6 nopadding">
            @Html.LabelFor(model => model.Total, new { @data_test_selector = "lblTotal" })
        </div>
        <div class="col-sm-6 nopadding">
            <label id="dynamic-order-total">@HelperMethods.FormatPriceWithCurrency(Model.Total, Model.CultureCode)</label>
            @Html.Hidden("hdnTotalOrderAmount", Model.Total)
        </div>
    </div>
    @if (!Equals(Model.OverDueAmount, null) && Model.OverDueAmount != 0)
            {
        <div class="form-group">
            <div class="col-sm-6 nopadding">
                @Html.LabelFor(model => model.OverDueAmount, new { @data_test_selector = "lblOverDueAmount" })
            </div>
            <div class="col-sm-6 nopadding">
                <label id="dynamic-overdue-amount" data-test-selector="lblOverDueAmountValue">@HelperMethods.FormatPriceWithCurrency(Model.OverDueAmount, Model.CultureCode)</label>
            </div>
        </div>
    }
</div>

@Html.HiddenFor(model => model.GiftCardApplied, new { @id = "hdnGiftCardApplied" })
@Html.HiddenFor(model => model.GiftCardMessage, new { @id = "hdnGiftCardMessage" })
@Html.HiddenFor(model => model.ErrorMessage, new { @id = "hdnCouponErrorMessage" })
@Html.HiddenFor(model => model.CSRDiscountApplied, new { @id = "hdnCSRDiscountApplied" })
@Html.HiddenFor(model => model.SuccessMessage, new { @id = "hdnCsrSuccessMessage" })