﻿<script src="~/Scripts/References/PaypalObject/checkout.js"></script>
@using Znode.Engine.Admin.ViewModels
@model CreateOrderViewModel
@using Znode.Libraries.ECommerce.Utilities;
@using Znode.Engine.Admin.Models
@using Znode.Engine.Admin.Agents
@{
    ViewBag.Title = Admin_Resources.TitleOMS + " | " + Admin_Resources.Multifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    Model.IsQuote = false;
    Model.ShippingListViewModel.IsQuote = false;
    Model.UserAddressDataViewModel.IsOrderQuote = false;
    string showContainer = Model.IsFromUserCart ? "style=display:none" : string.Empty;
}
<div class="col-sm-12 title-container">
    @if (string.Equals(actionName.ToLower(), "createorder") || string.Equals(actionName.ToLower(), "converttoorder") || string.Equals(actionName.ToLower(), "createcustomerorder"))
    {
        <h1 data-test-selector="hdgOrder">@string.Format(@Admin_Resources.TitleAdd, Admin_Resources.OrderHeader)</h1>
    }
    else if (string.Equals(actionName.ToLower(), "reorder"))
    {
        <h1 data-test-selector="hdgOrder">@string.Format(@Admin_Resources.TitleAdd, Admin_Resources.OrderHeader)</h1>
    }
    else
    {
        <h1 data-test-selector="hdgOrder">@string.Format(@Admin_Resources.TitleEdit, Admin_Resources.OrderHeader)<i class="z-minus"></i><span>@Model.OrderNumber</span></h1>
    }

    <div class="pull-right btn-container dirtyignore">
        @if (actionName.ToLower() == "editorder")
        {
            <div class="pull-right">
                <a id="btnCreateOrder" onclick="Order.prototype.SubmitOrder();" style="display:none" class="btn-text btn-text-secondary" data-test-selector="linkSubmitOrder">@Admin_Resources.LabelUpdateYourOrder</a>
            </div>
        }
        else
        {
            <div class="pull-right">
                <a id="btnCreateOrder" onclick="Order.prototype.SubmitOrder();" style="display:none;" class="btn-text btn-text-secondary" data-test-selector="linkSubmitOrder">@Admin_Resources.LabelPlaceYourOrder</a>
            </div>
        }
        @if (string.Equals(actionName.ToLower(), "converttoorder"))
        {
            <a href="javascript:void(0)" class="btn-text-icon" id="btnCancelQuoteOrderId" onclick="OrderSidePanel.prototype.ConfirmCancelQuoteOrderPopUp(PopUpConfirmCancelQuoteOrder);" data-test-selector="linkCancel"><i class='z-back'></i>@Admin_Resources.ButtonCancel</a>
            <div class="pull-right padding-left">
                <a href="javascript:void(0)" class="btn-text btn-text-secondary" id="btnContinue" onclick="OrderSidePanel.prototype.ContinueOrder();" data-test-selector="linkContinue">@Admin_Resources.ButtonContinue</a>
            </div>
        }
        else
        {
            if (Model.UpdatePageType == "OrderHistory")
            {
                @Html.AuthorizedRawActionLink("<i class='z-back'></i>" + Admin_Resources.ButtonBack, "AccountUserOrderList", "Account", new { userId = Model.SendUserId, accountId = Model.AccountId }, new { @class = "btn-text-icon", @data_test_selector = "linkBack" })
            }
            else
            {
                if (Model.IsFromUserCart == true)
                {
                    @Html.AuthorizedRawActionLink("<i class='z-back'></i>" + Admin_Resources.ButtonBack, "GetUserCartByUserId", "Customer", new { userId = Model.UserId }, new { @class = "btn-text-icon", @data_test_selector = "linkBack" })
                }
                else
                {
                    <a href="javascript:void(0)" class="btn-text-icon" id="btnCancelOrderId" onclick="OrderSidePanel.prototype.ConfirmCancelOrderPopUp(PopUpConfirmCancelOrder);" data-test-selector="linkCancel"><i class='z-back'></i>BACK</a>
                }
            }
            <div class="pull-right padding-left">
                <a href="javascript:void(0)" class="btn-text btn-text-secondary" id="btnContinue" onclick="OrderSidePanel.prototype.ContinueOrder();" data-test-selector="linkContinue">@Admin_Resources.ButtonContinue</a>
            </div>
        }
    </div>
</div>
<div class="main-wrapper dirtyignore">
    <!--Left Panel-->
    @Html.Partial("~/views/Order/_asideOrderManagePanel.cshtml")
    <!--Main Container-->
    <section class="main-container" @showContainer>
        @using (Html.BeginForm(null, null, FormMethod.Get, new { name = "checkoutform", id = "checkoutform" }))
        {
            <div id="CustomerDiv" class="panel panel-default productInfoPage">

                <div class="panel-heading order-panel">
                    <h4 class="panel-title panel-title-edit " style="display: inline-block;">Customer Information</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            <div class="control-label">
                                @Html.LabelFor(model => model.PortalId, new { @class = "required", @data_test_selector = "lblStore" })
                            </div>
                            @if (actionName.ToLower() == "createorder")
                            {
                                <div class="control-md">
                                    @Html.FastSelectFor(model => model.StoreName, model => model.PortalId, "GetSuggestions", "Typeahead", "Order.prototype.OnSelectPortalResult", 1, true,
                                   new
                                   {
                                       htmlAttributes = new { @placeholder = Admin_Resources.LabelSelectStore, @class = "", @id = "txtPortalName", @data_test_selector = "txtStore" },
                                       parameters = new { @type = ZnodeTypeAheadEnum.StoreList.ToString() }
                                   })
                                    @Html.ValidationMessageFor(model => model.StoreName, null, new { id = "errorRequiredStore", @data_test_selector = "valStore" })
                                </div>
                            }
                            else if (actionName.ToLower() == "reorder")
                            {
                                <div class="control-md">
                                    @Html.TextBoxFor(model => model.StoreName, new { @readonly = "readonly", @data_test_selector = "txtStore" })
                                </div>
                            }
                            else
                            {
                                <div class="control-md">
                                    @Html.TextBoxFor(model => model.StoreName, new { @readonly = "readonly", @data_test_selector = "txtStore" })
                                </div>
                                @Html.HiddenFor(model => model.OrderId)
                            }
                            @Html.HiddenFor(model => model.StoreName, new { id = "txtPortalName" })
                            @Html.HiddenFor(model => model.PortalId, new { @id = "selectedPortalId", @name = "hdnSelectedPortal" })

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            <div class="control-label">
                                @Html.LabelFor(m => m.CustomerName, new { @class = "required", @data_test_selector = "lblCustomerName" })
                            </div>
                            <div class="control-md">
                                @Html.HiddenFor(model => model.UserId, new { @id = "hdnUserId" })
                                @Html.HiddenFor(model => model.AccountId, new { @id = "hdnAccountId" })
                                @Html.TextBoxFor(model => model.CustomerName, new { @placeholder = Admin_Resources.TextEnterCustomerName, @id = "txtCustomerName", @readonly = "readonly", @data_test_selector = "txtCustomerName" })
                                @Html.HiddenFor(model => model.UserAddressDataViewModel.FullName)
                                @Html.ValidationMessageFor(model => model.CustomerName, "", new { @id = "CustomerNameError", @data_test_selector = "valCustomerName" })
                            </div>
                            <div class="pull-left">
                                @if (actionName.ToLower() == "createorder")
                                {
                                    <a id="serachCustomer" onclick="Order.prototype.GetCustomerList();" class="btn-narrow-icon" data-toggle="tooltip" data-placement="top" data-original-title="@Admin_Resources.SearchExistingCustomerButton" data-test-selector="btnSearchCustomer"><i class='z-search'></i></a>

                                }
                                <div class="pull-right btn-container ">
                                    @if (actionName.ToLower() == "createorder")
                                    {
                                        <a class="btn-text btn-text-secondary" onclick="Order.prototype.AddNewUser()" data-test-selector="btnAddNewCustomer"> ADD NEW CUSTOMER</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="AddressDiv" style="display:none;">
                <div class="col-sm-12 nopadding dashboard-panel">
                    <div class="dashboard-panel-heading">
                        <h4 class="dashboard-panel-title">@Admin_Resources.LabelAddress</h4>
                        @if (Model.UserAddressDataViewModel.ShippingAddress.AddressId.Equals(0) && Model.UserAddressDataViewModel.BillingAddress.AddressId.Equals(0))
                        {
                            <div class="pull-right margin-top margin-right" id="changeAddressdiv">
                                <button type="button" id="changeAddress" onclick="Order.prototype.CreateNewAddress();" class="btn-text btn-text-secondary" data-test-selector="linkCreateNewAddress">Create Address</button>
                            </div>
                        }
                    </div>
                </div>

                @Html.Partial("UserShippingBillingAddress", Model.UserAddressDataViewModel)
            </div>
            <div id="ShoppingCartDiv" class="dashboard-panel" style="display:none;overflow:auto;">
                @if (HelperUtility.IsNull(Model.CartViewModel))
                {
                    @Html.Partial("ShoppingCart", new CartViewModel())
                }
                else
                {
                    {
                        Model.CartViewModel.IsQuote = false;
                    }

                    @Html.Partial("ShoppingCart", Model.CartViewModel)

                    if (!Model.CartViewModel.IsQuote)
                    {
                        <div class="padding-left">
                            @Html.Partial("_OrderDiscount", Model.CartViewModel)
                        </div>
                    }
                }
            </div>

            <div id="shippingMethodDiv" style="display:none;">
                @{Html.RenderPartial("ShippingOptions", Model.ShippingListViewModel, new ViewDataDictionary { TemplateInfo = new System.Web.Mvc.TemplateInfo { HtmlFieldPrefix = "ShippingListViewModel" } });}
            </div>

            <div id="paymentMethodsDiv" style="display:none;">
                @Html.Partial("PaymentOptionList", Model.PaymentSettingViewModel)
                @if (actionName.ToLower() == "editorder")
                {
                    <div class="col-sm-12 nopadding">
                        @if (Model.OrderNotes?.Count > 0)
                        {
                            <h3 class="section-heading margin-top">@Admin_Resources.LabelOrderNotes</h3>
                            <div id="orderNotesDiv">
                                @Html.Partial("_OrderNotes", Model.OrderNotes)
                            </div>
                        }
                    </div>
                    @Html.HiddenFor(model => model.PurchaseOrderNumber, new { id = "PONumber" })
                }
            </div>
            <div id="ReviewDiv" style="display:none;">

            </div>
            @Html.HiddenFor(model => model.UserAddressDataViewModel.UserId, new { id = "UserAddressDataViewModel.UserId" })
            @Html.HiddenFor(model => model.UserAddressDataViewModel.IsMultipleCouponCodeAllowed, new { id = "UserAddressDataViewModel.IsMultipleCouponCodeAllowed" })
            <div id="OrderQuoteData">
                @Html.HiddenFor(model => model.UserAddressDataViewModel.BudgetAmount, new { id = "UserAddressDataViewModel_BudgetAmount" })
                @Html.HiddenFor(model => model.UserAddressDataViewModel.PermissionCode, new { id = "UserAddressDataViewModel_PermissionCode" })
                @Html.HiddenFor(model => model.UserAddressDataViewModel.AccountId, new { id = "UserAddressDataViewModel_AccountId" })
                @Html.HiddenFor(model => model.UserAddressDataViewModel.IsOrderQuote, new { id = "UserAddressDataViewModel_IsOrderQuote" })
            </div>
            @Html.HiddenFor(model => model.CreditCardNumber, new { @id = "hdnCreditCardNumber" })
        }
        <div id="publishProductDv" class="col-sm-12 nopadding margin-top-bottom" style="display:none;"></div>
        <div>
            @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                         new PopupModel()
                         {
                             Title = @Admin_Resources.ConfirmText,
                             Description = @Admin_Resources.TextConfirmCancelOrder,
                             ModalPopUpId = "PopUpConfirmCancelOrder",
                             Buttons = new List<PopUpButtonModel>() {
                            new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, OnClickFunctionName = "OrderSidePanel.prototype.ConfirmCancelOrder()" },
                                }
                         })
        </div>
        <div>
            @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                         new PopupModel()
                         {
                             Title = @Admin_Resources.ConfirmText,
                             Description = @Admin_Resources.TextConfirmCancelOrder,
                             ModalPopUpId = "PopUpConfirmCancelQuoteOrder",
                             Buttons = new List<PopUpButtonModel>() {
                            new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, OnClickFunctionName = "OrderSidePanel.prototype.ConfirmCancelQuoteOrder()" },
                                }
                         })
        </div>

        @*PayPal Express*@
        <div data-test-selector="divPaypalButton" id="paypal-button" class="col-xs-12 nopadding" style="display:none"></div>



    </section>
    @* Here Store List will display *@
    <div id="divStoreListAsidePanel" class="aside-popup-panel modal-dialog modal-lg"></div>
    @* Here Customer Details will display *@
    <div id="customerDetails" class="aside-popup-panel modal-dialog modal-xl"></div>
    @* Here Customer address Details will display *@
    <div id="addressDetails" class="aside-popup-panel modal-dialog modal-md"></div>
    <div id="getProductsList" class="aside-popup-panel modal-dialog modal-xl"></div>
    <div id="productDetailsPanel" class="aside-popup-panel modal-dialog modal-md"></div>
    <div id="skuproductlist"></div>

    <!--Error Payment Modal-->
    <div class="modal fade" id="ErrorPaymentModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="z-close-circle"></i></button>
                    <h4 class="modal-title">@Admin_Resources.LabelPaymentApplication</h4>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <div class="pull-right">
                        <button type="button" class="btn-text-icon" data-dismiss="modal"><i class="z-ok"></i>Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="PaymentModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@Admin_Resources.LabelPaymentApplication</h4>
                </div>
                <div class="modal-body">
                    <p>@Admin_Resources.TextPaymentMethod</p>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("hdnPortalId", StoreAgent.CurrentStore.PortalId)
@Html.HiddenFor(m => m.IsQuote)
@Html.Hidden("hdnActionName", actionName.ToLower())

@Html.Hidden("hdnAccountId", Model.AccountId)
@Html.Hidden("hdnQuoteShipppingId", Model.CartViewModel?.ShippingId)
@Html.Hidden("hdnAddressId", Model.UserAddressDataViewModel.ShippingAddress.AddressId)
@Html.Hidden("IsFromUserCart", Model.IsFromUserCart)

<script>
    $(document).ready(function () {
        if ($("#IsFromUserCart").val() == 'True') {
            $(".main-container").show();
            $("#btnContinue").click();
        }
    })
    paypal.Button.render({
        env: 'sandbox', // Or 'production'
        commit: true, // Show a 'Pay Now' button
        payment: function () {
            Order.prototype.GetPaymentDetails($("#ddlPaymentTypes").val());
            var paypalResponse = Order.prototype.PaypalExpressCheckout();
            return paypalResponse[1];
        },
        onAuthorize: function (data, actions) {
            window.location.href = data.returnUrl;
        }
    }, '#paypal-button');
</script>
