﻿@using Znode.Engine.WebStore.ViewModels
@model CartViewModel
@{
    bool insufficientQuantity = (Model?.ShoppingCartItems?.Any(x => x.InsufficientQuantity)).GetValueOrDefault();
    var cultureCode = string.IsNullOrEmpty(Model?.CultureCode) ? DefaultSettingHelper.DefaultCulture : Model.CultureCode;
    decimal cartCount = (Model?.ShoppingCartItems?.Any() ?? false) ? WidgetHelper.GetCartCount() : 0M;
}
<div id="divShoppingCart">
            <div class="row">
                <div class="ShoppingCart">
                    <div class="col-xs-12">
                        <div class="CartTitleArea Clearfix">
                            <div>
                                <div class="PageTitle">@Html.RenderMessage("ShopingCartLabel")</div>
                                @if (Model?.ShoppingCartItems != null && Model?.ShoppingCartItems.Count > 0)
                                {
                                    <div class="CheckoutBox">
                                        <a data-test-selector="linkCheckout" href="/Checkout/Index" class="checkout" id="checkOut-link" onclick="return Cart.prototype.ValidateProductQuantity();">@WebStore_Resources.ButtonCheckout</a>
                                    </div>
                                }
                                else
                                {
                                    <div class="Error">
                                        <div class="uxMsg ErrorSection"><em>@WebStore_Resources.NoItemCartErrorMessage</em></div>
                                    </div>
                                    <div class="CheckoutBox"><a data-test-selector="linkContinue" class="checkout" href="/">@WebStore_Resources.ButtonContinueShopping</a></div>
                                }
                            </div>
                        </div>
                    </div>

                    @if (Model?.ShoppingCartItems?.Any() ?? false)
                    {
                        <div class="col-xs-12 cart-products">
                            <table class="table Grid table-responsive">
                                <thead>
                                    <tr class="Header">
                                        <th data-test-selector="lblItem">@WebStore_Resources.LabelItem</th>
                                        <th data-test-selector="lblItemPrice">@WebStore_Resources.ColumnTitleItemPrice</th>
                                        <th data-test-selector="lblItemQuantity">@WebStore_Resources.ColumnTitleQty</th>
                                        <th data-test-selector="lblItemTotal" class="text-right">@WebStore_Resources.ColumnTitleTotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*To show the recently added product on the top of cart.*@
                                    @foreach (CartItemViewModel cartItem in Model.ShoppingCartItems.AsEnumerable().Reverse())
                                    {
                                        @Html.Partial("_CartRow", cartItem)
                                    }
                                </tbody>
                            </table>
                            @Html.HiddenFor(x => insufficientQuantity, new { id = "hdnInsufficientQuantity" })
                        </div>
                        <div class="col-xs-12">
                            <div class="Form">
                                <div class="Row Clear">
                                    <div class="TotalBox">
                                        <div class="LeftContent">
                                            <div class="ContinueShopping"><a title="Continue Shopping" href="../">@WebStore_Resources.ButtonContinueShopping</a></div>
                                            <div class="CustomMessage">@Html.RenderMessage("ShippingAndTaxes")</div>
                                        </div>
                                        <div class="RightContent">
                                            <div class="CartPricingSection" id="CartOrdersummary">
                                                @*@Html.Partial("../_TotalTable", Model)*@
                                                <div class="col-xs-12 nopadding cart-total cart-total-content" id="summary-details">
                                                    <img src="~/Views/Themes/RogansShoes/Images/loading.gif" alt="Loading" class="dashboard-loader" style='justify-content:center;align-items:center;'>
                                                </div>
                                                <script>$.get("/cart/CalculateCart", function (res) { $(".cart-total-content").html(res); if ($('#dynamic-order-total')) $('#dynamic-cart-order-total').html($('#dynamic-order-total')[0].innerText); });</script>
                                            </div>

                                            

                                            <div>
                                                @if (Model?.ShoppingCartItems != null && Model?.ShoppingCartItems.Count > 0)
                                                {
                                                    <div class="CheckoutBox Right margin-top">
                                                        <a data-test-selector="linkCheckout" href="/Checkout/Index" class="checkout" id="checkOut-link" onclick="return Cart.prototype.ValidateProductQuantity();">@WebStore_Resources.ButtonCheckout</a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="Error">
                                                        <div class="uxMsg ErrorSection"><em>@WebStore_Resources.NoItemCartErrorMessage</em></div>
                                                    </div>
                                                    <div class="CheckoutBox"><a data-test-selector="linkContinue" class="checkout" href="/">@WebStore_Resources.ButtonContinueShopping</a></div>
                                                }
                                            </div>
                                        </div>
                                        <div class="clearfix CouponContent ContainerSection">
                                            <div class="CouponContentBox">
                                                @Html.Partial("../_ApplyCoupon", Model)
                                            </div>
                                            <div class="PromiseSection">
                                                <div class="col-lg-12 col-md-12 nopadding hidden-xs hidden-sm hidden-md">
                                                    <div class="BannerBox">
                                                        <!--Rogans Shoes Promise Shopping Cart Page-->
                                                        @Html.RenderMessage("ShoppingCartRogansPromise")
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <!--No Item Cart Error Msg-->
                        @*<div class="col-xs-12 nopadding cart-summary">
                            <p class="text-center margin-top-bottom">@WebStore_Resources.NoItemCartErrorMessage</p>
                        </div>*@
                    }
                </div>
            </div>
</div>

<script>
    $(".cartcount").html(@cartCount)
    $(function () {
       if ('@insufficientQuantity' == 'True') {
           $(".checkout").addClass('disable-anchor');
            $("#btnCompleteCheckout").addClass('disable-anchor');
            $("#paypal-express-checkout").addClass('disable-anchor');
       }
    });
</script>


