﻿@model Znode.Engine.WebStore.ViewModels.CartItemViewModel
@{

    int productId = Model.ParentProductId > 0 ? Model.ParentProductId : !string.IsNullOrEmpty(Model.ProductId) ? Convert.ToInt32(Model.ProductId) : 0;
    string _displayRemoveLink = Request.Path.Contains("Checkout") ? Model.IsAllowedTerritories ? "display:none" : "" : "";
}
<tr>
    <td class="remove-item" style="@_displayRemoveLink">
        @using (Html.BeginForm("RemoveCartItem", "Cart", new { guid = Model.ExternalId }, FormMethod.Post))
            {
            @Html.AntiForgeryToken()
            <a  href="JavaScript:void(0);" class="cart-item-remove" onclick="javascript:$($(this).closest('form').submit());" title="Remove Item"><i class="zf-close"></i></a>
        }
    </td>
    <td class="cart-item-details">
        <a href="@Url.GetProductUrl(Model?.SeoPageName, productId.ToString())"><img src="@Model.ImagePath" class="img-responsive" alt=""></a>
    </td>
    <td class="cart-item-name">
        <a  href="@Url.GetProductUrl(Model?.SeoPageName, productId.ToString())" class="cart-item-title">@Html.Raw(Model.ProductName)</a>

        <div class="cart-item-description">
            @if (Model?.PersonaliseValuesList?.Count > 0)
            {
                foreach (var item in Model.PersonaliseValuesList)
                {
                    if (!Equals(item.Value, null) && !Equals(item.Value, string.Empty))
                    {
                        <p>@item.Key : @item.Value</p>
                    }
                }
            }
        </div>
        <div class="group-product-list">
            @if (Model?.GroupProducts?.Count > 0)
            {
                foreach (var item in Model.GroupProducts)
                {
                    <p><i class="zf-caret-right"></i> @item.ProductName</p>
                }
            }
        </div>
        <div class="cart-item-description">@Html.Raw(Model.CartDescription)</div>
        @if (!Model.IsAllowedTerritories)
        {
            <div id="dynamic-allowesterritories" class="status-outofstock hvr-pulse error-msg">@WebStore_Resources.AllowedTerritoriesProductError</div>
        }
    </td>
    <td class="cart-item-unitprice">

        @if (Model?.GroupProducts?.Count > 0)
            {
                foreach (var item in Model.GroupProducts)
                {
                <div class="group-product-list">
                    @Helper.FormatPriceWithCurrency(Model.UnitPrice, Model.CurrencyCode)
                </div>
            }
        }
        else
        {
            @Helper.FormatPriceWithCurrency(Model.UnitPrice, Model.CurrencyCode, Model.UOM)
        }


    </td>
    <td class="cart-item-quantity">
        @Html.Partial("_Quantity", Model)
    </td>
    <td class="cart-item-total">
        @Helper.FormatPriceWithCurrency(Model.ExtendedPrice, Model.CurrencyCode)
    </td>
</tr>
<script>
    jQuery('img').bind('error', function (e) {
        this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";
    });
</script>