﻿@using Znode.Engine.WebStore.ViewModels
@model CartViewModel

@{
    bool insufficientQuantity = (Model?.ShoppingCartItems?.Any(x => x.InsufficientQuantity)).GetValueOrDefault();
}

<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<div id="divShoppingCart">
    <div class="main-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 nopadding shopping-cart">
                    @if (Model?.ShoppingCartItems?.Any() ?? false)
                    {
                        <div class="col-xs-12 nopadding shopping-cart-page-title">
                            <h2 class="cart-total-title">@WebStore_Resources.LabelShoppingCart</h2>
                        </div>
                        <div class="col-xs-12 col-md-8 col-lg-9 table-responsive cart-products nopadding">
                            <div class="cart-table-wrapper">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th>@WebStore_Resources.LabelItem</th>
                                            <th>@Admin_Resources.LabelUnitPrice</th>
                                            <th>@WebStore_Resources.ColumnTitleQuantity</th>
                                            <th>@WebStore_Resources.ColumnTitleTotal</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th colspan="50">
                                                @using (Html.BeginForm("RemoveAllCartItem", "Cart", FormMethod.Post))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <a href="JavaScript:void(0);" class="cart-item-remove-all" onclick="javascript:$($(this).closest('form').submit());">Clear Shopping Cart</a>
                                                }
                                                <a href="/" class="btn-text-icon btn-color-secondary">@WebStore_Resources.ButtonContinueShopping</a>
                                            </th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @*To show the recently added product on the top of cart.*@
                                        @foreach (CartItemViewModel cartItem in Model.ShoppingCartItems.AsEnumerable().Reverse())
                                        {
                                            @Html.Partial("_CartRow", cartItem)
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 col-lg-3 cart-summary nopadding">
                            <div class="md-cart-aside">
                                <div class="col-xs-12 col-sm-6 col-md-12 md-apply-coupon nopadding">
                                    @Html.Partial("../_ApplyCoupon", Model)
                                </div>
                                @*Do not reomve cart-total class*@
                                <div class="col-xs-12 col-sm-6 col-md-12 md-cart-total cart-total nopadding">
                                    @Html.Partial("../_TotalTable", Model)
                                </div>
                            </div>
                        </div>
                        <div class="pull-right checkout-view-btn">
                            <a href="/Checkout/Index" class="btn-text btn-color-primary pull-right" onclick="return Cart.prototype.ValidateProductQuantity();"><i class="zf-checkout"></i>@WebStore_Resources.ButtonProceedToCheckout</a>
                        </div>
                    }
                    else
                    {
                        <div class="col-xs-12 nopadding shopping-cart-page-title">
                            <h2 class="cart-total-title">Shopping Cart is Empty</h2>
                        </div>
                        <div class="col-xs-12 nopadding cart-empty">
                            <p>You have no items in your shopping cart.</p>
                            <p>Click <a href="/">here</a> to continue shopping.</p>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        if ('@insufficientQuantity' == 'True') {
            $("#checkOut-link").addClass('disable-anchor');
            $("#btnCompleteCheckout").addClass('disable-anchor');
            $("#paypal-express-checkout").addClass('disable-anchor');
        }
    }
</script>
