﻿@import "../_base.scss";

// Shipping Progress Bar
.shipping-progress{padding:20px 0;display:flex;display:-webkit-flex;display:-moz-flex;}
.progress-start,.progress-end{width:30%;}
.bar-15{width:15% !important;flex:1;}
.bar-20{width:20% !important;flex:1;}
.starting-point{position:absolute;top:40%;left:15%;flex:1;}
.ending-point{position:absolute;top:40%;right:15%;flex:1;}

.shipping-progress > .progress-step{padding:0;position:relative;display:inline-block;
        &:first-child{
            .step-title{visibility:hidden;}
            .step-info{visibility:hidden;}
        }
        .step-title{color:$shipping-fill-bar;font-size:$base-font-size + 2;margin-bottom:5px;height:22px;line-height:18px;}
        .bs-wizard-info{color:#000;font-size:$base-font-size}
        > .step-dot{position:absolute;width:18px;height:18px;display:block;background:$shipping-fill-bar;border:2px solid $base-color-white;top:45px;left:50%;margin-top:-7px;margin-left:-8px;border-radius:50%}
        > .progress{position:relative;border-radius:0;height:5px;box-shadow:none;margin:23px 0;background-color:$shipping-progress-bar;overflow:hidden;background:$shipping-fill-bar;
            > .progress-bar{width:0;box-shadow:none;background:$shipping-fill-bar;}
        }
        &.complete > .progress > .progress-bar{width:100%}
        &.active > .progress > .progress-bar{width:50%}
        &.disabled > .progress {background:#f5f5f5;}
        &:first-child.active > .progress > .progress-bar{width:0}
        &:last-child.active > .progress > .progress-bar{width:100%}
        &.disabled > .step-dot{background-color:$shipping-progress-bar;
                        &:after{opacity:0}
        }
        &:first-child > .progress{left:50%;width:50%}
        &:last-child > .progress{width:50%}
  
}

.shipping-progress > .progress-step.disabled a.step-dot:hover{border-color:$shipping-fill-bar}
.shipping-progress .popover-content{padding:9px 14px;text-align:center}
.shipping-progress .popover{background-color:$shipping-fill-bar;color:$base-color-white;border-radius:10px}
.shipping-progress .popover.top>.arrow:after{bottom:1px;margin-left:-10px;content:" ";border-top-color:$shipping-fill-bar;border-bottom-width:0}

.shipping-bar-status{padding-bottom:10px;text-align:center;
    a{font-weight:600;}
    i{font-size:10px;}
}

//  Responsive Design Start
@include screensize(x-small){
    .starting-point{position:absolute;top:40%;left:0}
    .ending-point{position:absolute;top:40%;right:-15%}
    .shipping-progress > .progress-step{
        .step-title{font-size:$base-font-size;visibility:hidden;}
    }
}

@include screensize(xl-small){
    .starting-point{left:25%}
    .ending-point{right:0}
    .shipping-progress > .progress-step{
        .step-title{visibility:visible;}
    }
}

@include screensize(small){
    .starting-point{left:30%}
}

@include screensize(medium){
    .ending-point{right:15%}    
}

@include screensize(desktop){
    .shipping-progress > .progress-step{
        .step-title{font-size:$base-font-size + 2px;}
    }
}
