﻿@import "../_base.scss";

// Button
.btn-text{
    @include btn-text;
    font:{ 
      size:14px;
      weight:$base-font-bold;
   }        
   padding:0 15px;
   margin-left:5px;
   height:38px;
   line-height:38px;
   border-radius:0;
   font-weight:$base-font-normal;
   &:hover,&:focus,&:active{color:$base-color-white;opacity:0.9;text-decoration:none;}
}
.btn-text-icon{
    @include btn-text;
    font:{ 
      size:14px;
      weight:$base-font-bold;
   }
   padding:0 15px 1px 10px;height:45px;line-height:45px;margin-left:5px;
   &:hover,&:focus,&:active{color:$base-color-white;}
   i{padding-right:5px;font-size:$base-font-size + 3;line-height:45px;float:left; }
}
.btn-text-full{
    @include btn-text;
    font:{ 
      size:16px;
      family:$base-font-family-bold;
   }
   width:100%;padding:0 15px 1px 10px;height:45px;line-height:45px;
   &:hover,&:focus,&:active{color:$base-color-white;text-decoration:none;}
   i{float: left;font-size:28px;line-height:45px;padding-right:10px;border-right: 1px solid $border-bgcolor-default;}
}
.btn-card {
    @include btn-text;
    font-size:13px;padding:0 15px 0 10px;line-height:34px;
    &:hover,&:focus,&:active{color:$base-color-white;}
    i{padding-right:5px;font-size:$base-font-size + 3;line-height:30px;float:left;}
}
.btn-wishlist {
    @include btn-text;
    background-color:$base-color-white;color:#787878;font-size:$base-font-size;border:1px solid $border-bgcolor-default;padding:0 10px 1px 5px; margin:0 0 5px;
    i{padding-right:5px;font-size:$base-font-size;line-height:26px;float: left;}
}
.btn-margin-left{margin-left:0;}

.red,.btn-color-primary { background: $base-bgcolor-button-primary; }
.grey,.btn-color-secondary { background: $base-bgcolor-button-secondary;}
