﻿@using Znode.WebStore.Custom.ViewModel
@using Znode.Libraries.ECommerce.Utilities
@model ShoesFinderViewModel
@{
    ViewBag.Title = "Shoe Finder | Rogan’s Shoes";
    ViewBag.Description = "Find your favorite shoes from Rogan’s Shoes Shoe Finder";
}
<div class="main-wrapper">
    <div class="container">
        <div class="contain-pages">
            <div class="col-xs-12 nopadding">
                <div class="PageTitle"><h1>Shoe Finder</h1></div>
                <div>
                    @Html.RenderMessage("ShoeFinderFormMsg")
                </div>
                <div class="Form col-xs-12 col-md-12 col-lg-12 nopadding margin-top margin-bottom">

                    @using (Html.BeginForm("ShoeFinder", "RSCustomizedForm", FormMethod.Post, new { @id = "frmShoeFinder" }))
                    {
                        <div class="Form col-xs-12 col-md-6 col-lg-6 LeftContent nopadding">

                            <div>
                                <div>
                                    <div class="FormTitle">@WebStore_Resources.TitleContactInformation</div>
                                </div>
                                <div class="col-lg-12 nopadding">
                                    @Html.TextBoxFor(model => model.FirstName, new { @maxlength = 100, @id = "valFirstName", @required = "required", @title = @WebStore_Resources.LabelFirstNameTitle, @alt = @WebStore_Resources.LabelFirstNameAlt })
                                    <label placeholder="@WebStore_Resources.LabelFirstName"></label>
                                    <span id="valFirstNameErr" class="field-validation-error"></span>
                                </div>
                                <div class="col-lg-12 nopadding">
                                    @Html.TextBoxFor(model => model.LastName, new { @maxlength = 100, @id = "valLastName", @required = "required", @title = @WebStore_Resources.LabelLastNameTitle, @alt = @WebStore_Resources.LabelLastNameAlt })
                                    <label placeholder="@WebStore_Resources.LabelLastName"></label>
                                    <span id="valLastNameErr" class="field-validation-error"></span>
                                </div>
                                <div class="col-lg-12 nopadding">
                                    @Html.TextBoxFor(model => model.EmailID, new { @maxlength = 200, @id = "valEmail", @required = "required", @title = @WebStore_Resources.LabelEmailAddressTitle, @alt = @WebStore_Resources.LabelEmailAddressAlt })
                                    <label placeholder="@WebStore_Resources.LabelEmailAddress"></label>
                                    <span id="valEmailErr" class="field-validation-error"></span>
                                </div>
                            </div>


                            <div class="Clear">
                                <div class="FormTitle">@WebStore_Resources.TitleOtherOptionalInform</div>
                                <div class="col-lg-12 nopadding">
                                    @Html.TextBoxFor(model => model.Type, new { @id = "idType", @required = "required", @title = @WebStore_Resources.TextType, @alt = @WebStore_Resources.TextType })
                                    <label placeholder="@WebStore_Resources.TextType"></label>
                                    <span id="valTypeErr" class="field-validation-error"></span>
                                </div>
                                <div class="col-lg-12 nopadding">
                                    @Html.TextBoxFor(model => model.StockNumber, new { @id = "valStockNumber", @required = "required", @title = @WebStore_Resources.TextStockNumber, @alt = @WebStore_Resources.TextStockNumber})
                                    <label placeholder="@WebStore_Resources.TextStockNumber"></label>
                                    <span id="valStockNumberErr" class="field-validation-error"></span>
                                </div>
                                <div class="col-lg-12 nopadding">
                                    <div class="form-group">
                                        <select id="ddlLikeSite" onchange="" title=@WebStore_Resources.TextLikeSite>
                                            <option value="">@WebStore_Resources.TextLikeSite</option>
                                            <option value="">@WebStore_Resources.TextSFLikeSiteYuck</option>
                                            <option value="">@WebStore_Resources.TextSFLikeSIteItsok</option>
                                            <option value="">@WebStore_Resources.TextSFLikeSIteAverage</option>
                                            <option value="">@WebStore_Resources.TextSFLikeSIteNiceSite</option>
                                        </select>
                                    </div>
                                    @Html.HiddenFor(model => model.LikeOurSite, new { @id = "LikeOurSite" })
                                    @*<input type="hidden" name="LikeOurSite" id="LikeOurSite" value="" />*@
                                </div>

                                <div class="col-lg-12 nopadding">
                                    @Html.TextAreaFor(model => model.Description, new { rows = "10", cols = "50", @id = "valComment", @required = "required",@data_test_selector = "txtDescription", @class = "TextBoxrogan", @title = @WebStore_Resources.LabelShoeFinderComments, @alt = @WebStore_Resources.LabelShoeFinderComments })
                                    <label class="reviewlabelset" placeholder="@WebStore_Resources.LabelShoeFinderComments" data-test-selector="lblDescription"></label>
                                    <span id="valCommentErr" class="field-validation-error" data-test-selector="lblValDescriptionErrMsg"></span>
                                </div>
                            </div>
                        </div>

                        <div class="Form col-xs-12 col-md-6 col-lg-6 LeftContent RightSection">
                            <div>
                                <div class="FormTitle">@WebStore_Resources.TitleShoeInformation</div>
                            </div>
                            <div>
                                <div class="col-lg-12 nopadding">
                                    <div class="form-group">
                                        <select id="ddlBrand" onchange="" title=@WebStore_Resources.TextSelectBrand>
                                            <option value="0">@WebStore_Resources.TextSelectBrand</option>
                                        </select>
                                    </div>
                                    @Html.HiddenFor(model => model.SelectBrand, new { @id = "SelectBrand" })
                                </div>

                                <div class="col-lg-12 nopadding">
                                    @Html.TextBoxFor(model => model.ShoeName, new { @id = "valShoeName", @required = "required", @maxlength = 100, @title = @WebStore_Resources.TextShoeName, @alt = @WebStore_Resources.TextShoeName })
                                    <label placeholder="@WebStore_Resources.TextShoeName"></label>
                                </div>
                                <div class="col-lg-12 nopadding">
                                    @Html.TextBoxFor(model => model.Color, new { @id = "valColor", @required = "required",@title = @WebStore_Resources.TextColor, @alt = @WebStore_Resources.TextColor })
                                    <label placeholder="@WebStore_Resources.TextColor"></label>
                                </div>
                                <div class="col-lg-12 nopadding">
                                    @Html.TextBoxFor(model => model.Size, new { @id = "valSteeltorequired", @required = "required",@title = @WebStore_Resources.TextSize, @alt = @WebStore_Resources.TextSize })
                                    <label placeholder="@WebStore_Resources.TextSize"></label>
                                </div>

                                <div class="col-lg-12 nopadding">
                                    <div class="form-group">
                                        <select id="ddlSFGender" onchange="" title=@WebStore_Resources.TextSelectGender>
                                            <option value="">@WebStore_Resources.TextSelectGender</option>
                                            <option value="">@WebStore_Resources.TextSelectOptionMen</option>
                                            <option value="">@WebStore_Resources.TextSelectOptionWomen</option>
                                            <option value="">@WebStore_Resources.TextSelectOptionChildren</option>
                                            <option value="">@WebStore_Resources.TextSelectOptionInfants</option>
                                        </select>
                                    </div>
                                    @Html.HiddenFor(model => model.Gender, new { @id = "Gender" })
                                </div>
                                <div class="col-lg-12 nopadding">
                                    <div class="form-group">
                                        <select id="ddlSFWidth" onchange="" title=@WebStore_Resources.TextSFSelectWidth>
                                            <option value="">@WebStore_Resources.TextSFSelectWidth</option>
                                            <option value="">@WebStore_Resources.TextSFSelectNarrow</option>
                                            <option value="">@WebStore_Resources.TextSFSelectWide</option>
                                            <option value="">@WebStore_Resources.TextSFSelectMedium</option>
                                        </select>
                                    </div>
                                    @Html.HiddenFor(model => model.width, new { @id = "width" })
                                </div>
                                <div class="col-lg-12 nopadding">
                                    <div class="form-group">
                                        <select id="ddlLocation" onchange="" title=@WebStore_Resources.TextSelectLocation>
                                            <option value="0">@WebStore_Resources.TextSelectLocation</option>
                                        </select>
                                    </div>
                                    @Html.HiddenFor(model => model.location, new { @id = "location" })
                                </div>
                                <div class="col-lg-12 col-xs-12 nopadding margin-top">
                                    <div class="g-recaptcha" data-sitekey="6LcBkaIUAAAAAO1Y3g_TnqQhKP4qXcdxoXyHbe1V"></div>
                                    <p class="error-msg">@Html.ValidationMessage("ErrCaptcha", "", new { @id = "ErrCaptcha" })</p>
                                </div>
                                <div class="col-lg-12 col-xs-12 nopadding margin-top">
                                    <button type="submit" class="btn btn-primary" id="Shoe-Finder" onclick="return CaseRequest.prototype.ValidationForShoeFinderForm();">@WebStore_Resources.ButtonSubmit</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("apiURL", ZnodeAdminSettings.ZnodeApiRootUri)

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
    /* NIVI Code starts For Shoe Finder */
    function FillLocationDropdown() { sku = "0"; try { $.ajax({ type: "GET", url: $("#apiURL").val() + "/rspublishproduct/GetStoreLocationsDetails/ALL/" + sku, contentType: "application/json; charset=utf-8", dataType: "json", success: function (n) { $.each(n, function (a, e) { var o = JSON.parse(JSON.stringify(n[a])); $.each(o, function (n, a) { var e = JSON.stringify(o[n]), t = JSON.parse(e), r = t.StoreName.split("-"); $("#ddlLocation").append($("<option></option>").attr("value", t.WarehouseId).text(r[1])) }) }) }, failure: function (n) { console.warn("Failure-" + n.responseText) }, error: function (n) { console.warn(n.responseText) } }) } catch (n) { console.warn(n.message) } } function FillBrandsDropdown() { try { $.ajax({ type: "GET", url: $("#apiURL").val() + "/Brand/List", contentType: "application/json; charset=utf-8", dataType: "json", success: function (n) { $.each(n, function (a, e) { var o = JSON.parse(JSON.stringify(n[a])); $.each(o, function (n, a) { var e = JSON.stringify(o[n]), t = JSON.parse(e); $("#ddlBrand").append($("<option></option>").attr("value", t.BrandId).text(t.BrandName)) }) }) }, failure: function (n) { console.warn("Failure-" + n.responseText) }, error: function (n) { console.warn(n.responseText) } }) } catch (n) { console.warn(n.message) } }

    $("#ddlBrand").change(function () { var e = $("#ddlBrand option:selected").text(); return "Select Brand" == e ? $("#SelectBrand").val() : $("#SelectBrand").val(e), !1 }), $("#ddlLocation").change(function () { var e = $("#ddlLocation option:selected").text(); return "Select Location" == e ? $("#location").val("") : $("#location").val(e), !1 }), $("#ddlSFGender").change(function () { var e = $("#ddlSFGender option:selected").text(); return "Select Gender" == e ? $("#Gender").val("") : $("#Gender").val(e), !1 }), $("#ddlSFWidth").change(function () { var e = $("#ddlSFWidth option:selected").text(); return "Select Width" == e ? $("#width").val("") : $("#width").val(e), !1 }), $("#ddlLikeSite").change(function () { var e = $("#ddlLikeSite option:selected").text(); return "Like Our Site" == e ? $("#LikeOurSite").val("") : $("#LikeOurSite").val(e), !1 }), $(document).ready(function () { FillBrandsDropdown(), FillLocationDropdown(), $("#frmShoeFinder").validate(), $("#valFirstName").rules("add", { required: !1 }), $("#valLastName").rules("add", { required: !1 }), $("#valEmail").rules("add", { required: !1 }),$("#idType").rules("add", { required: !1 }), $("#valStockNumber").rules("add", { required: !1 }), $("#valComment").rules("add", { required: !1 }), $("#valShoeName").rules("add", { required: !1 }), $("#valSteeltorequired").rules("add", { required: !1 }), $("#valColor").rules("add", { required: !1 });});
    /* NIVI Code ends For Shoe Finder */

    /* NIVI Code starts For captcha */

   // var form = document.getElementById("frmShoeFinder"); form.addEventListener("submit", function (e) { "" === grecaptcha.getResponse() ? (e.preventDefault(), $("#ErrCaptcha").text("Please check the recaptcha.")) : $("#ErrCaptcha").text("") }, !1);

    /* NIVI Code ends For captcha */
</script>