@using Znode.Engine.WebStore.Agents
@using ZNode.Libraries.ECommerce.Utilities
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
}

<div class="container">
    <div class="row">
        <z-widget>@Html.WidgetPartial("TextEditor", "ContentPage", "996070", "ContentPageMapping", (int)ViewBag.contentPageId)</z-widget>
    </div>
</div>