﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model ProductViewModel

@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool CallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        CallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    string disable = CallForPricing || !Model.ShowAddToCart ? "disabled" : "";
    string productType = Model?.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code;
    string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
    string ratingText = Model.Rating > 0 ? string.Format(WebStore_Resources.TextRating, Math.Round(Model.Rating, 1), Model.TotalReviews) : string.Empty;
}
<div class="view-item">
    <div class="product-img">
        <a href="@Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())">
            @if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
            {
                <img src="~/Views/Themes/ModernB2C/Images/new-product-tag.png" alt="New Product" class="img-responsive new-product-tag hvr-pulse" />
            }
            <div class="image">
                @{
                    string imageSrc = string.IsNullOrEmpty(Model.ImageSmallPath) ? "/no-image.png" : Model.ImageSmallPath;
                }
                <img id="@Model.PublishProductId" src="@imageSrc" class="img-responsive" data-src="@imageSrc" alt="Product" />
            </div>
        </a>
        <button onclick="Product.prototype.GetProductDetails(this)" class="btn-card btn-quick-view btn-color-secondary hvr-shadow" data-review-state-id="" data-product-is-active="" data-value="@Model.PublishProductId" data-isquickview="true" data-toggle="modal" data-target=".quick-view-popup">@WebStore_Resources.ButtonQuickView</button>
    </div>
    <div class="product-details">
        <div class="product-rating">
            @Html.Partial("_StarRating", Model.Rating)
            @*@ratingText<a href="@Url.GetProductUrl(Model?.SEOUrl, Model.PublishProductId.ToString())#scrollReview" id="jumpto-readreviews-productTile">@WebStore_Resources.LinkTextReadReviews</a>*@
        </div>
        <h4 class="title">
            <a href="@Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())">@WebUtility.HtmlDecode(Model.Name)</a>
            <span class="md-product-name">
                <a href="@Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())">@WebUtility.HtmlDecode(Model.Name)</a>
            </span>
        </h4>
        <div class="col-xs-12 nopadding product-description">@Html.Raw(Model.Attributes.Value("LongDescription"))</div>
        @if (CallForPricing)
        {
            <div class="price"><label>@callForPricingMessage</label></div>
        }
        else
        {
            <div class="price" data-sku="@Model.SKU" data-type="@Model.ProductType">
                @if (!Helper.IsAsyncPrice)
                {
                    if (!string.IsNullOrEmpty(Model.GroupProductPriceMessage))
                    {
                        <label>@Model.GroupProductPriceMessage</label>
                    }
                    else
                    {
                        if (!Equals(Model.SalesPrice, null))
                        {
                            <span>
                                @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CurrencyCode, UOM)
                            </span>

                            if (Model.SalesPrice != @Model.RetailPrice && !Equals(productType, ZnodeConstant.GroupedProduct))
                            {
                                <span class="cut-price">
                                    @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CurrencyCode, UOM)
                                </span>
                            }
                        }
                        else
                        {
                            if (HelperUtility.IsNotNull(Model.PromotionalPrice))
                            {
                                <label>
                                    @Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CurrencyCode, UOM)
                                </label>
                                <span class="cut-price">
                                    @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CurrencyCode, UOM)
                                </span>
                            }
                            else
                            {
                                <span>
                                    @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CurrencyCode, UOM)
                                </span>
                            }
                        }

                    }

                }
                else
                {
                    <label class="price-span" data-sku="@Model.SKU" data-type="@productType">Loading...</label>
                }

            </div>
            if (!string.IsNullOrEmpty(disable))
            {
                <div class="item-error-msg">
                    <p class="error-msg">@Model.InventoryMessage</p>
                </div>
            }
        }
        <div class="add-to-actions">
            <a href="JavaScript:void(0);" class="add-to-wishlist" data-id="@Model.PublishProductId" data-sku="@Model.SKU" onclick="Product.prototype.AddToWishList(this)" title="My Wishlist"><i class="zf-md-wish-list"></i></a>
            <a class="add-to-cart" href="@Url.GetProductUrl(Model?.SEOUrl, Model.PublishProductId.ToString())">View More</a>
            <a href="JavaScript:void(0);" class="add-to-compare" onclick="return Category.prototype.AddToCompare(@Model.PublishProductId,@Model.CategoryId)" title="@WebStore_Resources.LabelCompareLink">
                <i class="zf-md-compare"></i>
            </a>
            <div class="col-xs-12 nopadding padding-top-10 wishlist-status success-msg"><span id="accountWishList_@Model.PublishProductId"></span></div>
            <button onclick="Product.prototype.GetProductDetails(this)" class="list-quick-view" data-review-state-id="" data-product-is-active="" data-value="@Model.PublishProductId" data-isquickview="true" data-toggle="modal" data-target=".quick-view-popup" title="Quick View"><i class="zf-search"></i></button>
        </div>
    </div>

</div>
<script>
    jQuery('img').bind('error', function (e) {
        this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";
    });
</script>