﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel

<div class="col-xs-12 nopadding image-view">
    @if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
    {
        <img src="~/Views/Themes/ModernB2C/Images/new-product-tag.png" alt="New Product" class="img-responsive new-product-tag" />
    }

    <div class="easyzoom easyzoom-overlay easyzoom-with-thumbnails">
        <a href="@Model.ImageLargePath" class="easyzoom-img">
            <img src="@Model.ImageMediumPath" />
        </a>
    </div>
    <div class="col-xs-12 nopadding product-altimages">
        <div id="alt-images" class="owl-carousel alternate-img simpleLens-thumbnails-container Product_Altimages">
            @if (Model.AlternateImages.Count > 0)
            {
                <div class="item">
                    <a href="@Model.ImageLargePath" data-standard="@Model.ImageLargePath">
                        <img src="@Model.ImageMediumPath" />
                    </a>
                </div>

                foreach (var image in Model.AlternateImages)
                {
                    <div class="item">
                        <a href="@image.OriginalImagePath" data-standard="@image.OriginalImagePath">
                            <img src="@image.ImageThumbNailPath" alt="" />
                        </a>
                    </div>
                }
            }

        </div>
    </div>

</div>

<script>
    $(".Product_Altimages").owlCarousel({
        autoPlay: false,
        navigation: true,
        items: 4,
        itemsCustom: [
          [0, 1],
          [320, 4],
          [480, 4],
          [600, 4],
          [768, 4],
          [992, 4],
          [1200, 4]
        ],
        navigationText: [
          "<i class='zf-md-arrow-left'></i>",
          "<i class='zf-md-arrow-right'></i>"
        ]
    });
</script>
