﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model  List<BundleProductViewModel>
@{
    Layout = null;
}
<div class="col-12 p-0 b2b-bundle-product">
    <div class="col-12 b2b-select-quantity">@WebStore_Resources.LabelIncludedProducts</div>
    <div class="b2b-bundle-carousel">
        <div id="bundle-products" class="owl-carousel Bundale_Products">
            @{
                foreach (var product in Model?.OrderBy(x => x.AssociatedProductDisplayOrder))
                {
                    <div class="bundle-item d-flex align-items-center">
                        <img class="img-responsive bundle-item-img" src="@product.ImageThumbNailPath" alt="@Attributes.Value(product.Attributes,ZnodeConstant.ImageAlternateText)" data-bundlesku="@product.SKU" />
                        <h5 class="bundle-item-title text-center">@Html.RenderBlock(product.Name)</h5>
                    </div>
                }
            }
        </div>
    </div>
</div>
<script>
    jQuery('img').on('error', function (e) {
        this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";
    });
    $(".Bundale_Products").owlCarousel({
        autoPlay: false,
        navigation: true,
        items: 4,
        itemsCustom: [
          [0, 1],
          [320, 1],
          [480, 1],
          [600, 1],
          [768, 2],
          [992, 2],
          [1200, 2]
        ],
        navigationText: [
          "<span class='left-icon'></span>",
          "<span class='right-icon'></span>"
        ]
    });
</script>
