﻿@using Znode.Engine.WebStore.ViewModels
@model ProductComparePopUpViewModel

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">@WebStore_Resources.HeaderProductCompare</h4>
        <button type="button" class="close" data-dismiss="modal"><span class="close-circle-icon"></span></button>
    </div>
    <div class="modal-body">
        <p>@Model.Message</p>
    </div>
    <div class="modal-footer">
        <div class="d-flex flex-wrap quotebutton">
            @if (Model.ErrorCode == 1)
            {
                <button type="button" onclick="Category.prototype.CategoryLevelComparison('@Model.ProductId','@Model.CategoryId')" id="btn-cancel-popup" class="btn btn-primary" data-dismiss="modal">@WebStore_Resources.OkButtonLable</button>
            }
            else if (Model.ErrorCode == 2 || Model.ErrorCode == 3)
            {
                <button type="button" id="btn-cancel-popup" class="btn btn-primary" data-dismiss="modal">@WebStore_Resources.OkButtonLable</button>
            }
            else if (Model.HideViewComparisonButton)
            {
                <button type="button" id="btn-cancel-popup" class="btn btn-primary" data-dismiss="modal">@WebStore_Resources.AddMoreButtonLable</button>
            }
            else
            {
                <button type="button" id="btn-cancel-popup" class="btn btn-primary" data-dismiss="modal">@WebStore_Resources.AddMoreButtonLable</button>

                <button type="button" onclick="Category.prototype.GetProductComparison()" id="btn-cancel-popup" class="btn btn-secondary mt-3 mt-md-0 ml-0 ml-md-3" data-dismiss="modal">@WebStore_Resources.ViewComparisonButtonLable</button>
            }
        </div>
    </div>
</div>


