﻿@using Znode.Engine.WebStore.ViewModels
@model ProductListViewModel
@{
    TempData[WebStoreConstants.ProductCount] = Model?.Products?.Count;
    string searchTerm = Request.QueryString["SearchTerm"]?.ToString();
    string searchValue = string.IsNullOrEmpty(Model.SuggestTerm) ? Model.SearchKeyword : Model.SuggestTerm;
}

@if (Model?.Products?.Count > 0)
{
    var categoryName = Model.Products.First()?.CategoryName;

    <div class="col-12 p-0 b2b-product-grid">
        <div class="b2b-filters d-flex">
            <div class="d-flex flex-wrap align-items-center">
                @Html.Partial("../Search/_PagingSearching", Model)
            </div>
        </div>
        <div class="b2b-facets-btn d-lg-none quotebutton">
            <button data-target="#facets" class="OpenNav nav-link btn-block btn btn-secondary m-md-auto">Sort & Filter</button>
        </div>
        <div id="facetFilters" class="col-12 b2b-filtered-list"></div>
        <div class="col-12 product-view p-0 my-3">
            <ul id="view-option-productgrid" infinnity-loading="@Helper.InfinityLoading" class="product-grid-ul grid-view">
                @{
                    if (!Equals(Model, null))
                    {
                        foreach (var p in Model.Products)
                        {
                            <li class="b2b-products">
                                <article class="product-item">
                                    @Html.Partial("../Product/_ProductTile", p)
                                </article>
                            </li>
                        }
                    }
                }
            </ul>

            <div id="loading" class="loader" style="display:none;"></div>
        </div>
        <div class="b2b-filters d-flex">
            <div class="d-flex flex-wrap justify-content-center align-items-center">
                @Html.Partial("../Search/_PagingSearchingBottom", Model)
            </div>
        </div>
    </div>
}
else
{
    if (!string.IsNullOrEmpty(Model.SearchTextName) && Model.SearchTextName != "Search")
    {

        <div class="col-12 p-0 mb-5">
            @string.Format(WebStore_Resources.ErrorProductSearchResult, Model.SearchTextName)
        </div>
    }
    else
    {
        <div class="col-12 p-0 mb-5">
            @Html.RenderBlock(WebStore_Resources.NoSearchResultsFound?.Replace("{0}", searchTerm))
        </div>
    }
}
<script>
    $(document).ready(function () {
        var async = '@Helper.IsAsyncPrice';
        if (async == 'True') {
            Product.prototype.GetPriceAsync();
        }
        $("#searchTextBox").val('@Html.RenderBlock(searchValue)');
    })
</script>