﻿@using Znode.Engine.WebStore.ViewModels
@model ProductListViewModel
<!--Showing Filters,pagination,sorting-->
@{
    string searchTerm = Request.QueryString["SearchTerm"]?.ToString();
    string pageno = Request.QueryString["pagenumber"]?.ToString();
    if (pageno == null)
    {
        pageno = "1";
    }
    string productCount = "";
    string searchResult = "";
    if (searchTerm != null)
    {
        string s = Model.SearchResultCountText.ToString();
        productCount = s.Split(new string[] { "for" }, StringSplitOptions.None)[0];
        searchResult = "We found " + s + " in SEARCH";
    }
    else
    {
        productCount = Model.SearchResultCountText.ToString();
    }
}

<div id="layout-search" class="CategoryDetail hidden-xs">
    <div class="col-lg-6 col-xs-12 col-sm-8 nopadding">
        <div class="col-xs-6 col-sm-6 col-lg-3 col-md-3 nopadding text-left leftresult">
            <span class="PageResult">@productCount</span>
        </div>
        <div class="search-sorting col-xs-6 col-sm-6 col-lg-9 col-md-9 Sorting nopadding text-right">
            <div class="PageSort footpagging">
                <span class="Label hidden-xs">@WebStore_Resources.lableSortBy</span>
                @Html.Partial("../Search/_Sorting", new ViewDataDictionary(new { Id = "Sort2", @class = "pull-right" }))
            </div>
        </div>
    </div>

</div>

<div id="layout-paging" class="CategoryDetail">
    <div class="search-paging col-lg-6 col-xs-12 col-sm-4 Sorting nopadding">
        <div class="col-xs-6 col-lg-6 col-md-6 nopadding hidden-xs text-right">
            <div class="PageShow">
                <span class="Label">@WebStore_Resources.lableShow</span>
                @Html.Partial("../Search/_Paging", new ViewDataDictionary(new { Id = "Page", @class = "pull-right" }))
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-6 nopadding search-pagination PageNavArrow margin-top-mobile text-right">
            <span class="label">@WebStore_Resources.labelPageName</span>
            <ol>
                <li class="search-more-nav arrow-left"><a data-test-selector="linkArrowLeftBottom" class="prev-page-search" href="javascript: void(0)" data-pageno="@Request.QueryString["pagenumber"]" class="button" title="Previous"><i class='zf-arrow-left-big'></i></a></li>
                <li><span>@pageno</span></li>
                <li class="search-more-nav arrow-right"><a data-test-selector="linkArrowRightBottom" class="next-page-search" href="javascript: void(0)" data-pageno="@Request.QueryString["pagenumber"]" class="button" title="Next"><i class='zf-arrow-right-big'></i></a></li>
                <li><span>Of @Model.TotalPages</span></li>
            </ol>
            @Html.HiddenFor(model => model.TotalPages, new { id = "hdnTotalPages" })
        </div>
    </div>
</div>

@if (searchTerm != null)
{
    <div class="col-xs-12 nopadding hidden-xs">
        <div class="uxMsg SuccessSection">
            <div class="uxMsg ErrorSection">
                <em><span>@Html.Raw(searchResult) </span></em>
            </div>
        </div>
    </div>
    

}
