﻿@using Znode.Engine.WebStore.ViewModels

@model List<StoreLocatorViewModel>

<div id="layout-content">
    <div class="col-xs-12 margin-top-bottom nopadding table-responsive store-locator-view">
        <h3><i class="fa fa-map-marker"></i>  Store Locator Details</h3>
        <ul id="table-store-list">
                @foreach (StoreLocatorViewModel store in Model)
                {
                    string DisplayAddress = (string.IsNullOrEmpty(store.Address1) ? "" : $"{store.Address1},") + $"{store.Address2}," + (string.IsNullOrEmpty(store.Address3) ? "" : $",{store.Address3} ,") + $" {store.CityName}, {store.StateName}";
                    <li data-distance="0" data-lng="@store.Longitude" data-lat="@store.Latitude" data-title="@store.StoreName" data-address="@DisplayAddress" class="storeLocationCoordinate">
                        <p class="recent-order-title"><span class="recent-order-product"><b>Name:</b> @WebUtility.HtmlDecode(store.StoreName)</span></p>
                        <p class="recent-order-date"><b>Address:</b> @DisplayAddress</p>
                        <p class="recent-order-id"><b>Pin:</b> @store.PostalCode</p>
                        <p class="recent-order-total"><b>Phone:</b> @store.PhoneNumber</p>
                        <p class="recent-order-reorder"><a href="#table-store-list" onclick="showDirectionToStore(this)">@WebStore_Resources.TitleMapLink</a></p><span class="pull-right"><a href="#" class="btn btn-primary" style="margin-top: -55px;">Make My Store</a></span>
                    </li>
                }
        </ul>

    </div>
</div>