﻿@using Znode.Engine.WebStore.ViewModels
@model WebstoreBlogNewsListViewModel

@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

<div class="main-wrapper">
    <div class="container">
        <div class="row contain-pages">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@Model.BlogNewsList.FirstOrDefault().BlogNewsType</h1>
            </div>

            @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="col-xs-12 nopadding">

                    <ul class="blog-news" style="padding:0;margin:0;">
                        @foreach (var blogNews in Model?.BlogNewsList)
                        {
                            <li style="width:100%;margin-bottom:20px;border-bottom:1px solid #c3c3c3;display:inline-block;list-style:none;">
                                <div class="col-xs-12 nopadding padding-bottom">
                                    <h2>@blogNews.BlogNewsTitle</h2>
                                </div>
                                <div class="col-xs-12 nopadding padding-bottom">
                                    <p>@blogNews.CreatedDate.ToDateTimeFormat()</p>
                                </div>
                                <div class="col-xs-12 nopadding padding-bottom">
                                    <p>@blogNews.BodyOverview</p>
                                </div>
                                <div class="col-xs-12 nopadding pull-right margin-top-bottom">@WebStore_Resources.TextTags: @blogNews.Tags</div>
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</div>