﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using System.Configuration
@model WidgetProductViewModel
@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool CallForPricing = Convert.ToBoolean(Model.ProductViewModel?.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.ProductViewModel?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        CallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    string disable = CallForPricing || !Model.ProductViewModel.ShowAddToCart ? "disabled" : "";
    string productType = Model.ProductViewModel?.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code;
    string UOM = Attributes.ValueFromSelectValue(Model?.ProductViewModel.Attributes, "UOM");
    string ratingText = Model.ProductViewModel?.Rating > 0 ? string.Format(WebStore_Resources.TextRating, Math.Round(Model.ProductViewModel.Rating, 1), Model.ProductViewModel?.TotalReviews) : string.Empty;
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
    string IsMappedPrice = Model.ProductViewModel?.Attributes?.Value("IsMappedPrice");

    // string  IsMappedPrice1 = Model.Attributes?.Value("IsMappedPrice");    
    bool bvalue = (IsMappedPrice == "true" || IsMappedPrice == "1" ? true : false);

    int ColorValueCount = Convert.ToInt32(Model.ProductViewModel?.Attributes?.SelectAttributeList("DisplayColor")?.Count());
    string PDPLink = Url.GetProductUrl(Model.ProductViewModel.SEOUrl, Model.ProductViewModel.PublishProductId.ToString());
    // Nivi code image changes start
    string BaseImagePath = ConfigurationManager.AppSettings["BaseImagePath"].ToString();
    string BaseImage = "";
    if (Convert.ToString(Model.ProductViewModel?.Attributes?.Value("BaseImage")) != null)
    {
        BaseImage= BaseImagePath + @"t_170/" + Convert.ToString(Model.ProductViewModel?.Attributes?.Value("BaseImage"));
    }
    // Nivi code image changes end
}

<div class="item">
    <div class="product-item">
        <div class="view-item">
            <div class="SpecialItem">
                <div class="product-img" data-test-selector="divProductImage">
                    <a href="@domainurl@Url.GetProductUrl(Model?.ProductViewModel.SEOUrl,Model?.ProductViewModel.PublishProductId.ToString())" data-test-selector="linkImage" title="@WebUtility.HtmlDecode(Model.ProductViewModel.Name)">
                        @if (Convert.ToBoolean(Model.ProductViewModel.Attributes?.Value("NewProduct")))
                        {
                            <img data-test-selector="imgProductImage" src="/Views/Themes/RogansShoes/Images/new-product-tag.png" alt="New Product" class="img-responsive new-product-tag hvr-pulse" />
                        }
                            <div class="image" data-test-selector="divImage">

                                @*<img id="@Model.ProductViewModel.PublishProductId" class="img-responsive b-lazy" data-src="@Model.ProductViewModel.ImageSmallPath" alt="@WebUtility.HtmlDecode(Model.ProductViewModel.Name)" title="@WebUtility.HtmlDecode(Model.ProductViewModel.Name)" data-test-selector="imgProductImage"/>*@
                                @*<img id="@Model.ProductViewModel.PublishProductId" class="img-responsive b-lazy" data-src="@Model.ProductViewModel.ImageSmallPath" src="@Model.ProductViewModel.ImageSmallPath" alt="@WebUtility.HtmlDecode(Model.ProductViewModel.Name)" title="@WebUtility.HtmlDecode(Model.ProductViewModel.Name)" data-test-selector="imgProductImage" />*@
                                <img id="@Model.ProductViewModel.PublishProductId" class="img-responsive b-lazy" data-src="@BaseImage" src="@BaseImage" alt="@WebUtility.HtmlDecode(Model.ProductViewModel.Name)" title="@WebUtility.HtmlDecode(Model.ProductViewModel.Name)" data-test-selector="imgProductImage" />

                            </div>
                    </a>
                    @*<button onclick="Product.prototype.GetProductDetails(this)" class="btn-card btn-quick-view btn-bg-secondary hvr-shadow" data-review-state-id="" data-product-is-active="" data-value="@Model.ProductViewModel.PublishProductId" data-isquickview="true" data-toggle="modal" data-target=".quick-view-popup">@WebStore_Resources.ButtonQuickView</button>*@
                </div>

                @*More Color Available*@
                <div class="ProductSwatches">
                    @if (ColorValueCount > 1)
                    {
                        <div class="ColorCaption">
                            <a href="@PDPLink" class="ColorPicker" title="More Color Available @Model.ProductViewModel.Name">@Html.RenderMessage("MoreColorOptionTitle")</a>
                        </div>
                    }
                </div>

                <div class="product-rating" data-test-selector="divProductRating">
                    @Html.Partial("_StarRating", Model.ProductViewModel.Rating, new ViewDataDictionary { { "StarRatingTitle", @WebUtility.HtmlDecode(Model.ProductViewModel.Name) } })
                    @*@ratingText*@
                </div>

                <div class="product-details DetailLink" data-test-selector="divProductDetails">
                    <a href="@domainurl@Url.GetProductUrl(Model?.ProductViewModel.SEOUrl,Model?.ProductViewModel.PublishProductId.ToString())" data-test-selector="linkProductTitle" title="@WebUtility.HtmlDecode(Model.ProductViewModel.Name)">
                        @WebUtility.HtmlDecode(Model.ProductViewModel.Name)
                    </a>
                    @*<a href="@domainurl@Url.GetProductUrl(Model?.ProductViewModel.SEOUrl, Model?.ProductViewModel.PublishProductId.ToString())">
                <h4 class="title">@WebUtility.HtmlDecode(Model.ProductViewModel.Name)</h4>
            </a>*@
                    @*<div class="product-rating">
                @Html.Partial("_StarRating", Model.ProductViewModel.Rating)
                @ratingText <a href="@domainurl@Url.GetProductUrl(Model?.ProductViewModel.SEOUrl, Model.ProductViewModel.PublishProductId.ToString())#scrollReview" id="jumpto-readreviews-productTile">@WebStore_Resources.LinkTextReadReviews</a>
            </div>*@
                    @if (CallForPricing)
                    {
                        <span style="width: 1px"></span>
                        <div class="Price" data-test-selector="divProductPrice"><span class="SalePrice" data-test-selector="lblPriceMsg">@callForPricingMessage</span></div>
                    }
                    else
                    {
                        <span style="width: 1px"></span>
                        <div class="price" data-test-selector="divProductPrice" data-sku="@Model.ProductViewModel.SKU" data-type="@Model.ProductViewModel.ProductType">
                            @if (!Helper.IsAsyncPrice)
                            {
                                if (!string.IsNullOrEmpty(Model.ProductViewModel.GroupProductPriceMessage))
                                {
                                    <label>@Model.ProductViewModel.GroupProductPriceMessage</label>
                                }
                                else
                                {
                                    if (bvalue == true)
                                    {
                                        if (!Equals(Model.ProductViewModel.SalesPrice, null))
                                        {
                                            <span class="Price">
                                                @Helper.FormatPriceWithCurrency(Model.ProductViewModel.SalesPrice, Model.CultureCode, UOM)
                                            </span>
                                        }
                                        else
                                        {
                                            if (Model.ProductViewModel.PromotionalPrice > 0)
                                            {
                                                <span class="Price">
                                                    @Helper.FormatPriceWithCurrency(Model.ProductViewModel.PromotionalPrice, Model.CultureCode, UOM)
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="Price">
                                                    @Helper.FormatPriceWithCurrency(Model.ProductViewModel.RetailPrice, Model.CultureCode, UOM)
                                                </span>
                                            }

                                        }

                                    }
                                    else
                                    {
                                        if (!Equals(Model.ProductViewModel.SalesPrice, null))
                                        {
                                            <span class="SalePrice">
                                                @Helper.FormatPriceWithCurrency(Model.ProductViewModel.SalesPrice, Model.CultureCode, UOM)
                                            </span>

                                        }
                                        else
                                        {
                                            if (Model.ProductViewModel.PromotionalPrice > 0)
                                            {
                                                <span class="SalePrice">
                                                    @Helper.FormatPriceWithCurrency(Model.ProductViewModel.PromotionalPrice, Model.CultureCode, UOM)
                                                </span>

                                            }
                                            else
                                            {
                                                <span class="SalePrice">
                                                    @Helper.FormatPriceWithCurrency(Model.ProductViewModel.RetailPrice, Model.CultureCode, UOM)
                                                </span>
                                            }
                                        }
                                    }



                                }
                            }
                            else
                            {
                                <label class="price-span" data-sku="@Model.ProductViewModel.SKU" data-type="@productType">Loading...</label>
                            }

                        </div>
                        if (!string.IsNullOrEmpty(disable))
                        {
                            <div class="item-error-msg">
                                <p class="error-msg">@Model.ProductViewModel.InventoryMessage</p>
                            </div>
                        }
                    }
                    @*<a href="@domainurl@Url.GetProductUrl(Model?.ProductViewModel.SEOUrl,Model?.ProductViewModel.PublishProductId.ToString())" data-test-selector="linkViewMoreDetails">View More Details</a>*@
                </div>
            </div>
           
        </div>
    </div>
</div>
