﻿@using Znode.WebStore.Custom.ViewModel

@model ScheduleATruckViewModel
@{
    ViewBag.Title = "Schedule A Truck | Rogan’s Shoes";
    ViewBag.Description = "Schedule a Mobile Shoe Truck for your company from Rogan’s Shoes";
}
<div id="layout-Application" class="main-wrapper">

    <div class="container-fluid">
        <div class="contain-pages">
            <div class="col-xs-12 nopadding">
                <div>
                    @Html.RenderMessage("FooterScheduleATruck")
                </div>
                <div class="Form col-xs-12 col-md-6 col-lg-5 margin-bottom margin-top nopadding">
                    @using (Html.BeginForm("ScheduleATruck", "RSCustomizedForm", FormMethod.Post, new { @id = "frmScheduleATruck" }))
                    {

                        <div class="col-xs-12 col-lg-12 nopadding kmirrort">                                  
                            <div class="col-lg-12 nopadding">
                                @Html.TextBoxFor(model => model.CompanyName, new { @alt = @WebStore_Resources.ColumnCompanyNameAlt, @id = "idCompanyName", @maxlength = 100, @required = "required", @title = @WebStore_Resources.ColumnCompanyNameTitle})
                                <label placeholder="@WebStore_Resources.ColumnCompanyName"></label>
                                <p class="error-msg">@Html.ValidationMessage("idCompanyNameErr", "", new { @id = "idCompanyNameErr" })</p>
                            </div>
                            <div class="col-lg-12 nopadding">
                                @Html.TextBoxFor(model => model.DatesRequested, new { @alt = @WebStore_Resources.TextDateRequestAlt, @id = "DatesRequested", @required = "required", @title = @WebStore_Resources.TextDateRequestTitle})
                                <label for="profile_DatesRequested" placeholder="@WebStore_Resources.TextDateRequest"></label>
                                <p class="error-msg">@Html.ValidationMessage("valDatesRequestedErr", "", new { @id = "valDatesRequestedErr" })</p>
                            </div>
                            <div class="col-lg-12 nopadding">
                                @Html.TextBoxFor(model => model.TmeRequested, new { @alt = @WebStore_Resources.TextTimeRequestAlt, @id = "TimeRequested", @required = "required", @title = @WebStore_Resources.TextTimeRequestTitle})
                                <label for="profile_TmeRequested" placeholder="@WebStore_Resources.TextTimeRequest"></label>
                                <p class="error-msg">@Html.ValidationMessage("valTimeRequestedErr", "", new { @id = "valTimeRequestedErr" })</p>
                            </div>
                            <div class="col-lg-12 nopadding">
                                @Html.TextBoxFor(model => model.Address, new { alt = @WebStore_Resources.ColumnAddress, @id = "valueAddres", @required = "required", @title = @WebStore_Resources.ColumnAddress })
                                <label for="profile_Address" placeholder="@WebStore_Resources.ColumnAddress"></label>
                                <p class="error-msg">@Html.ValidationMessage("AddressErr", "", new { @id = "AddressErr" })</p>
                            </div>
                            <div class="col-lg-12 nopadding">
                                @Html.TextBoxFor(model => model.PhoneNumber, new { @alt = @WebStore_Resources.LabelPhoneNumberAlt, @maxlength = 20, @id = "valPhoneNum", @required = "required", @title = @WebStore_Resources.LabelPhoneNumberTitle})
                                <label placeholder="@WebStore_Resources.LabelPhoneNumber"></label>
                                <p class="error-msg">@Html.ValidationMessage("valPhoneNumErr", "", new { @id = "valPhoneNumErr" })</p>
                            </div>
                            <div class="col-lg-12 nopadding">
                                @Html.TextBoxFor(model => model.FirstName, new { @alt = @WebStore_Resources.LabelFirstNameAlt, @maxlength = 100, @id = "valFirstName", @required = "required", @title = @WebStore_Resources.LabelFirstNameTitle})
                                <label placeholder="@WebStore_Resources.LabelFirstName"></label>
                                <p class="error-msg">@Html.ValidationMessage("valFirstNameErr", "", new { @id = "valFirstNameErr" })</p>
                            </div>
                            <div class="col-lg-12 nopadding">
                                @Html.TextBoxFor(model => model.LastName, new { @alt = @WebStore_Resources.LabelLastNameAlt, @maxlength = 100, @id = "valLastName", @required = "required", @title = @WebStore_Resources.LabelLastNameTitle})
                                <label placeholder="@WebStore_Resources.LabelLastName"></label>
                                <p class="error-msg">@Html.ValidationMessage("valLastNameErr", "", new { @id = "valLastNameErr" })</p>
                            </div>
                            <div class="col-lg-12 nopadding">
                                @Html.TextBoxFor(model => model.NoOfEmployee, new { @alt = @WebStore_Resources.TextNoOfEmployeeAlt, @id = "NumberEmployee", @maxlength = 100, @required = "required", @title = @WebStore_Resources.TextNoOfEmployeeTitle})
                                <label placeholder="@WebStore_Resources.TextNoOfEmployee"></label>
                                <p class="error-msg">@Html.ValidationMessage("ErrNumberEmployee", "", new { @id = "ErrNumberEmployee" })</p>
                            </div>
                            <div class="col-lg-12 nopadding">
                                @Html.TextBoxFor(model => model.MaleFemale, new { @alt = @WebStore_Resources.TextMaleFemaleRatioAlt, @id = "valMaleFemale", @required = "required", @title = @WebStore_Resources.TextMaleFemaleRatioTitle})
                                <label placeholder="@WebStore_Resources.TextMaleFemaleRatio"></label>
                                <p class="error-msg">@Html.ValidationMessage("ErrvalMaleFemale", "", new { @id = "ErrvalMaleFemale" })</p>
                            </div>
                            <div class="col-lg-12 nopadding">
                                @Html.TextBoxFor(model => model.Steeltorequired, new { @alt = @WebStore_Resources.TextSteeltoerequiredAlt, @id = "valSteelRequired", @required = "required", @title = @WebStore_Resources.TextSteeltoerequiredTitle})
                                <label placeholder="@WebStore_Resources.TextSteeltoerequired"></label>
                                <p class="error-msg">@Html.ValidationMessage("ErrorSteelRequired", "", new { @id = "ErrorSteelRequired" })</p>
                            </div>
                            <div class="col-lg-12 nopadding">
                                @Html.TextBoxFor(model => model.ContriAmount, new { @alt = @WebStore_Resources.TextContributionsAmountAlt, @maxlength = 100, @id = "ValContriAmount", @required = "required", @title = @WebStore_Resources.TextContributionsAmount })
                                <label placeholder="@WebStore_Resources.TextContributionsAmount"></label>
                                <p class="error-msg">@Html.ValidationMessage("ContriAmountErr", "", new { @id = "ContriAmountErr" })</p>
                            </div>
                            <div class="col-lg-12 nopadding">
                                @Html.TextBoxFor(model => model.Payroll, new { @alt = @WebStore_Resources.TextPayrollDeductionAlt, @maxlength = 100, @id = "ValPayroll", @required = "required", @title = @WebStore_Resources.TextPayrollDeductionTitle})
                                <label placeholder="@WebStore_Resources.TextPayrollDeduction"></label>
                                <p class="error-msg">@Html.ValidationMessage("ErrPayroll", "", new { @id = "ErrPayroll" })</p>
                            </div>
                            <div class="col-lg-12 nopadding">
                                @Html.TextBoxFor(model => model.EmailID, new { @alt = @WebStore_Resources.LabelEmailAddressAlt, @maxlength = 200, @id = "valEmail", @required = "required", @title = @WebStore_Resources.LabelEmailAddressTitle})
                                <label placeholder="@WebStore_Resources.LabelEmailAddress"></label>
                                <p class="error-msg">@Html.ValidationMessage("ErrEmailVal", "", new { @id = "ErrEmailVal" })</p>
                            </div>
                            <div class="col-lg-12 nopadding">
                                @Html.TextBoxFor(model => model.PosterNeeded, new { @alt = @WebStore_Resources.ColuTextPosterNeededAlt, @maxlength = 100, @id = "ValPosterNeeded", @required = "required", @title = @WebStore_Resources.ColuTextPosterNeededTitle })
                                <label placeholder="@WebStore_Resources.ColuTextPosterNeeded"></label>
                                <p class="error-msg">@Html.ValidationMessage("ErrPosterNeed", "", new { @id = "ErrPosterNeed" })</p>
                            </div>
                            <div class="col-lg-12 nopadding">
                                @Html.TextAreaFor(model => model.Description, new { @id = "valComment", rows = "10", cols = "50", @required = "required", @class = "TextBoxrogan", @title = @WebStore_Resources.TextNote, @alt = @WebStore_Resources.TextNote })
                                <label for="scheduletruck_PhoneNumber" placeholder="@WebStore_Resources.TextNote" class="reviewlabelset"></label>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xs-12 nopadding margin-top margin-bottom">
                            <div class="g-recaptcha" data-sitekey="6LcBkaIUAAAAAO1Y3g_TnqQhKP4qXcdxoXyHbe1V"></div>
                            <p class="error-msg">@Html.ValidationMessage("ErrCaptcha", "", new { @id = "ErrCaptcha" })</p>
                        </div>
                        <div class="col-lg-12 col-xs-12 nopadding margin-top">
                            <button type="submit" class="btn btn-primary" onclick="return CaseRequest.prototype.ValidationForScheduleATruckForm();">@WebStore_Resources.ButtonSubmit</button>                                     
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
        $("#frmScheduleATruck").submit(function (event) {
            $("#Schedule-ATruck").prop("disabled", true).addClass("disabled");
        });
        //$("#DatesRequested").datepicker({ format: 'yyyy-mm-dd' });
    $(function () { $("#DatesRequested").datepicker({ format: "yyyy-mm-dd" }), $("#DatesRequested").on("change", function () { var e = Date.parse($(this).val()), t = new Date; t.setDate(t.getDate() - 1), e < t ? ($("#valDatesRequestedErr").text("Requested Date must be greater than Current Date."), $(this).val("")) : $("#valDatesRequestedErr").text("") }), $("#frmScheduleATruck").validate(), $("#idCompanyName").rules("add", { required: !1 }), $("#DatesRequested").rules("add", { required: !1 }), $("#TimeRequested").rules("add", { required: !1 }), $("#valueAddres").rules("add", { required: !1 }), $("#valPhoneNum").rules("add", { required: !1 }), $("#valFirstName").rules("add", { required: !1 }), $("#valLastName").rules("add", { required: !1 }), $("#NumberEmployee").rules("add", { required: !1 }), $("#valMaleFemale").rules("add", { required: !1 }), $("#valSteelRequired").rules("add", { required: !1 }), $("#ValContriAmount").rules("add", { required: !1 }), $("#ValPayroll").rules("add", { required: !1 }), $("#valEmail").rules("add", { required: !1 }), $("#ValPosterNeeded").rules("add", { required: !1 }), $("#valComment").rules("add", { required: !1 }) });
     //called when key is pressed in textbox
        $("#valPhoneNum").keypress(function (e) {
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            return false;
        }
    });
     /* NIVI Code starts For captcha */
    
    //var form = document.getElementById("frmScheduleATruck"); form.addEventListener("submit", function (e) { "" === grecaptcha.getResponse() ? (e.preventDefault(), $("#ErrCaptcha").text("Please check the recaptcha.")) : $("#ErrCaptcha").text("") }, !1);
     /* NIVI Code end For captcha */
</script>