﻿@using Znode.Engine.WebStore.ViewModels

@model IEnumerable<CategorySubHeaderViewModel>
@foreach (var subCategory in Model)
{
    <li class="dropdown d-flex">
        <a href="@Url.GetCategoryUrl(subCategory.SEOPageName, null,subCategory.CategoryId)"><i class="zf-arrow-right-small"></i>@WebUtility.HtmlDecode(subCategory.CategoryName)</a>
        @if (!Equals(subCategory.ChildCategoryItems, null) && subCategory.ChildCategoryItems.Count > 0)
        {
            <div class="ml-auto right-icon open-child-menu"></div>
            <ul class="dropdown-menu side-nav nav-left py-3">
                <li class="nav-back-btn"><span class="left-icon"></span>BACK</li>
                @Html.Partial("_HeaderSubNav", subCategory.ChildCategoryItems)
            </ul>
        }
    </li>
}