﻿@using Znode.Engine.WebStore.ViewModels
@model CartViewModel
<div class="col-12 b2b-block">
    @using (Ajax.BeginForm("ApplyDiscount", "Checkout", null, new AjaxOptions { HttpMethod = "Post", OnBegin = "return Checkout.prototype.CheckDiscountCodeValue('coupon')", OnSuccess = "Checkout.prototype.DisplayAppliedDiscountCode" }, new { @id = "applyCoupon" }))
    {
        @Html.AntiForgeryToken();
        <div class="form-group">
            <div class="col-12 block-title">
                @WebStore_Resources.LabelEnterCouponCode
            </div>
            <div class="col-12 block-content">
                <div class="block-items-title">
                    @WebStore_Resources.LabelPromoCode
                </div>
                <div id="cart-apply-promocode" class="d-flex flex-wrap flex-md-nowrap block-items">
                    @if (Model.Coupons?.Count > 0)
                    {
                        <input type="text" id="promocode" name="discountCode" value="@Model.Coupons[@Model.Coupons.Count-1].Code" class="mr-md-3" size="40" maxlength="100"/>
                    }
                    else
                    {
                        <input type="text" id="promocode" name="discountCode" class="mr-md-3" size="40" maxlength="100" />
                    }
                    <button type="submit" class="btn btn-secondary">@WebStore_Resources.ButtonApply</button>
                </div>
            </div>
        </div>
    }
    <div id="couponMessageContainer" class="b2b-coupon-msg">
        <div class="col-12">
            @if (Model.Coupons?.Count > 0)
            {
                foreach (var item in Model.Coupons)
                {
                    <p class=@(item.CouponApplied ? "success-msg padding-top" : "error-msg")><a class="close-icon zf-close" onclick="Checkout.prototype.RemoveCoupon('@item.Code');" title="Remove Coupon Code"></a><b>@item.Code</b> - @item.PromotionMessage </p>
                }
            }
        </div>
    </div>
</div>