﻿@model decimal

<span class="star-rating">
    @{
        int totalStar = 5;
        int integral = (int)decimal.Truncate(Model);
        int fraction = (int)((Model - decimal.Truncate(Model))*10);
        for (int item = 1; item <= integral; item++)
        {
            <span class="star-full-icon"></span>
            totalStar = totalStar - 1;
        }
        if (fraction >= 5)
        {
            <span class="star-half-icon"></span>
            totalStar = totalStar - 1;
        }
        for (int item1 = 1; item1 <= totalStar; item1++)
        {
            <span class="star-empty-icon"></span>
        }
    }
</span>
