﻿@model Dictionary<int, string>
@{
    //Check if category ID is present or not
    if (Model.Keys.FirstOrDefault() <= 0)
    {
        ViewBag.Title = "Search";
    }

    Layout = "~/Views/Themes/ModernB2C/Views/Shared/_Layout.cshtml";

    Dictionary<string, object> searchProperties = new Dictionary<string, object>();

    searchProperties.Add(WebStoreConstants.PageSize, Request.QueryString[WebStoreConstants.PageSize]);
    searchProperties.Add(WebStoreConstants.PageNumber, Request.QueryString[WebStoreConstants.PageNumber]);
    searchProperties.Add(WebStoreConstants.Sort, Request.QueryString[WebStoreConstants.Sort]);
    searchProperties.Add("SearchTerm", Model.Values.FirstOrDefault());
    searchProperties.Add(WebStoreConstants.UseSuggestion, Request.QueryString[WebStoreConstants.UseSuggestion]);
}

<div id="layout-category" data-category="@Model.Values.FirstOrDefault()" data-categoryId="@Model.Keys.FirstOrDefault()">
    <!-- Breadcrumb -->
    <div class="container-fluid breadcrumb-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 nopadding">
                    <div id="breadCrumb"><a href="/">Home</a> / Search Result</div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-wrapper">
        <div class="container">
            <div class="row flex-wrap">
                <aside class="col-xs-12 col-sm-3 side-bar">
                    <z-widget>@Html.WidgetPartial("Facet", "Facet", "125", "Search", Model.Keys.FirstOrDefault(), searchProperties)</z-widget>
                    <div class="col-xs-12 nopadding">
                        <div id="compareProductList">
                        </div>
                    </div>
                </aside>
                <div class="col-xs-12 col-sm-9 category-landing-container search-page">
                    <z-widget>@Html.WidgetPartial("ProductGrid", "ProductList", "124", "Search", Model.Keys.FirstOrDefault(), searchProperties)</z-widget>
                </div>
            </div>
        </div>
    </div>
</div>

