﻿@using Znode.Engine.WebStore.ViewModels
@model WidgetCategoryListViewModel

@if (Model?.Categories?.Count > 0)
{
    <h3 class="product-list-title">@Html.RenderMessage(WebStoreConstants.Category)</h3>
    <div class="col-xs-12 category-list-widget nopadding">
        <ul id="view-option-category">
            @foreach (var category in Model.Categories)
            {
                if (!Equals(category.CategoryViewModel, null))
                {
                    @Html.Partial("_CategoryList", category.CategoryViewModel)
                }
            }
        </ul>
    </div>
}
