﻿@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;
    string title = PortalAgent.CurrentPortal.WebsiteTitle;
    string customerServicePhoneNumber = PortalAgent.CurrentPortal?.CustomerServicePhoneNumber;
}
<div class="container-fluid">
    <div class="row md-top-link-container">
        <div class="container">
            <div class="row">
                <!--Locales Widget-->
                <z-widget>@Html.WidgetPartial("Locales", "Locales", "123", "PortalMapping", 4)</z-widget>
                @*<div class="pull-right track-order">
                        @Html.ActionLink(WebStore_Resources.LabelTrackOrder, "GetOrderDetails", "User")
                    </div>*@
                @Html.Action("LoginStatus", "User", true)
            </div>
        </div>
    </div>
</div>
<div class="md-logo-nav">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 nopadding">
                <div class="md-logo">
                    <a href="/" class="header-logo">
                        @{
                            if (string.IsNullOrEmpty(logo))
                            {
                                <h1>@title</h1>
                            }
                            else
                            {
                                <img src="@logo" alt="@title" class="img-responsive" />
                            }
                        }
                    </a>
                </div>
                <div class="md-cart-area">
                    <div class="md-call-us visible-lg">
                        <div class="text">
                            @Html.RenderMessage("CallUsNowText")
                        </div>
                        <div class="number">
                            @customerServicePhoneNumber
                        </div>
                    </div>
                    <div class="md-mini-cart">
                        <a href="/cart">
                            <i class="zf-md-shopping-bag header-toolbar-cart"></i>
                            <span id="headerCartCount" class="cartcount">@Helper.GetRoundOffQuantity(WidgetHelper.GetCartCount())</span>
                            <i class="zf-arrow-down-small"></i>
                        </a>
                        <div class="md-mini-cart-hover">
                            <div class="inner-wrapper">
                                <p class="cart-empty">
                                    You have no items in your shopping cart.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="md-search">
                    <a href="javascript:void(0)" class="search-icon">
                        <i class="zf-search"></i>
                    </a>
                    <z-widget>@Html.WidgetPartial("SearchPanel", "Search Panel", "105", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                </div>
                <div class="header-nav-container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-nav">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!--Navigation Widget-->
                    <z-widget>@Html.WidgetPartial("TopLevelNavigation", "Top Level Navigation", "104", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())</z-widget>
                </div>
            </div>
        </div>
    </div>
</div>



