﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model WidgetProductViewModel
@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool CallForPricing = Convert.ToBoolean(Model.ProductViewModel?.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.ProductViewModel?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        CallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    string disable = CallForPricing || !Model.ProductViewModel.ShowAddToCart ? "disabled" : "";
    string productType = Model.ProductViewModel?.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code;
    string UOM = Attributes.ValueFromSelectValue(Model?.ProductViewModel.Attributes, "UOM");
    string ratingText = Model.ProductViewModel?.Rating > 0 ? string.Format(WebStore_Resources.TextRating, Math.Round(Model.ProductViewModel.Rating, 1), Model.ProductViewModel?.TotalReviews) : string.Empty;
}

<div class="item">
    <div class="product-item">
        <div class="view-item">
            <div class="product-img">
                <a href="@Url.GetProductUrl(Model?.ProductViewModel.SEOUrl, Model?.ProductViewModel.PublishProductId.ToString())">
                    <div class="image">
                        <img id="@Model.ProductViewModel.PublishProductId" src="@Model.ProductViewModel.ImageSmallPath" class="img-responsive" data-src="@Model.ProductViewModel.ImageSmallPath" alt="Product" />
                    </div>
                </a>
                <button onclick="Product.prototype.GetProductDetails(this)" class="btn-card btn-quick-view btn-color-secondary hvr-shadow" data-review-state-id="" data-product-is-active="" data-value="@Model.ProductViewModel.PublishProductId" data-isquickview="true" data-toggle="modal" data-target=".quick-view-popup">@WebStore_Resources.ButtonQuickView</button>
            </div>

            <div class="product-details">
                <div class="product-rating">
                    @Html.Partial("_StarRating", Model.ProductViewModel.Rating)
                </div>
                <h4 class="title">
                    <a href="@Url.GetProductUrl(Model?.ProductViewModel.SEOUrl, Model?.ProductViewModel.PublishProductId.ToString())">@WebUtility.HtmlDecode(Model.ProductViewModel.Name)</a>
                    <span class="md-product-name">
                        <a href="@Url.GetProductUrl(Model?.ProductViewModel.SEOUrl, Model?.ProductViewModel.PublishProductId.ToString())">@WebUtility.HtmlDecode(Model.ProductViewModel.Name)</a>
                    </span>
                </h4>
                @if (CallForPricing)
                {
                    <div class="price">
                        <label>@callForPricingMessage</label>
                    </div>
                }
                else
                {
                    <div class="price" data-sku="@Model.ProductViewModel.SKU" data-type="@Model.ProductViewModel.ProductType">
                        @if (!Helper.IsAsyncPrice)
                        {
                            if (!string.IsNullOrEmpty(Model.ProductViewModel.GroupProductPriceMessage))
                            {
                                <label>@Model.ProductViewModel.GroupProductPriceMessage</label>
                            }
                            else
                            {
                                if (!Equals(Model.ProductViewModel.SalesPrice, null))
                                {
                                    <span>
                                        @Helper.FormatPriceWithCurrency(Model.ProductViewModel.SalesPrice, Model.CurrencyCode, UOM)
                                    </span>

                                    if (Model.ProductViewModel.SalesPrice != @Model.ProductViewModel.RetailPrice && !Equals(productType, ZnodeConstant.GroupedProduct))
                                    {
                                        <span class="cut-price">
                                            @Helper.FormatPriceWithCurrency(Model.ProductViewModel.RetailPrice, Model.CurrencyCode, UOM)
                                        </span>
                                    }
                                }
                                else
                                {
                                    if (Model.ProductViewModel.PromotionalPrice > 0)
                                    {
                                        <label>
                                            @Helper.FormatPriceWithCurrency(Model.ProductViewModel.PromotionalPrice, Model.CurrencyCode, UOM)
                                        </label>
                                        <span class="cut-price">
                                            @Helper.FormatPriceWithCurrency(Model.ProductViewModel.RetailPrice, Model.CurrencyCode, UOM)
                                        </span>
                                    }
                                    else
                                    {
                                        <span>
                                            @Helper.FormatPriceWithCurrency(Model.ProductViewModel.RetailPrice, Model.CurrencyCode, UOM)
                                        </span>
                                    }

                                }
                            }
                        }
                        else
                        {
                            <label class="price-span" data-sku="@Model.ProductViewModel.SKU" data-type="@productType">Loading...</label>
                        }

                    </div>
                    if (!string.IsNullOrEmpty(disable))
                    {
                        <div class="item-error-msg">
                            <p class="error-msg">@Model.ProductViewModel.InventoryMessage</p>
                        </div>
                    }
                }
                <div class="add-to-actions">
                    <a href="JavaScript:void(0);" class="add-to-wishlist" data-id="@Model.ProductViewModel.PublishProductId" data-sku="@Model.ProductViewModel.SKU" onclick="Product.prototype.AddToWishList(this)" title="My Wishlist"><i class="zf-md-wish-list"></i></a>
                    <a class="add-to-cart" href="@Url.GetProductUrl(Model?.ProductViewModel.SEOUrl, Model?.ProductViewModel.PublishProductId.ToString())">View More</a>
                    <a href="JavaScript:void(0);" class="add-to-compare" onclick="return Category.prototype.AddToCompare(@Model.ProductViewModel.PublishProductId,@Model.ProductViewModel.CategoryId)" title="@WebStore_Resources.LabelCompareLink">
                        <i class="zf-md-compare"></i>
                    </a>
                    <div class="col-xs-12 nopadding padding-top-10 wishlist-status success-msg"><span id="accountWishList_@Model.ProductViewModel.PublishProductId"></span></div>
                </div>
            </div>
        </div>
    </div>
</div>
