﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model  ConfigurableAttributeViewModel
@{
    Layout = null;
    var attributes = Model?.ConfigurableAttributes?.Where(x => x.IsConfigurable)?.ToList();
    var fitGuideLink = Model?.Custom1;
    if (fitGuideLink != null)
    {
        fitGuideLink = "../" + fitGuideLink;
    }
    bool havewidth = false;
    foreach (var att in attributes)
    {
        if (att.AttributeCode == "Color")
        {
            att.DisplayOrder = 10;
            att.IsSwatch = "true";
        }
        if (att.AttributeCode == "Size")
        {

            att.DisplayOrder = 20;
        }
        if (att.AttributeCode == "ShoeWidth")
        {

            att.DisplayOrder = 30;
            havewidth = true;
        }

    }
    attributes = attributes.OrderBy(x => x.DisplayOrder).ToList();


}

<div id="loaderId"> </div>

@if (attributes?.Count > 0)
{
    foreach (var att in attributes)
    {

        switch (att.IsSwatch)
        {
            case "true":
                <div class="col-xs-12 nopadding">

                    <div class="form-group text-center-mobile">
                        <div class="col-xs-12 nopadding">
                            <label>@att.AttributeName : <span class="text-black">@att.SelectedAttributeValue[0]</span></label>
                        </div>
                        <div class="col-xs-12 nopadding">
                            <ol class="swatch-img size-swatch mobile-tab-horizontal-scroll">
                                @foreach (var image in att.ConfigurableAttribute?.OrderBy(x => x.DisplayOrder))
                                {

                                    //var imagepath = Model.SwatchImages?.Where(x => x.AttributeValues == image.AttributeValue).Select(x => x.ImagePath).FirstOrDefault();
                                    var imagepath = Model.SwatchImages?.Where(x => x.AttributeCode == "Color" && x.AttributeValues == image.AttributeValue).Select(x => x.ImagePath).FirstOrDefault();
                                    <li class="styled-input scratch-attribute-img ">
                                        <input type="radio" class="ConfigurableAttribute" name="@att.AttributeCode" Onchange="Product.prototype.OnAttributeSelect(this);" id="@att.AttributeCode-@image.AttributeValue" code="@att.AttributeCode" value="@image.AttributeValue" @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "checked=checked" : "") />
                                        <label for="@att.AttributeCode-@image.AttributeValue" class="scratch-image @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "active" : "")">
                                            @if (att.SelectedAttributeValue[0] == image.AttributeValue)
                                            {
                                                SwatchImageViewModel svm = Model.SwatchImages?.FirstOrDefault(x => x.ImagePath == imagepath);
                                                SwatchImageViewModel colorsize = Model.SwatchImages?.FirstOrDefault(x => x.AttributeCode == "ColorSize" && Convert.ToString(x.Custom1) == svm.AttributeValues);
                                                colorsize.IsSelected = true;
                                            }
                                            <img src="@imagepath" data-src="@imagepath" class="SwatchImage img-responsive" title="@image.AttributeValue" alt="@image.AttributeValue" />
                                        </label>
                                    </li>
                                }
                            </ol>
                        </div>
                    </div>
                </div>
                break;
            case "false":
                <div class="col-xs-12 nopadding">
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            <label>@att.AttributeName :</label>
                        </div>
                        <div class="col-xs-12 nopadding">
                            <ul class="swatch-img size-swatch color-swatch">
                                @foreach (var image in att.ConfigurableAttribute?.OrderBy(x => x.DisplayOrder).ThenBy(x => x.AttributeValue))
                                {
                                    <li class="styled-input">
                                        <input type="radio" class="ConfigurableAttribute" name="@att.AttributeCode" Onchange="Product.prototype.OnAttributeSelect(this);" id="@att.AttributeCode-@image.AttributeValue" code="@att.AttributeCode" value="@image.AttributeValue" @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "checked=checked" : "") />
                                        <label for="@att.AttributeCode-@image.AttributeValue" class="scratch-image @( image.IsDisabled ? "scratchattribute" : "") @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "active" : "")"> <i class="zf-swatch-box" style="color:@image.SwatchText !important;" title="@image.AttributeValue"></i> </label>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                break;
            default:
                <div class="col-xs-12 nopadding">
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">

                            @if ((att.AttributeCode == "ShoeWidth" || (att.AttributeCode == "Size" && havewidth == false)) && fitGuideLink != null)
                            {
                                <label>Please Select @att.AttributeName :</label><span class="pull-right"><a class="szchartClass" title="@WebStore_Resources.TitleFitGuide" href="#" onclick="FitGuide('@fitGuideLink');">(@WebStore_Resources.TitleFitGuide)</a></span>
                            }
                            else
                            {
                                <label>Please Select @att.AttributeName :</label>
                            }
                        </div>
                        <div class="col-xs-12 nopadding">
                            @if ((att.AttributeCode == "ShoeWidth"))
                            {
                                <div id="WidthError" class="error-msg" style="display:none">@WebStore_Resources.TitleSelectWidth</div>
                            }
                            else
                            {
                                <div id="SizeError" class="error-msg" style="display:none">@WebStore_Resources.TitleSelectSize</div>
                            }
                        </div>
                        <div class="col-xs-12 nopadding">
                            <ol class="swatch-img size-swatch">

                                @*@foreach (var image in att.ConfigurableAttribute?.OrderBy(x => x.DisplayOrder))
                {
                <li class="styled-input">
                    <input type="radio" class="ConfigurableAttribute" name="@att.AttributeCode" Onchange="Product.prototype.OnAttributeSelect(this);" id="@att.AttributeCode-@image.AttributeValue" code="@att.AttributeCode" value="@image.AttributeValue" @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "checked=checked" : "") />
                                                 <label for="@att.AttributeCode-@image.AttributeValue" class="scratch-text @( image.IsDisabled ? "scratchattribute" : "") @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "active" : "")" title="@image.AttributeValue"><span class="textset">@image.AttributeValue</span></label>
                </li>
                }*@
                                @if (att.AttributeName == "Size")
                                {
                                    string sizeList = Model.SwatchImages?.Where(x => x.AttributeCode == "ColorSize" && x.IsSelected == true)?.Select(x => x.AttributeValues).FirstOrDefault();
                                    string[] sizes = sizeList.Split(',');
                                    //int i = 0;
                                    foreach (var image in att.ConfigurableAttribute?.OrderBy(x => x.DisplayOrder))
                                    {
                                        int sizeIndex = Array.IndexOf(sizes, image.AttributeValue);
                                        //if (sizeIndex >= 0)
                                        //{ i=i+1; }

                                        <li class="styled-input">
                                            @*<input type="radio" class="ConfigurableAttribute" name="@att.AttributeCode" onclick="Product.prototype.OnAttributeSelect(this);" id="@att.AttributeCode-@image.AttributeValue" code="@att.AttributeCode" value="@image.AttributeValue" @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "checked=checked" : "") />*@
                                            <input type="radio" class="ConfigurableAttribute" name="@att.AttributeCode" onclick="Product.prototype.OnAttributeSelect(this);" id="@att.AttributeCode-@image.AttributeValue" code="@att.AttributeCode" value="@image.AttributeValue" />

                                            @*<label for="@att.AttributeCode-@image.AttributeValue" class="scratch-text @( !sizeList.Contains(image.AttributeValue) ? "scratchattribute" : "") @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "active" : "")" title="@image.AttributeValue"><span class="textset">@image.AttributeValue</span></label>*@
                                            <label for="@att.AttributeCode-@image.AttributeValue" class="scratch-text @( sizeIndex >=0 ? "" : "scratchattribute")" title="@image.AttributeValue"><span class="textset">@image.AttributeValue</span></label>

                                        </li>
                                    }
                                }
                                else
                                {
                                    object widthList = Model.SwatchImages?.Where(x => x.AttributeCode == "ColorSize" && x.IsSelected == true)?.Select(x => x.Custom2).FirstOrDefault();
                                    string[] widths = Convert.ToString(widthList).Split(',');
                                    foreach (var image in att.ConfigurableAttribute?.OrderBy(x => x.DisplayOrder))
                                    {
                                        int widthIndex = Array.IndexOf(widths, image.AttributeValue);
                                        <li class="styled-input">
                                            @*<input type="radio" class="ConfigurableAttribute" name="@att.AttributeCode" onclick="Product.prototype.OnAttributeSelect(this);" id="@att.AttributeCode-@image.AttributeValue" code="@att.AttributeCode" value="@image.AttributeValue" @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "checked=checked" : "") />*@
                                            <input type="radio" class="ConfigurableAttribute" name="@att.AttributeCode" onclick="Product.prototype.OnAttributeSelect(this);" id="@att.AttributeCode-@image.AttributeValue" code="@att.AttributeCode" value="@image.AttributeValue" />

                                            @*<label for="@att.AttributeCode-@image.AttributeValue" class="scratch-text @( image.IsDisabled ? "scratchattribute" : "") @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "active" : "")"><span class="textset" title="@image.AttributeValue">@image.AttributeValue</span></label>*@
                                            <label for="@att.AttributeCode-@image.AttributeValue" class="scratch-text @( widthIndex >=0 ? "" : "scratchattribute")" title="@image.AttributeValue"><span class="textset">@image.AttributeValue</span></label>

                                        </li>
                                    }
                                }

                            </ol>
                        </div>
                    </div>
                </div>
                break;
        }
    }

}
@Html.Hidden("HaveWidth", @havewidth)
@if (!string.IsNullOrEmpty(Model.CombinationErrorMessage))
{
    <div class="col-xs-12 nopadding">
        <span class="error-msg">
            @Model.CombinationErrorMessage
        </span>
    </div>
}



