﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Engine.WebStore.Agents
@using System.Configuration
@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    bool isLiteVersion = false;
    if (ViewBag.IsLite != null) { isLiteVersion = (bool)ViewBag.IsLite; }

    string PDPVideoURL = "";
    PDPVideoURL = Model.Attributes?.Value("VideoURL");

    if (PDPVideoURL != null)
    {
        PDPVideoURL = Model.Attributes?.Value("VideoURL");
    }

    // Nivi code image changes start
    string BaseImagePath = ConfigurationManager.AppSettings["BaseImagePath"].ToString();
    string BaseImage = "", BaseGalleryImage1 = "", BaseGalleryImage2 = "", BaseGalleryImage3 = "",
        BaseGalleryImage4 = "", BaseGalleryZoomImage1 = "", BaseGalleryZoomImage2 = "", BaseGalleryZoomImage3 = "",
        BaseGalleryZoomImage4 = "";
    string BaseGalleryAttImage1 = Convert.ToString(Model.Attributes?.Value("BaseGalleryImage1"));
    string BaseGalleryAttImage2 = Convert.ToString(Model.Attributes?.Value("BaseGalleryImage2"));
    string BaseGalleryAttImage3 = Convert.ToString(Model.Attributes?.Value("BaseGalleryImage3"));
    string BaseGalleryAttImage4 = Convert.ToString(Model.Attributes?.Value("BaseGalleryImage4"));
    string BaseGalleryAltAttText1 = Convert.ToString(Model.Attributes?.Value("BaseGalleryAltText1"));
    string BaseGalleryAltAttText2 = Convert.ToString(Model.Attributes?.Value("BaseGalleryAltText2"));
    string BaseGalleryAltAttText3 = Convert.ToString(Model.Attributes?.Value("BaseGalleryAltText3"));
    string BaseGalleryAltAttText4 = Convert.ToString(Model.Attributes?.Value("BaseGalleryAltText4"));
    if (Convert.ToString(Model.Attributes?.Value("BaseImage")) != null)
    {
        BaseImage = BaseImagePath + @"t_1000/" + Convert.ToString(Model.Attributes?.Value("BaseImage"));
        //Model.ImageSmallPath = BaseImage;
    }
    if (Convert.ToString(Model.Attributes?.Value("BaseGalleryAttImage1")) != null)
    {
        BaseGalleryImage1 = BaseImagePath + @"t_170/" + Convert.ToString(Model.Attributes?.Value("BaseGalleryAttImage1"));
        BaseGalleryZoomImage1 = BaseImagePath + @"t_1000/" + Convert.ToString(Model.Attributes?.Value("BaseGalleryAttImage1"));
        //Model.ImageSmallPath = BaseImage;
    }
    if (Convert.ToString(Model.Attributes?.Value("BaseGalleryAttImage2")) != null)
    {
        BaseGalleryImage2 = BaseImagePath + @"t_170/" + Convert.ToString(Model.Attributes?.Value("BaseGalleryAttImage2"));
        BaseGalleryZoomImage2 = BaseImagePath + @"t_1000/" + Convert.ToString(Model.Attributes?.Value("BaseGalleryAttImage2"));
        //Model.ImageSmallPath = BaseImage;
    }
    if (Convert.ToString(Model.Attributes?.Value("BaseGalleryAttImage3")) != null)
    {
        BaseGalleryImage3 = BaseImagePath + @"t_170/" + Convert.ToString(Model.Attributes?.Value("BaseGalleryAttImage3"));
        BaseGalleryZoomImage3 = BaseImagePath + @"t_1000/" + Convert.ToString(Model.Attributes?.Value("BaseGalleryAttImage3"));
        //Model.ImageSmallPath = BaseImage;
    }
    if (Convert.ToString(Model.Attributes?.Value("BaseGalleryAttImage4")) != null)
    {
        BaseGalleryImage4 = BaseImagePath + @"t_170/" + Convert.ToString(Model.Attributes?.Value("BaseGalleryAttImage4"));
        BaseGalleryZoomImage4 = BaseImagePath + @"t_1000/" + Convert.ToString(Model.Attributes?.Value("BaseGalleryAttImage4"));
        //Model.ImageSmallPath = BaseImage;
    }


    // Nivi code image changes end
}

<div class="col-xs-12 nopadding simpleLens-gallery-container">
    <div class="col-lg-2 col-md-12 col-sm-2 col-xs-12 item nopadding order2" id="slider-thumbs" style="overflow:auto;">
        <div class="col-xs-12 nopadding product-altimages">
            @*@if (isLiteVersion)
                {
                    @Ajax.Partial("AlternateImages", "AlternateProductImages", "RSProduct", new { id = ViewBag.ProductId, expands = "ProductImage", seo = ViewBag.Seo, isquickview = ViewBag.IsQuickView, publishstate = PortalAgent.CurrentPortal.PublishState })
                }
                else
                {*@
            <div class="owl-carousel owl-theme hidden-lg hidden-md visible-xs">
                <div class="item" id="image-1"><a onclick="ChangeImage('@BaseGalleryZoomImage1')" href="@BaseGalleryZoomImage1"><img src=@BaseGalleryImage1 data-src=@BaseGalleryImage1 class="img-responsive thumbnail fixedbottomimg" alt="@BaseGalleryAltAttText1" title="@BaseGalleryAltAttText1"></a></div>
                <div class="item" id="image-2"><a onclick="ChangeImage('@BaseGalleryZoomImage2')" href="@BaseGalleryZoomImage2"><img src=@BaseGalleryImage2 data-src=@BaseGalleryImage2 class="img-responsive thumbnail fixedbottomimg" alt="@BaseGalleryAltAttText2" title="@BaseGalleryAltAttText2"></a></div>
                <div class="item" id="image-3"><a onclick="ChangeImage('@BaseGalleryZoomImage3')" href="@BaseGalleryZoomImage3"><img src=@BaseGalleryImage3 data-src=@BaseGalleryImage3 class="img-responsive thumbnail fixedbottomimg" alt="@BaseGalleryAltAttText3" title="@BaseGalleryAltAttText3"></a></div>
                <div class="item" id="image-4"><a onclick="ChangeImage('@BaseGalleryZoomImage4')" href="@BaseGalleryZoomImage4"><img src=@BaseGalleryImage4 data-src=@BaseGalleryImage4 class="img-responsive thumbnail fixedbottomimg" alt="@BaseGalleryAltAttText4" title="@BaseGalleryAltAttText4"></a></div>

            </div>

            <div id="alt-images" class="owl-carousel owl-theme hidden-xs owl-width">
                <!-- Vertical slider -->
                <ul class="hide-bullets tab-ul" id="img-repo">
                    <li class="item" id="image-1">
                        @*<a onclick="ChangeImage('@galimg.ImageLargePath','@galimg.OriginalImagePath')" href="@galimg.OriginalImagePath"><img src=@imagePath class="img-responsive thumbnail fixedbottomimg" alt="@Html.RenderBlock(Model.Name) @SeletedColor" title="@Html.RenderBlock(Model.Name) @SeletedColor"></a>*@
                        <a onclick="ChangeImage('@BaseGalleryZoomImage1')" href="#"><img src=@BaseGalleryImage1 data-src=@BaseGalleryImage1 class="img-responsive thumbnail fixedbottomimg" alt="@BaseGalleryAltAttText1" title="@BaseGalleryAltAttText1"></a>
                    </li>
                    <li class="item" id="image-2">
                        @*<a onclick="ChangeImage('@galimg.ImageLargePath','@galimg.OriginalImagePath')" href="@galimg.OriginalImagePath"><img src=@imagePath class="img-responsive thumbnail fixedbottomimg" alt="@Html.RenderBlock(Model.Name) @SeletedColor" title="@Html.RenderBlock(Model.Name) @SeletedColor"></a>*@
                        <a onclick="ChangeImage('@BaseGalleryZoomImage2')" href="#"><img src=@BaseGalleryImage2 data-src=@BaseGalleryImage2 class="img-responsive thumbnail fixedbottomimg" alt="@BaseGalleryAltAttText2" title="@BaseGalleryAltAttText2"></a>
                    </li>
                    <li class="item" id="image-3">
                        @*<a onclick="ChangeImage('@galimg.ImageLargePath','@galimg.OriginalImagePath')" href="@galimg.OriginalImagePath"><img src=@imagePath class="img-responsive thumbnail fixedbottomimg" alt="@Html.RenderBlock(Model.Name) @SeletedColor" title="@Html.RenderBlock(Model.Name) @SeletedColor"></a>*@
                        <a onclick="ChangeImage('@BaseGalleryZoomImage3')" href="#"><img src=@BaseGalleryImage3 data-src=@BaseGalleryImage3 class="img-responsive thumbnail fixedbottomimg" alt="@BaseGalleryAltAttText3" title="@BaseGalleryAltAttText3"></a>
                    </li>
                    <li class="item" id="image-4">
                        @*<a onclick="ChangeImage('@galimg.ImageLargePath','@galimg.OriginalImagePath')" href="@galimg.OriginalImagePath"><img src=@imagePath class="img-responsive thumbnail fixedbottomimg" alt="@Html.RenderBlock(Model.Name) @SeletedColor" title="@Html.RenderBlock(Model.Name) @SeletedColor"></a>*@
                        <a onclick="ChangeImage('@BaseGalleryZoomImage4')" href="#"><img src=@BaseGalleryImage4 data-src=@BaseGalleryImage4 class="img-responsive thumbnail fixedbottomimg" alt="@BaseGalleryAltAttText4" title="@BaseGalleryAltAttText4"></a>
                    </li>
                    <!-- Code by Nivi for VideoURL-->
                    @if (PDPVideoURL != null)
                    {
                        <li class="col-xs-12 nopadding margin-bottom">
                            <a href="#myModal" class="thumbnail video" data-target="#videoModal" data-toggle="modal" data-video="@PDPVideoURL">
                                <img src="~/Views/Themes/RogansShoes/Images/videoicon.jpg" />
                            </a>
                        </li>
                    }

                    <li class="col-xs-12 nopadding margin-bottom">
                        <a href="#" class="thumbnail">
                            <img src="~/Views/Themes/RogansShoes/Images/videoicon.jpg" />
                        </a>
                    </li>

                </ul>
            </div>


        </div>
    </div>
    <div class="col-sm-10 col-lg-10 col-md-12 col-xs-12 image-view nopadding-right hidden-xs order1">
        <div class="col-xs-12 nopadding" id="slider">
            <!-- Right side slider -->
            <div>
                <div class="col-sm-12 mobile-no-padding nopadding" id="carousel-bounding-box">
                    <div class="carousel slide" id="myCarousel">
                        <div class="active item" id="ImageZoom" data-slide-number="0">
                            <div class="simpleLens-container">
                                @if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
                                {
                                    @*<img src="~/Views/Themes/RogansShoes/Images/new-product-tag.png" alt="New Product" class="img-responsive new-product-tag" />*@
                                }
                                <div class="simpleLens-big-image-container image-view">
                                    <div class=" ex1 abc" id="image-1">
                                        <a id="product-lens-image" href="@BaseImage" class="easyzoom-img">
                                            <img id="product-image" src="@BaseImage" data-src="@BaseImage" class="imgfixed b-lazy" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="videomodal text-center">
                                    <iframe width="100%" height="400" title="Adidas Copa 18.2 FG Outdoor Soccer Cleats - Mensvideo" class="YouTubeFrame" src="http://www.youtube.com/embed/WSmbFR1T_u4?rel=0&amp;showinfo=0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="col-lg-12 col-md-12 col-sm-12 nopadding-potrait nopadding-mobile margin-bottom hidden-xs">
    <div class="Socail-Icon">
        <!-- AddThis font awesome icons,Email,Wishlist,Print BEGIN -->
        <div class="col-xs-12 nopadding margin-bottom">
            @Html.RenderMessage("SocialMediaIcons")
            @Html.Partial("_AddToWishList", Model)
            @*//Nivi Comment//@Html.Partial("_AddToWishList", new ProductViewModel { PublishProductId = Model.PublishProductId, SKU = Model.SKU })*@
            <div class="col-xs-12 nopadding wishlist-status"><a id="accountWishList" href="" class=""></a></div>
        </div>
        <!-- AddThis Button,Email,Wishlist,Print END -->
    </div>
</div>

<!--Show Video Modal-->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="height: 485px;">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
                <h4 class="modal-title">Video</h4>
            </div>
            <div class="modal-body margin-top">
                <div class="col-xs-12 nopadding">
                    <div class="videomodal text-center">
                        <iframe width="100%" height="400" src="" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Image Modal View*@
<div class="modal" id="modal-gallery" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button class="close closeset" type="button" data-dismiss="modal"><i class="zf-close-circle"></i></button>
                <div id="modal-carousel" class="carousel">
                    <div class="carousel-inner"></div>
                    <a class="carousel-control left" href="#modal-carousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"><img src="/Views/Themes/RogansShoes/Images/Leftarrow.png" alt="" class="img-responsive"></i></a>
                    <a class="carousel-control right" href="#modal-carousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"><img src="/Views/Themes/RogansShoes/Images/Rightarrow.png" alt="" class="img-responsive"></i></a>
                </div>
            </div>
            <div class="modal-footer hidden">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<script>
    //$(".Product_Altimages").owlCarousel({
    //    autoPlay: false,
    //    navigation: true,
    //    items: 4,
    //    itemsCustom: [
    //      [0, 1],
    //      [320, 4],
    //      [480, 4],
    //      [600, 4],
    //      [768, 6],
    //      [992, 5],
    //      [1200, 6]
    //    ],
    //    navigationText: [
    //      "<i class='zf-arrow-left-big'></i>",
    //      "<i class='zf-arrow-right-big'></i>"
    //    ]
    //});



    // A $( document ).ready() block.
    $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            navigation: true,
            navigationText: [
                "<i class='fa fa-arrow-left'></i>",
                "<i class='fa fa-arrow-right'></i>"
            ],
            itemsCustom: [
                [0, 1],
                [320, 1],
                [480, 1],
                [600, 1],
                [768, 6],
                [992, 5],
                [1200, 6]
            ],
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
    });


</script>

