﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model ProductViewModel
@using Znode.Engine.WebStore.Agents
@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool CallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        CallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    string disable = CallForPricing || !Model.ShowAddToCart ? "disabled" : "";
    string productType = Model?.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code;
    string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
    string ratingText = Model.Rating > 0 ? string.Format(WebStore_Resources.TextRating, Math.Round(Model.Rating, 1), Model.TotalReviews) : string.Empty;
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
    int ColorValueCount = Convert.ToInt32(Model?.Attributes?.SelectAttributeList("DisplayColor")?.Count());
    string  IsMappedPrice  = Model.Attributes?.Value("IsMappedPrice");
    string PDPLink = Url.GetProductUrl(Model?.SEOUrl, Model.PublishProductId.ToString());
   // string  IsMappedPrice1 = Model.Attributes?.Value("IsMappedPrice");    
    bool bvalue = (IsMappedPrice == "true" ? true : false);

}
<div class="CategoryDetail product-list-widget">
    <div class="ProductListItem view-item">
        <div class="Image">
         
        
            @if (Model.EnableProductCompare)
            { <div class="CompareBox">
                <a data-test-selector="linkProductImage" href="#" class="button-compare" onclick="return Category.prototype.AddToCompare(@Model.PublishProductId,@Model.CategoryId)" alt="@WebStore_Resources.LabelCompareLink" title="Compare @Html.RenderBlock(Model.Name)">Compare</a>
            </div>
            }

            <a data-test-selector="linkProductURL" href="@Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())" itemprop="url">
                @if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
                {
                    <img data-test-selector="imgProductImage" src="@_fileLocation/Images/new-product-tag.png" alt="New Product" class="img-responsive new-product-tag hvr-pulse"/>
                }
                    <div class="image">
                        @{
                            string imageSrc = string.IsNullOrEmpty(Model.ImageSmallPath) ? "/no-image.png" : Model.ImageSmallPath;
                        }
                        <img data-test-selector="imgProductImage" id="@Model.PublishProductId" class="img-responsive b-lazy img-center" data-src="@imageSrc" alt="@Html.RenderBlock(Model.Name)" title="@Html.RenderBlock(Model.Name)" itemprop="image" />
                    </div>
            </a>

            @*More Color Available*@
            <div class="ProductSwatches">
                @if (ColorValueCount > 1)
                {
                    <div class="ColorCaption">
                        <a href="@PDPLink" class="ColorPicker" title="More Color Available @Model.Name">@Html.RenderMessage("MoreColorOptionTitle")</a>
                    </div>
                }
            </div>


            <div class="product-details">

                <div class="product-rating" data-test-selector="divProductRating">
                    @Html.Partial("_StarRating", Model.Rating, new ViewDataDictionary { { "StarRatingTitle", @WebUtility.HtmlDecode(Model.Name) } })
                    @*@ratingText<a data-test-selector="linkRatingText" href="@Url.GetProductUrl(Model?.SEOUrl, Model.PublishProductId.ToString())#scrollReview" id="jumpto-readreviews-productTile">@WebStore_Resources.LinkTextReadReviews</a>*@
                </div>
                <div class="DetailLink">
                    <a data-test-selector="hdgProductName" href="@PDPLink" title="@Html.RenderBlock(Model.Name)"><span itemprop="name">@Html.RenderBlock(Model.Name)</span></a>
                </div>

                @if (CallForPricing)
                {
                    <div class="Price" data-test-selector="divPrice"><span class="SalePrice">@callForPricingMessage</span></div>
                }

                else
                {
                    <div data-test-selector="divPrice" class="price" data-sku="@Model.SKU" data-type="@Model.ProductType">
                   @if (!Helper.IsAsyncPrice)
                {
                    if (!string.IsNullOrEmpty(Model.GroupProductPriceMessage))
                    {
                                <span class="SalePrice">@Model.GroupProductPriceMessage</span>
                       }
                       else
                       {

                          
                        @*<div class="Price"><span class="SalePrice">@IsMappedPrice</span></div>*@
                       
                           if (bvalue == true)
                           {

                               if (!Equals(Model.SalesPrice, null))
                               {
                                        <span class="Price" data-test-selector="spanPrice">
                                            @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM)
                                        </span>

                                        if (Model.SalesPrice != @Model.RetailPrice && !Equals(productType, ZnodeConstant.GroupedProduct))
                                        {
                                            @*<span class="cut-price">
                                                    @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                                </span>*@
                                        }
                                    }

                                    else
                                    {
                                        if (HelperUtility.IsNotNull(Model.PromotionalPrice))
                                        {
                                            <span class="Price">
                                                @Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode, UOM)
                                            </span>
                                            @*<span class="cut-price">
                                                    @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                                </span>*@
                                        }
                                        else
                                        {
                                            <span class="Price" data-test-selector="spanPrice">
                                                @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                            </span>
                                        }
                                    }

                                }
                                else
                                {

                                    if (!Equals(Model.SalesPrice, null))
                                    {
                                        <span class="SalePrice" data-test-selector="spanPrice">
                                            @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM)
                                        </span>

                                        if (Model.SalesPrice != @Model.RetailPrice && !Equals(productType, ZnodeConstant.GroupedProduct))
                                        {
                                            @*<span class="cut-price">
                                                    @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                                </span>*@
                                        }
                                    }

                                    else
                                    {
                                        if (HelperUtility.IsNotNull(Model.PromotionalPrice))
                                        {
                                            <span class="SalePrice">
                                                @Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode, UOM)
                                            </span>
                                            @*<span class="cut-price">
                                                    @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                                </span>*@
                                        }
                                        else
                                        {
                                            <span class="SalePrice" data-test-selector="spanPrice">
                                                @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                            </span>
                                        }
                                    }

                                }

                               
                                                         
                            }

                        }
                        else
                        {
                            <label class="price-span" data-sku="@Model.SKU" data-type="@productType">Loading...</label>
                        }

                    </div>
                    if (!string.IsNullOrEmpty(disable))
                    {
                        <div class="item-error-msg">
                            <p class="error-msg">@Model.InventoryMessage</p>
                        </div>
                    }
                }

            </div>
            @*<button onclick="Product.prototype.GetProductDetails(this)" class="btn-card btn-quick-view btn-bg-secondary hvr-shadow" data-review-state-id="" data-product-is-active="" data-value="@Model.PublishProductId" data-isquickview="true" data-toggle="modal" data-target=".quick-view-popup">@WebStore_Resources.ButtonQuickView</button>*@
        </div>


    </div>

</div>



@*<script>
    jQuery('img').bind('error', function (e) {
        this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";
    });
</script>*@
