﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model  ConfigurableAttributeViewModel
@{
    Layout = null;
    var attributes = Model?.ConfigurableAttributes?.Where(x => x.IsConfigurable)?.ToList();
    var fitGuideLink = Model?.Custom1;
    if (fitGuideLink != null)
    {
        fitGuideLink = "../" + fitGuideLink;
    }
    bool havewidth = false;
    foreach (var att in attributes)
    {
        if (att.AttributeCode == "Color")
        {
            att.DisplayOrder = 10;
            att.IsSwatch = "true";
        }
        if (att.AttributeCode == "Size")
        {

            att.DisplayOrder = 20;
        }
        if (att.AttributeCode == "ShoeWidth")
        {

            att.DisplayOrder = 30;
            havewidth = true;
        }

    }
    attributes = attributes.OrderBy(x => x.DisplayOrder).ToList();
    //var apiurl = ZnodeAdminSettings.ZnodeApiRootUri;

    HttpCookie cookie = Request.Cookies["defaultstore"];

    if ((cookie != null) && (cookie.Value != ""))
    {
        Response.Write(cookie.Values["dep_name"].ToString() + "---" +
        cookie.Values["cat_name"].ToString() + "---" + cookie.Values["brand"].ToString());
    }
    else
    {

    }
}

<div id="loaderId"> </div>

@if (attributes?.Count > 0)
{
    foreach (var att in attributes)
    {
        SelectList valuelist = new SelectList(new List<string>());
        if (att.AttributeCode != "Color")
        {
            List<string> _attrvaluelist = new List<string>();
            _attrvaluelist.Add("Select");
            foreach (var text in att.ConfigurableAttribute?.OrderBy(x => x.DisplayOrder))
            {
                _attrvaluelist.Add(text.AttributeValue);
            }
            valuelist = new SelectList(_attrvaluelist);
        }

        switch (att.AttributeCode)
        {
            case "Color":
                <div class="col-xs-12 nopadding">
                    <div class="form-group text-center-mobile">
                        <div class="col-xs-12 nopadding">
                            <label>@att.AttributeName : <span class="text-black">@att.SelectedAttributeValue[0]</span></label>
                        </div>
                        <div class="col-xs-12 nopadding">
                            <ul class="swatch-img size-swatch">
                                @foreach (var image in att.ConfigurableAttribute?.OrderBy(x => x.DisplayOrder))
                                {
                                    var imagepath = Model.SwatchImages.Where(x => x.AttributeCode == "Color" && x.AttributeValues == image.AttributeValue).Select(x => x.ImagePath).FirstOrDefault();
                                    <li class="styled-input scratch-attribute-img ">
                                        <input type="radio" class="ConfigurableAttribute" name="@att.AttributeCode" Onchange="Product.prototype.OnAttributeSelect(this);" id="@att.AttributeCode-@image.AttributeValue" code="@att.AttributeCode" value="@image.AttributeValue" @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "checked=checked" : "") />
                                        @*<label for="@att.AttributeCode-@image.AttributeValue" class="scratch-image @( image.IsDisabled ? "scratchattribute" : "") @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "active" : "")">*@
                                        <label for="@att.AttributeCode-@image.AttributeValue" class="scratch-image @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "active" : "")">
                                            <img src="@imagepath" class="SwatchImage img-responsive" title="@image.AttributeValue" alt="@image.AttributeValue" />
                                        </label>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                break;
            case "ShoeWidth":
                <div class="col-xs-12 nopadding">
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            @if (fitGuideLink != null)
                            {
                                <label>@att.AttributeName :</label><span class="pull-right"><a class="szchartClass" href="#" onclick="FitGuide('@fitGuideLink');" title="@WebStore_Resources.TitleFitGuide">(@WebStore_Resources.TitleFitGuide)</a></span>
                            }
                            else
                            {
                                <label>@att.AttributeName :</label>
                            }
                        </div>
                        <div class="col-xs-12 nopadding">
                            <div id="WidthError" class="error-msg" style="display:none">@WebStore_Resources.TitleSelectWidth</div>
                        </div>
                        <div class="col-xs-12 nopadding">
                            @Html.DropDownList("ShoeWidth", new SelectList(valuelist, "text", "text", "Select"), new { @class = "ConfigurableAttribute AttributeDropDown SelectBoxSize", @onchange = "Product.prototype.OnAttributeSelect(this);", code = att.AttributeCode, type = "Dropdown" })  @*onchange= "Product.prototype.OnSizeChange(this,"+ Model.ColorSizeWidthList+")",*@
                        </div>
                    </div>
                </div>
                break;
            case "Size":
                <div class="col-xs-12 nopadding">
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            @if (havewidth == false && fitGuideLink != null)
                            {
                                <label>@att.AttributeName :</label><span class="pull-right"><a class="szchartClass" href="#" onclick="FitGuide('@fitGuideLink');" title="@WebStore_Resources.TitleFitGuide">(@WebStore_Resources.TitleFitGuide)</a></span>
                            }
                            else
                            {
                                <label>@att.AttributeName :</label>
                            }
                        </div>
                        <div class="col-xs-12 nopadding">
                            <div id="SizeError" class="error-msg" style="display:none">@WebStore_Resources.TitleSelectSize</div>
                        </div>
                        <div class="col-xs-12 nopadding">
                            @Html.DropDownList("Size", new SelectList(valuelist, "text", "text", "Select"), new { @class = "ConfigurableAttribute AttributeDropDown SelectBoxSize", @onchange = "Product.prototype.OnAttributeSelect(this);", code = att.AttributeCode, type = "Dropdown" })  @*onchange= "Product.prototype.OnSizeChange(this,"+ Model.ColorSizeWidthList+")",*@
                        </div>
                    </div>
                </div>
                break;
        }
    }

}
@Html.Hidden("HaveWidth", @havewidth);
@if (!string.IsNullOrEmpty(Model.CombinationErrorMessage))
{
    <div class="col-xs-12 nopadding">
        <span class="error-msg">
            @*@Model.CombinationErrorMessage*@
        </span>
    </div>
}

<script>
    $(document).ready(function () {

        try {
            //var selectedsize = $("#SelectedSize").val();
            //var selectedwidth = $("#SelectedWidth").val();

            //$("select[name^='Size'] option[value='" + selectedsize + "']").attr("selected", "selected");
            //$("select[name^='ShoeWidth'] option[value='" + selectedwidth + "']").attr("selected", "selected");
            var selectedtext = $('#Size :selected').text();
            if (selectedtext == "Select") {

            }
        }
        catch (err) {
            //alert(err.message);
        }

    });


</script>

