﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model ProductViewModel
@using Znode.Engine.WebStore.Agents
@using System.Configuration
@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool CallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        CallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    string productType = Model?.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code;
    string salesPrice = Equals(productType, ZnodeConstant.GroupedProduct) && (!Equals(Model.SalesPrice, null) || !Equals(Model.RetailPrice, null)) ? string.Format(WebStore_Resources.GroupProductMessage, Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, string.Empty)) : Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, string.Empty);
    string retailPrice = (Equals(productType, ZnodeConstant.GroupedProduct) && !Equals(Model.RetailPrice, null)) ? string.Format(WebStore_Resources.GroupProductMessage, Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, string.Empty)) : Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, string.Empty);
    string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
    string ratingText = Model.Rating > 0 ? string.Format(WebStore_Resources.TextRating, Math.Round(Model.Rating, 1), Model.TotalReviews) : string.Empty;
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
    string IsMappedPrice = Model.Attributes?.Value("IsMappedPrice");
    bool bvalue = (IsMappedPrice == "true" ? true : false);
    int ColorValueCount = Convert.ToInt32(Model?.Attributes?.SelectAttributeList("DisplayColor")?.Count());
    string PDPLink = Url.GetProductUrl(Model?.SEOUrl, Model.PublishProductId.ToString());
    // Nivi code image changes start
    string BaseImagePath = ConfigurationManager.AppSettings["BaseImagePath"].ToString();
    string BaseImage = "";
    if (Convert.ToString(Model.Attributes?.Value("BaseImage")) != null)
    {
        BaseImage = BaseImagePath + @"t_170/" + Convert.ToString(Model.Attributes?.Value("BaseImage"));
        Model.ImageSmallPath = BaseImage;
    }
    // Nivi code image changes end
}
<div class="item">
    <div class="product-item">
        <div class="view-item">
            <div class="product-img">
                <a href="@domainurl@Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())">
                    @if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
                    {
                        <img src="@_fileLocation/Images/new-product-tag.png" alt="New Product" class="img-responsive new-product-tag hvr-pulse" />
                    }
                    <div class="image">
                        @{
                            string imageSrc = string.IsNullOrEmpty(Model.ImageSmallPath) ? "/no-image.png" : Model.ImageSmallPath;
                        }
                        @*<img id="@Model.PublishProductId" src="@imageSrc" class="img-responsive" data-src="@imageSrc" alt="Product" />*@
                        <img id="@Model.PublishProductId" src="@imageSrc" class="img-responsive b-lazy" data-src="@imageSrc" alt="@Html.RenderBlock(Model.Name)" title="@Html.RenderBlock(Model.Name)" />
                    </div>
                </a>
            </div>

            @*More Color Available*@
            <div class="ProductSwatches">
                @if (ColorValueCount > 1)
                {
                    <div class="ColorCaption">
                        <a href="@PDPLink" class="ColorPicker" title="More Color Available @Model.Name">@Html.RenderMessage("MoreColorOptionTitle")</a>
                    </div>
                }
            </div>
            <div class="product-details">
                <div class="product-rating product-rating-mobile">
                    @Html.Partial("_StarRating", Model.Rating, new ViewDataDictionary { { "StarRatingTitle", @WebUtility.HtmlDecode(Model.Name) } })
                    @*@ratingText <a href="@Url.GetProductUrl(Model?.SEOUrl, Model.PublishProductId.ToString())#scrollReview" id="jumpto-readreviews-productTile">@WebStore_Resources.LinkTextReadReviews</a>*@
                </div>
                <div class="DetailLink">
                    <a href="@Url.GetProductUrl(Model?.SEOUrl, Model.PublishProductId.ToString())" title="@Html.RenderBlock(Model.Name)">@Html.RenderBlock(Model.Name)</a>
                </div>
                @if (CallForPricing)
                {
                    <div class="price"><label class="SalePrice">@callForPricingMessage</label></div>
                }
                else
                {
                    <div class="price" data-sku="@Model.SKU" data-type="@Model.ProductType">
                        @if (!Helper.IsAsyncPrice)
                        {
                            if (!string.IsNullOrEmpty(Model.GroupProductPriceMessage))
                            {
                                <label>@Model.GroupProductPriceMessage</label>
                            }
                            else
                            {
                                if (bvalue == true)
                                {
                                    if (!Equals(Model.SalesPrice, null))
                                    {
                                        <span class="Price">
                                            @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, Model.UOM)
                                        </span>

                                        if (Model.SalesPrice != @Model.RetailPrice && !Equals(productType, ZnodeConstant.GroupedProduct))
                                        {

                                        }
                                    }
                                    else
                                    {
                                        if (Model.PromotionalPrice > 0)
                                        {

                                            <label>@Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode, Model.UOM)</label>
                                            <span class="cut-price">
                                                @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, Model.UOM)
                                            </span>

                                        }
                                        else
                                        {
                                            <span class="Price">
                                                @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, Model.UOM)
                                            </span>
                                        }

                                    }
                                }
                                else
                                {
                                    if (!Equals(Model.SalesPrice, null))
                                    {
                                        <span class="SalePrice">
                                            @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, Model.UOM)
                                        </span>

                                        if (Model.SalesPrice != @Model.RetailPrice && !Equals(productType, ZnodeConstant.GroupedProduct))
                                        {

                                        }
                                    }
                                    else
                                    {
                                        if (Model.PromotionalPrice > 0)
                                        {

                                            <label>@Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode, Model.UOM)</label>
                                            <span class="cut-price">
                                                @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, Model.UOM)
                                            </span>

                                        }
                                        else
                                        {
                                            <span class="SalePrice">
                                                @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, Model.UOM)
                                            </span>
                                        }

                                    }
                                }
                            }
                        }
                        else
                        {
                            <label class="price-span" data-sku="@Model.SKU" data-type="@Model.ProductType" data-test-selector="lblProductType">Loading...</label>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
