﻿@model Znode.Engine.WebStore.ViewModels.ShortProductViewModel
@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@{
    decimal quantity = string.IsNullOrEmpty(Model.Attributes?.Value(ZnodeConstant.MinimumQuantity)) ? 1 : Convert.ToDecimal(Model.Attributes?.Value(ZnodeConstant.MinimumQuantity));
    string sku = string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.SKU : Model.ConfigurableProductSKU;
    string inventoryRoundOff = DefaultSettingHelper.DefaultInventoryRoundOff;
    string inventoryMessageClass = Model.InventoryDetails.ShowAddToCart ? "status-outofstock hvr-pulse" : "error-msg";
    bool addToCartDisabled = Model.IsCallForPricing || Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    string maxQty = Model.Attributes?.Value(ZnodeConstant.MaximumQuantity);
    string minQty = Model.Attributes?.Value(ZnodeConstant.MinimumQuantity);
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool IsCallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        IsCallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
      string disable = IsCallForPricing || !Model.InventoryDetails.ShowAddToCart ? "disabled" : "";
    //string disable = "";
    bool isGroupProduct = string.Equals(Model.Attributes.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code, ZnodeConstant.GroupedProduct, StringComparison.OrdinalIgnoreCase);
    string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
    string PDPDesignView = Attributes.ValueFromSelectValue(Model?.Attributes, "PDPDesignTemplate");
    string FitGuideLink = Attributes.ValueFromSelectValue(Model?.Attributes, "FitGuideLink");
    Model.ConfigurableData.Custom1 = FitGuideLink;
    string IsProductShipOnly = Model.Attributes.FirstOrDefault(y => y.AttributeCode == "IsAvailableOnlineOnly")?.AttributeValues;
    if (Model.Custom1 != null && Model.Custom1.ToString() != "")
    {
        Model.CartParameter.Add("Custom1", Model.Custom1.ToString());
        Model.CartParameter.Add("Custom2", Model.Custom2.ToString());
        Model.CartParameter.Add("Custom3", Model.Custom3.ToString());
    }
    else
    {
        Model.CartParameter.Add("Custom1", "0");
        Model.CartParameter.Add("Custom2", "");
        Model.CartParameter.Add("Custom3", "");
    }
    Model.CartParameter.Add("Custom5", IsProductShipOnly);
}
@if (Model.IsConfigurable)
{
    //  @Html.Partial("_ConfigurableAttributeDDL", Model.ConfigurableData)
    if (PDPDesignView == "Swatch View" || PDPDesignView == null)
    {
        @Html.Partial("_ConfigurableAttribute", Model.ConfigurableData)
    }
    else
    {
        @Html.Partial("_ConfigurableAttributeDDL", Model.ConfigurableData)
    }

}
@{
    @Html.Hidden("apiURL", ZnodeAdminSettings.ZnodeApiRootUri)
    <input type="hidden" id="SelectedWarehouseId">
    <input type="hidden" id="SelectedWarehouseName">
    <input type="hidden" id="SelectedWarehouseAddress">
    @Html.Hidden("IsProductShipOnly", IsProductShipOnly)

    <!--Start Pickup store-->
    <div class="col-lg-12 nopadding border-top-pdp">
        <div class="col-lg-12 col-xs-12 nopadding  margin-bottom">
            @if (IsProductShipOnly == "true")
            {
                @Html.RenderMessage("OnlineExclusiveImage")
            }
        </div>

        <div class="col-xs-12 nopadding styled-input margin-bottom-5">
            @if (IsProductShipOnly == "false" || IsProductShipOnly == null)
            {
                <input type="radio" id="Ship" name="radio123" value="1" checked data-dismiss="modal" onclick="RemoveStoreDetails();" />
                <label class="set-radio-btn" for="Ship" title="SHIP">SHIP</label>
                <div class="pull-right">
                    <div data-test-selector="lblQuantityErrMsg" id="quantity-error-msg" class="error-msg"></div>
                </div>
                <br />
                if (Model.Custom1 != null && Model.Custom1.ToString() != "")
                {
                    <input type="radio" id="Pickup" name="radio123" value="2" onclick="AssignStoreDetails('@Model.Custom1','@Model.Custom2','@Model.Custom3');" /> @*onclick="ShowSearchPanel()" onclick="OpenPopup()" *@
                    <label class="set-radio-btn" for="Pickup" title="PICK UP IN STORE (FREE)">PICK UP IN STORE (FREE)</label>
                }
                else
                {
                    <input type="radio" id="Pickup" name="radio123" value="2" data-toggle="modal" data-target="#searchstore" /> @*onclick="ShowSearchPanel()" onclick="OpenPopup()" *@
                    <label class="set-radio-btn" for="Pickup" title="PICK UP IN STORE (FREE)">PICK UP IN STORE (FREE)</label>
                }

                <div id="defaultstorename">
                    @if (Model.Custom1 != null && Model.Custom1.ToString() != "")
                {

                        <label class='storename'>@Model.Custom2.ToString()</label><span class='select-store'><a style='text-decoration: underline;' data-toggle='modal' data-target='#searchstore' href='#' title="Change Store">Change Store</a></span>
                    }
                </div>
            }
            else
            {
                <div class="col-xs-12 nopadding GreyOut margin-top">
                    <input type="radio" id="Ship" name="radio123" value="1" checked data-dismiss="modal" onclick="RemoveStoreDetails();" />
                    <label class="set-radio-btn" for="Ship" style="cursor: not-allowed;" title="SHIP">SHIP</label>
                    <br />
                    <input type="radio" id="Pickup" name="radio123" value="2" onclick="" disabled />
                    <label class="set-radio-btn" for="Pickup" style="cursor: not-allowed;" title="PICK UP IN STORE (Not Available)">PICK UP IN STORE (Not Available)</label>
                </div>
            }
        </div>
    </div>
    <br />
    <div id="searchstore" hidden="hidden" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        @*hidden="hidden"*@
        <div class="modal-dialog">
            <div class="modal-content" style="background-color:#F7F7F7">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Close">&times;  </button>
                    <button id="search" class="btn btn-bg-primary btn-location" onclick="GetLocation('pdp');" title="USE MY CURRENT LOCATION"><i class="fa fa-map-marker"></i> USE MY CURRENT LOCATION</button>
                </div>
                <div class="modal-body">
                    <div id="storedetails" hidden="hidden"></div>
                </div>
            </div>
        </div>
    </div>
    <!--End Pickup store-->

    
    <div class="col-xs-12 nopadding your-pricing margin-top">
        <!--Nivi Code Mobile View Footer Price-->
        <div class="col-xs-6 nopadding padding-top-10 hidden-lg hidden-md visible-xs">
            @if (!IsCallForPricing && !isGroupProduct)
            {
                <div class="PriceContent pull-left" id="product_Detail_Price_Div">
                    @if (!Equals(Model.Pricing.SalesPrice, null))
                    {
                        <span class="SalePrice">@Helper.FormatPriceWithCurrency(Model.Pricing.SalesPrice, Model.Pricing.CultureCode, UOM)</span>
                        if (Model.Pricing.SalesPrice != @Model.Pricing.RetailPrice)
                        {
                            <span class="cut-price">
                                @Helper.FormatPriceWithCurrency(Model.Pricing.RetailPrice, Model.Pricing.CultureCode, UOM)
                            </span>
                        }
                    }
                    else
                    {
                        if (HelperUtility.IsNotNull(Model.Pricing.PromotionalPrice))
                        {
                            <span data-test-selector="lblPriceCut" class="Price">@Helper.FormatPriceWithCurrency(Model.Pricing.PromotionalPrice, Model.Pricing.CultureCode, UOM)</span>
                            <span data-test-selector="spanCutPrice" class="cut-price">
                                @Helper.FormatPriceWithCurrency(Model.Pricing.RetailPrice, Model.Pricing.CultureCode, UOM)
                            </span>
                        }
                        else
                        {
                            <span data-test-selector="lblPrice" class="SalePrice">@Helper.FormatPriceWithCurrency(Model.Pricing.ProductPrice, Model.Pricing.CultureCode, UOM)</span>
                        }
                    }
                </div>
            }
            @if (IsCallForPricing)
            {
                <div class="PriceContent pull-left"><span class="error-msg SalePrice">@callForPricingMessage</span></div>
            }
        </div>
        <!--End Nivi Code Mobile View Price-->
        <div class="col-lg-4 col-xs-6 nopadding margin-bottom">
            <div class="form-group">
                <div class="col-xs-12 nopadding product-details-qty text-center" id="product-details-quantity">
                    <a href="#" class="text-red" title="Minus"><i class="fa fa-minus text-red"></i></a>
                    <input data-test-selector="txtQuantity" type="text" name='Quantity' value="@quantity" data-sku="@sku" data-maxQuantity="@maxQty" data-minQuantity="@minQty" data-parentsku="@Model.SKU" data-parentProductId="@Model.ParentProductId" data-inventoryRoundOff="@inventoryRoundOff" class="quantity" @(addToCartDisabled ? "disabled" : "") id="Quantity" style="margin-top:0px;">
                    <div data-test-selector="lblQuantityErrMsg" id="quantity-error-msg" class="error-msg"></div>
                    <a href="#" class="text-red" title="Plus"><i class="fa fa-plus text-red"></i></a>

                </div>
            </div>
        </div>
        <div class="col-lg-8 col-xs-12 nopadding">
            <div class="col-xs-12 nopadding">
                <div class="col-xs-12 col-sm-12 col-md-12 AddToCartButton margin-minus-10">

                    @if (PDPDesignView == "Swatch View" || PDPDesignView == null)
                    {
                        <!--Button For Dektop,Tablet View-->
                        @Html.AddToCartAjaxRequest(WebStore_Resources.ButtonAddToCart, "/Product/AddToCartProduct", Model.CartParameter, "addtocartText margin-top-mobile hidden-xs", "Product.prototype.BindAddOnProductSKU(this,event)", disable, "Product.prototype.DisplayAddToCartMessage")
                        <!--Button For Mobile View-->
                        @Html.AddToCartAjaxRequest(WebStore_Resources.ButtonAddToCart, "/Product/AddToCartProduct", Model.CartParameter, "addtocartText margin-top-mobile hidden-lg hidden-md hidden-sm visible-xs", "Product.prototype.BindAddOnProductSKU(this,event)", disable, "RedirectToCart()")
                    }
                    else
                    {
                        <!--Button For Dektop,Tablet View-->
                        @Html.AddToCartAjaxRequest(WebStore_Resources.ButtonAddToCart, "/Product/AddToCartProduct", Model.CartParameter, "addtocartText margin-top-mobile hidden-xs", "Validate(this,event)", disable, "Product.prototype.DisplayAddToCartMessage")
                        <!--Button For Mobile View-->
                        @Html.AddToCartAjaxRequest(WebStore_Resources.ButtonAddToCart, "/Product/AddToCartProduct", Model.CartParameter, "addtocartText margin-top-mobile hidden-lg hidden-md hidden-sm visible-xs", "Validate(this,event)", disable)
                    }

                    
                </div>
            </div>
        </div>
        <div class="col-xs-12 nopadding hidden-lg hidden-md visible-xs">
            <div class="Socail-Icon text-right">
                <!-- AddThis font awesome icons,Email,Wishlist,Print BEGIN -->
                <div class="col-xs-12 nopadding margin-bottom">
                    @Html.RenderMessage("SocialMediaIcons")
                    @Html.Partial("_AddToWishList", new ProductViewModel { PublishProductId = Model.PublishProductId, SKU = Model.SKU })
                    <div class="col-xs-12 nopadding wishlist-status"><a id="accountWishList" href="" class=""></a></div>
                </div>
                <!-- AddThis Button,Email,Wishlist,Print END -->
            </div>
        </div>
        @Html.Hidden("WebstoreURL", @ZnodeWebstoreSettings.ZnodeWebStoreUri)
    </div>
}
<script src="~/Views/Themes/RogansShoes/Scripts/lib/GoogleMap.js"></script>
<script src="~/Views/Themes/RogansShoes/Scripts/lib/PickUpInStore.js"></script>
<script>
    function Validate(control,event)
    {
        var list = @Html.Raw(Json.Encode(Model.ConfigurableData.ConfigurableAttributes));
        var li =JSON.stringify(list);
        var data = JSON.parse(li);
        var isSizeSelected = true;
        var isWidthSelected = true;

        $.each(data, function(key, value) {
            if(JSON.stringify(data[key]["AttributeCode"]) == '"Size"'){
                var sizeValue = $("#Size").find(":selected").text();
                if (sizeValue == "Select") {
                    isSizeSelected=false;
                }
            }
            if(JSON.stringify(data[key]["AttributeCode"]) == '"ShoeWidth"'){
                var widthValue = $("#ShoeWidth").find(":selected").text();
                if (widthValue == "Select") {
                    isWidthSelected=false;
                }
            }

        });

        if(isSizeSelected)
        {
            $("#SizeError").hide();

        }
        else
        {
            $("#SizeError").show();
            $("#Size").css("border", "2px red solid", "color", "red");
            return false;
        }
        if(isWidthSelected)
        {
            $("#WidthError").hide();
        }
        else
        {
            $("#WidthError").show();
            $("#ShoeWidth").css("border", "2px red solid", "color", "red");
        }

        if(isSizeSelected==true && isWidthSelected==true)
        {
            if( Product.prototype.BindAddOnProductSKU(control,event)){
                return true;
            }
            else
            {
                return false;
            }
        }
        else
        {
            return false;
        }

    }

    function RedirectToCart()
    {
        var webstoreURL= $("#WebstoreURL").val();
        alert(webstoreURL);
        window.location.href = webstoreURL+ "/cart";
    }
</script>

