﻿@import "../_base.scss";

.panel-heading .accordion-toggle:after {font-family: $znode-icon-font;content: "\e91b";float: right;}
.panel-heading .accordion-toggle.collapsed:after {content: "\e91c";}

.side-bar {
    .panel-default{border:none;box-shadow:none;
        &>.panel-heading+.panel-collapse>.panel-body{border:none;}
    }
    .panel-heading{padding:0;border:none;
           h4{font-size:$base-font-size - 1;padding:10px 0;cursor:pointer;background-color:$base-color-white;border-bottom:1px solid $border-bgcolor-default;font-family:$base-font-family-bold;text-transform:uppercase;
              &:after{font-size:$base-font-size - 2;}
           }
    }
    .panel-body h4{font-size:$base-font-size - 1;background-color:$base-color-white;text-transform:uppercase;color:$text-fgcolor-heading;}
    
    .filter-list{padding:0;margin:0;
        li{list-style:none;line-height:30px;
           h4{font-size:$base-font-size + 3;font-family:$base-font-family-bold;}
            label{line-height:22px;color:$text-fgcolor-heading;padding-left:0;
                &:hover{text-decoration:underline;}
                &:before{display:none;}
            }
            a{color:$text-fgcolor-heading;}
        }
        li.filter-item{padding:0 5px;border-radius:4px;margin-top:5px;
                i{font-size:10px;margin:5px;color:$base-color-primary;display:inline-block;vertical-align:top;
                  &:hover{cursor:pointer;}
                }
                label{font-weight:normal;max-width:88%;vertical-align:top;line-height:18px;text-decoration:none;color:$text-fgcolor-default;}
        }
    }
    .clear-filter{cursor:pointer;display:block;text-align:right;}
    .md-custom-aside{
        .panel-default{border-bottom:1px solid $border-bgcolor-default;}
        .md-featured-product-bar{
            //  This is for future facet aside Featured products
            //  .product-list-widget .product-item .view-item{
            //      .product-img{width:30%;float:left;
            //          button{display:none;}
            //      }
            //      .product-details{width:70%;padding:0 0 0 15px;float:left;text-align:left;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-wrap:wrap;flex-wrap:wrap;
            //          .product-rating{order:2;width:100%;}
            //          .title{order:1;width:100%;line-height:10px;}
            //          .price{order:3;width:100%;}
            //          .add-to-actions,.item-error-msg{display:none;}
            //      }
            //  }
            panel-default{margin:0;}
        }
        .md-custome-html-block .aside-html-block{
            .subtitle{margin-bottom:15px;font-family:$base-font-family-bold;font-size:$base-font-size + 1;color:$text-fgcolor-default;letter-spacing:0.022em;}
            .text{color:$text-fgcolor-heading;font-size:$base-font-size + 2;letter-spacing:0.01em;line-height:1.42;}
        }
    }
}

//Media Query.
@include screensize(x-small) {
    .side-bar .narrow-results{display:block;padding:6px 0;font-size:16px;color:$base-color-primary;position:absolute;top:-55px;right:15px;z-index:999;
           &:after{content:"\f107";float:right;font-family:$znode-icon-font;padding-left:5px;}
           &.collapsed:after{content:"\f105";}
    }
    .side-bar{padding:0 5px;order:2;-webkit-box-ordinal-group:2;-moz-box-ordinal-group:2;-ms-flex-order:2;-webkit-order:2;}
}
@include screensize(small) {
    .side-bar .narrow-results{display:none;}
    .side-bar{padding-left:0;padding-right:12px;order:1;-webkit-box-ordinal-group:1;-moz-box-ordinal-group:1;-ms-flex-order:1;-webkit-order:1;
         .filter-list li.filter-item label{max-width:85%;}
    }
}
@include screensize(medium) {
    .side-bar{
        .filter-list li.filter-item label{max-width:88%;}
    }
}