﻿@import "../_base.scss";

.tt-dropdown-menu{width:100%;background-color:$base-color-white;max-height:300px;overflow-y:auto;overflow-x:hidden;border:1px solid $border-bgcolor-default;margin-top:-10px;}
.tt-dataset-autos,.tt-suggestions{float:left;width:100%;}
.tt-suggestion{float:left;width:100%;border-bottom:1px solid $border-bgcolor-default;color:$text-fgcolor-default;
    .auto-list{float:left;width:70%;padding:5px;
        h4{font-size:14px;font-family:$base-font-family-bold;color:$base-color-primary;}
        p{font-size:12px;padding:0;margin:0; line-height:22px;}
        b{color:$base-color-primary;}
    }
    .auto-img{float:left;text-align:center; margin:15px 0 0; 
        img {width:40px; height:40px;}
    }
}
.tt-suggestion.tt-cursor{background-color:#f8f3f3;cursor:pointer;}