﻿@model WidgetParameter
@{
    string className = "home-categorylist-area" + @Model.WidgetKey;
}
<div class="container-fluid">
    <div class="row">
        <div class=@className></div>
    </div>
</div>
<script>$.ajax({ url: "/Home/WidgetCategoryList?cMSMappingId=" +@Model.CMSMappingId+"&displayName=" + '@Model.DisplayName' + "&typeOfMapping=" + '@Model.TypeOfMapping' + "&widgetCode=" + '@Model.WidgetCode' + "&widgetKey=" + '@Model.WidgetKey', type: "get" }).done(function (t) { $(".@className").html(t);});</script>

