﻿<div class="modal fade" id="QuoteConfirmPopup" role="dialog">
    <div class="compare-product-popup">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="zf-close-circle"></i></button>
                    <h4 class="modal-title">@WebStore_Resources.TitleQuoteConfirm</h4>
                </div>
                <div class="modal-body">
                    @{
                        var message = @WebStore_Resources.QuoteConfirmMessage.Replace("{0}", Model.CartItemCount);
                    }

                    <p>@message</p>
                    @Html.Hidden("QuoteConfirmId")
                </div>
                <div class="modal-footer">
                    <div class="pull-right">
                        <button type='button' class="btn-text btn-color-primary" data-dismiss="modal" onclick="User.prototype.ProcessQuote()">@Admin_Resources.TextOk</button>
                        <button type="button" id="btn-cancel-popup" class="btn-text btn-color-secondary" data-dismiss="modal">@Admin_Resources.ButtonCancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

