﻿@using Znode.Engine.WebStore.ViewModels
@model RegisterViewModel

<p id="ExistingUserError" class="error-msg" />

<div class="form-group">
    <div class="col-xs-12 nopadding">
        @Html.Label(WebStore_Resources.LabelUsername, new { @class = "control-label required" })
    </div>
    <div class="col-xs-12 left-inner-icon nopadding">
        <i class="zf-login-user login-icon"></i>
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
</div>
<div class="form-group">
    <div class="col-xs-12 nopadding">
        <div class="col-xs-12 nopadding">
            @Html.Label(WebStore_Resources.ColumnCreatePassword, new { @class = "control-label required" })
            <p class="sub">@WebStore_Resources.ValidPassword</p>
        </div>
        <div class="col-xs-12 left-inner-icon nopadding">
            <i class="zf-key login-icon"></i>
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-xs-12 nopadding">
        <div class="col-xs-12 nopadding">
            @Html.Label(WebStore_Resources.ColumnReTypePassword, new { @class = "control-label required" })
        </div>
        <div class="col-xs-12 left-inner-icon nopadding">
            <i class="zf-key-2 login-icon"></i>
            @Html.PasswordFor(m => m.ReTypePassword)
            @Html.ValidationMessageFor(m => m.ReTypePassword)
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-xs-12 styled-input nopadding">
        <input id="signup_optin" name="EmailOptIn" value="true" type="checkbox">
        <label for="signup_optin">Sign Up for Newsletter</label>
    </div>
</div>

<div class="form-group">
    <div class="pull-right">
        @{
            string _returnUrl = Convert.ToString(Request.QueryString["returnUrl"]);
        }
        @Html.Hidden("returnUrl", _returnUrl)
    </div>
</div>
@Html.HiddenFor(x => x.UserName)
@Html.HiddenFor(x => x.Email)


