﻿@using Znode.Engine.WebStore.ViewModels
@model UserViewModel
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<div class="container">
    <div class="row main-wrapper register-container">
        <div class="col-xs-12 nopadding login-container">
            <div class="col-xs-12 nopadding">
                <div class="col-xs-12 nopadding md-page-title-div">
                    <h2 class="md-page-title">Forgot Your Password?</h2>
                </div>
                <div class="col-xs-12 nopadding inner-container">
                    <div class="col-xs-12 col-sm-6 nopadding account-signup-container">
                        <div class="col-xs-12 nopadding">
                            <h3>RETRIEVE YOUR PASSWORD HERE</h3>
                            <p class="margin-bottom">@WebStore_Resources.SubTextResetPassword</p>
                        </div>
                        <div class="col-xs-12 nopadding">
                            @using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post, new { @class = "", role = "form", @id = "frmForgotPassword" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-group">
                                    <div class="col-xs-12 nopadding">
                                        <label class="control-label required">@WebStore_Resources.LabelUsername</label>
                                    </div>
                                    <div class="col-xs-12 left-inner-icon nopadding">
                                        <i class="zf-login-user login-icon"></i>
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.UserName)
                                    </div>
                                </div>
                                <div class="col-xs-12 nopadding margin-top">
                                    <button type="button" class="btn-text btn-color-secondary btn-margin-left" onclick="javascript: location.href = '/User/Login';">@WebStore_Resources.ButtonCancel</button>
                                    <div class="pull-right">
                                        <button type="submit" class="btn-text btn-color-primary">@WebStore_Resources.ButtonSubmitRequest</button>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>