﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities;
@model OrdersViewModel
@{
    int shippingId = 0;
    int count = 1;
}

<div id="layout-account-receipt" class="main-wrapper">
    <div class="container">
        <div class="row user-account">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@Html.Raw(string.Format(WebStore_Resources.TitleOrderReceipt.ToString(), Model.OrderNumber.ToString())) - @ViewBag.Title <small>on @Model.OrderDate.ToDateTimeFormat()</small></h1>
            </div>

            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-sm-3 col-lg-2 nopadding">
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>

                <div class="col-xs-12 col-sm-9 col-lg-10 order-receipt right-container">

                    <a class="receipt-print pull-right" href="#" onclick="window.print();return false;"><i class="zf-printer"></i> <span>@WebStore_Resources.TextPrint</span></a>
                    <div class="col-xs-12 margin-top-bottom nopadding">
                        <div class="col-xs-12 col-sm-4 nopadding receipt-info">
                            <h3 class="section-header-color">@WebStore_Resources.TextDetails:</h3>
                            <div><strong>@WebStore_Resources.TitleDate:</strong> @Model.OrderDate.ToDateTimeFormat()</div>
                            <div><strong>@WebStore_Resources.TitleOrder:</strong> @Model.OrderNumber</div>
                            <div><strong>@WebStore_Resources.TitlePayment:</strong> @Model.PaymentDisplayName</div>
                            @if (Model.PaymentType == ZnodeConstant.PurchaseOrder)
                            {<div><strong>@Admin_Resources.LabelPurchaseOrderNumber:</strong> @Model.PurchaseOrderNumber</div>}
                            <div><strong>@WebStore_Resources.TitleTracking:</strong> @Html.Raw(Model.TrackingNumber)</div>
                            @if (HelperUtility.IsNotNull(Model.CouponCode))
                            {
                                <div><strong>@WebStore_Resources.LabelCouponCode:</strong> @Html.Raw(Model.CouponCode)</div>
                            }
                        </div>
                        <div class="col-xs-12 col-sm-4 nopadding receipt-info grid-m-4">
                            <h3 class="section-header-color">&nbsp;</h3>
                        </div>
                        <div class="col-xs-12 col-sm-4 nopadding receipt-info grid-m-4">
                            <h3 class="section-header-color">@WebStore_Resources.TitleBillingTo</h3>
                            @Html.Raw(Model.BillingAddressHtml)
                        </div>
                    </div>

                    <div class="col-xs-12 margin-top-bottom nopadding receipt-item-list shopping-cart">
                        <div class="table-responsive">
                            <table class="table table-tr">

                                @foreach (var items in Model?.OrderLineItems?.AsEnumerable().Reverse() ?? new List<OrderLineItemViewModel>())
                                {
                                    if (!Equals(items.OrderLineItemState, ZnodeOrderStatusEnum.RETURNED.ToString()))
                                    {
                                        bool headerFlag = false;
                                        if (!Equals(shippingId, items.OmsOrderShipmentId))
                                        {
                                            <tr class="shipment-address">
                                                <td colspan="9">
                                                    <div class="col-xs-12 nopadding margin-top-bottom recepit-container">
                                                        <div class="user-receipt">
                                                            <h3>@WebStore_Resources.ShipmentLable #@count</h3>
                                                            @Html.Raw(items.ShippingAddressHtml)
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                            shippingId = items.OmsOrderShipmentId;
                                            count++;
                                            headerFlag = true;
                                        }
                                        if (headerFlag)
                                        {

                                            <tr class="table-heading">
                                                <th class="table-td receipt-column-item">@WebStore_Resources.ColumnTitleItem</th>
                                                <th class="table-td receipt-column-item">@WebStore_Resources.LabelDescription</th>
                                                <th class="table-td receipt-column-item">@WebStore_Resources.LabelStatus</th>
                                                <th class="table-td receipt-column-item">@WebStore_Resources.LabelTrackingNumber</th>
                                                <th class="table-td receipt-column-quantity">@WebStore_Resources.ColumnTitleQty</th>
                                                <th class="table-td receipt-column-price">@WebStore_Resources.ColumnTitlePrice</th>
                                                <th class="table-td receipt-column-total">@WebStore_Resources.ColumnTitleTotal</th>
                                                <th class="table-td receipt-column-action"></th>
                                            </tr>

                                        }

                                        <tr class="receipt-item table-tr">
                                            <td class="table-td receipt-column-item">
                                                @Html.Raw(items.ProductName)
                                                @if (!string.IsNullOrEmpty(items.DownloadableProductKey))
                                                {
                                                    List<string> keys = items.DownloadableProductKey.Split(',').ToList();
                                                    <h5 style="color:red">Product Keys</h5>
                                                    foreach (string item in keys)
                                                    {
                                                        <div>@Html.Raw(item)</div>
                                                    }
                                                }
                                                <br />
                                                <div class="cart-item-description">
                                                    @if (items?.PersonaliseValueList?.Count > 0)
                                                    {
                                                        foreach (var item in items?.PersonaliseValueList)
                                                        {
                                                            if (!Equals(item.Value, null) && !Equals(item.Value, string.Empty))
                                                            {
                                                                <p>
                                                                    @item.Key: @item.Value
                                                                </p>
                                                            }

                                                        }
                                                    }
                                                </div>

                                            </td>
                                            <td class="table-td">
                                                <div>@Html.Raw(@items.Description)</div>
                                            </td>
                                            <td class="table-td">
                                                <div>@items.OrderLineItemState</div>
                                            </td>
                                            <td class="table-td">
                                                <div>@Html.Raw(items.TrackingNumber)</div>
                                            </td>
                                            <td class="table-td receipt-column-quantity">
                                                @if ((items.Quantity) % 1 == 0)
                                                {
                                                    @($"{items.Quantity.ToInventoryRoundOff():n0}")
                                                }
                                                else
                                                {
                                                    var orderedQuantity = double.Parse(Convert.ToString(items.Quantity.ToInventoryRoundOff()));
                                                    @orderedQuantity
                                                }
                                            </td>
                                            <td class="table-td receipt-column-price">
                                                @Helper.FormatPriceWithCurrency(items.Price, Model.CurrencyCode, items.UOM)
                                            </td>
                                            <td class="table-td receipt-column-total">
                                                @Helper.FormatPriceWithCurrency(items.Quantity * items.Price, Model.CurrencyCode)
                                            </td>

                                            <td class="table-td receipt-column-action">
                                                <a href="/user/ReorderOrderLineItem/@items.OmsOrderLineItemsId">@WebStore_Resources.TextReoder</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                        @Html.Partial("_ReceiptCalculation", Model)
                    </div>

                    <div class="col-xs-12 margin-top-bottom nopadding return-item-list shopping-cart">
                        @if (Model?.ReturnItemList?.ReturnItemList?.Count > 0)
                        {
                            <h3>@WebStore_Resources.LabelReturnItemList</h3>
                            <div class="table-responsive">
                                <table class="table table-tr">
                                    <tr class="table-heading">
                                        <th class="table-td receipt-column-item">Product SKU</th>
                                        <th class="table-td receipt-column-item">@WebStore_Resources.LabelProductName</th>
                                        <th class="table-td receipt-column-item">@WebStore_Resources.LabelStatus</th>
                                        <th class="table-td receipt-column-item">@WebStore_Resources.LabelReason</th>
                                        <th class="table-td receipt-column-item">@WebStore_Resources.LabelTrackingNumber</th>
                                        <th class="table-td receipt-column-quantity">@WebStore_Resources.ColumnTitleQty</th>
                                        <th class="table-td receipt-column-price">@WebStore_Resources.ColumnTitlePrice</th>
                                        <th class="table-td receipt-column-price">@WebStore_Resources.ColumnTax</th>
                                        <th class="table-td receipt-column-price">@WebStore_Resources.ColumnShipping</th>
                                        <th class="table-td receipt-column-total">@WebStore_Resources.ColumnTitleTotal</th>
                                    </tr>

                                    @foreach (var items in Model?.ReturnItemList?.ReturnItemList)
                                    {
                                        <tr>
                                            @if (items?.GroupProducts?.Count > 0)
                                            {
                                                string mainProductName = items.ProductName;
                                                foreach (var product in items.GroupProducts)
                                                {
                                                    <td>
                                                        @product.Sku
                                                    </td>
                                                    <td>
                                                        <div class="">@mainProductName</div>
                                                        <div>@Html.DisplayTextFor(model => product.ProductName)</div>
                                                        <div class="cart-item-description">@Html.Raw(items.CartDescription)</div>
                                                    </td>
                                                    <td>
                                                        @items.OrderLineItemStatus
                                                    </td>
                                                    <td>
                                                        @items.ReasonForReturn
                                                    </td>
                                                    <td>
                                                        @items.TrackingNumber
                                                    </td>
                                                    <td class="table-td receipt-column-quantity">
                                                        @if ((items.Quantity) % 1 == 0)
                                                        {
                                                            @($"{items.Quantity.ToInventoryRoundOff():n0}")
                                                        }
                                                        else
                                                        {
                                                            var orderedQuantity = double.Parse(Convert.ToString(items.Quantity.ToInventoryRoundOff()));
                                                            @orderedQuantity
                                                        }
                                                    </td>
                                                    <td class="table-td receipt-column-price">
                                                        @Helper.FormatPriceWithCurrency(items.UnitPrice, Model.CurrencyCode, items.UOM)
                                                    </td>
                                                    <td class="table-td receipt-column-price">
                                                        @Helper.FormatPriceWithCurrency(items.TaxCost, Model.CurrencyCode)
                                                    </td>
                                                    <td class="table-td receipt-column-price">
                                                        @Helper.FormatPriceWithCurrency((items.IsShippingReturn ? items.ShippingCost : 0), Model.CurrencyCode)
                                                    </td>
                                                    <td class="table-td receipt-column-total">
                                                        @Helper.FormatPriceWithCurrency(items.ExtendedPrice + items.TaxCost + (items.IsShippingReturn ? items.ShippingCost : 0), Model.CurrencyCode)
                                                    </td>
                                                }
                                            }
                                            else
                                            {
                                                <td>
                                                    @if (!string.IsNullOrEmpty(items?.ConfigurableProductSKUs))
                                                    {
                                                        <span>@items.ConfigurableProductSKUs</span>
                                                    }
                                                    else
                                                    {
                                                        <span>@items.SKU</span>
                                                    }
                                                </td>
                                                <td>
                                                    <span>@Html.Raw(items.ProductName)</span>
                                                    <div class="cart-item-description">
                                                        @if (items?.PersonaliseValuesList?.Count > 0)
                                                        {
                                                            foreach (var item in items.PersonaliseValuesList)
                                                            {
                                                                if (!Equals(item.Value, null) && !Equals(item.Value, string.Empty))
                                                                {
                                                                    <p> @item.Key : @item.Value </p>
                                                                }
                                                            }
                                                        }
                                                    </div>
                                                    @Html.Raw(items.CartDescription)
                                                </td>
                                                <td>
                                                    <span>@items.OrderLineItemStatus</span>
                                                </td>
                                                <td>
                                                    <span>@items.ReasonForReturn</span>
                                                </td>
                                                <td>
                                                    <span>@items.TrackingNumber</span>
                                                </td>
                                                <td class="table-td receipt-column-quantity">
                                                    @if ((items.Quantity) % 1 == 0)
                                                    {
                                                        @($"{items.Quantity.ToInventoryRoundOff():n0}")
                                                    }
                                                    else
                                                    {
                                                        var orderedQuantity = double.Parse(Convert.ToString(items.Quantity.ToInventoryRoundOff()));
                                                        @orderedQuantity
                                                    }
                                                </td>
                                                <td class="table-td receipt-column-price">
                                                    @Helper.FormatPriceWithCurrency(items.UnitPrice, Model.CurrencyCode, items.UOM)
                                                </td>
                                                <td class="table-td receipt-column-price">
                                                    @Helper.FormatPriceWithCurrency(items.TaxCost, Model.CurrencyCode)
                                                </td>
                                                <td class="table-td receipt-column-price">
                                                    @Helper.FormatPriceWithCurrency((items.IsShippingReturn ? items.ShippingCost : 0), Model.CurrencyCode)
                                                </td>
                                                <td class="table-td receipt-column-total">
                                                    @Helper.FormatPriceWithCurrency(items.ExtendedPrice + items.TaxCost + (items.IsShippingReturn ? items.ShippingCost : 0), Model.CurrencyCode)
                                                </td>
                                            }
                                        </tr>
                                    }
                                </table>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
