﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model AccountQuoteViewModel
@{
    string accountType = Model.RoleName;
    string currencyCode = string.IsNullOrEmpty(Model.CurrencyCode) ? DefaultSettingHelper.DefaultCurrency : Model.CurrencyCode;
    Model.ShoppingCart.CurrencyCode = currencyCode;
}

<div id="layout-quote-details" class="main-wrapper">
    <div class="container">
        <div class="row user-account">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@WebStore_Resources.LabelQuoteDetails - Quote @Html.Raw(Model.OmsQuoteId) - @ViewBag.Title <small>on @Model.CreatedDate</small></h1>
            </div>
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-sm-3 col-lg-2 nopadding">
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-9 col-lg-10 add-template right-container">
                    <div class="col-sm-12 nopadding">
                        @using (Html.BeginForm("UpdateQuote", "User", FormMethod.Post, new { @id = "FormQuoteView" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="col-xs-12 nopadding">
                                <div class="pull-right">
                                    @if ((string.Equals(accountType, ZnodeRoleEnum.Administrator.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(accountType, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase)) && !string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.DRAFT.ToString(), StringComparison.CurrentCultureIgnoreCase) && !string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.ORDERED.ToString(), StringComparison.CurrentCultureIgnoreCase))
                                    {

                                        <button type="submit" id="btnTopReview" class="btn-text btn-color-primary margin-bottom">@WebStore_Resources.ButtonReview</button>

                                        <button type="submit" id="btnTopApprove" class="btn-text btn-color-primary margin-bottom">@WebStore_Resources.ButtonApprove</button>

                                        <button type="submit" id="btnTopReject" class="btn-text btn-color-primary margin-bottom">@WebStore_Resources.ButtonReject</button>

                                    }

                                    @if (string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.DNRA.ToString(), StringComparison.CurrentCultureIgnoreCase) ||
(string.Equals(accountType, ZnodeRoleEnum.Administrator.ToString(), StringComparison.CurrentCultureIgnoreCase) ||
string.Equals(accountType, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) ||
string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.DRAFT.ToString(), StringComparison.CurrentCultureIgnoreCase)) ||
(string.Equals(accountType, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase) && string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.APPROVED.ToString(), StringComparison.CurrentCultureIgnoreCase) ||
(string.Equals(accountType, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase)) && string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.REJECTED.ToString(), StringComparison.CurrentCultureIgnoreCase)))
                                    {

                                        <button type="button" id="btnProcessQuote" class="btn-text btn-color-primary margin-bottom" onclick="User.prototype.ProcessContinueOnClick()"><i class="zf-checkout"></i> @WebStore_Resources.ButtonProceedToCheckout</button>

                                    }
                                </div>
                            </div>
                            <h3 class="section-header">@Model.ShippingName</h3>
                            <div class="col-xs-12 col-sm-6 nopadding margin-bottom">
                                @if (Model?.ShippingAddressId > 0 && !Equals(Model?.ShippingAddressModel, null))
                                {
                                    Model.ShippingAddressModel.RoleName = Model.RoleName;
                                    @Html.Partial("../User/_DisplayAddress", Model.ShippingAddressModel ?? new AddressViewModel())
                                }
                                else
                                {
                                    <p>@WebStore_Resources.ErrorNoPrimaryAddress</p>
                                }

                            </div>

                            @Html.HiddenFor(model => model.OmsQuoteId)
                            @Html.HiddenFor(model => model.PortalId)
                            @Html.HiddenFor(model => model.UserId)
                            @Html.HiddenFor(model => model.OmsOrderStateId)
                            @Html.HiddenFor(model => model.ShippingId)
                            @Html.HiddenFor(model => model.RoleName)
                            @Html.HiddenFor(model => model.OrderStatus)
                            @Html.HiddenFor(model => model.ShippingAddressId)
                            @Html.HiddenFor(model => model.BillingAddressId)
                            @Html.HiddenFor(model => model.ApproverUserId)
                            @Html.HiddenFor(model => model.AdditionalInstruction)
                            @Html.HiddenFor(model => model.QuoteOrderTotal)
                            @Html.HiddenFor(model => Model.ShoppingCart)
                            @Html.HiddenFor(model => Model.CartItemCount)
                        }
                        @{
                            <div class="col-xs-12 nopadding shopping-cart padding-top-bottom">
                                <div class="col-xs-12 quote-products table-responsive nopadding">
                                    <table class="table" id="quoteView">
                                        <thead>
                                            <tr>
                                                @if (string.Equals(accountType, ZnodeRoleEnum.Administrator.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(accountType, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) || (string.Equals(accountType, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase) && string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.DRAFT.ToString(), StringComparison.CurrentCultureIgnoreCase)) || (string.Equals(accountType, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase) && string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.REJECTED.ToString(), StringComparison.CurrentCultureIgnoreCase)))
                                                {
                                                    <th></th>
                                                }
                                                <th>@WebStore_Resources.LabelItem</th>
                                                <th>@WebStore_Resources.ColumnTitleItemPrice</th>
                                                <th>@WebStore_Resources.ColumnTitleQuantity</th>
                                                <th>@WebStore_Resources.ColumnTitleTotal</th>
                                            </tr>
                                        </thead>
                                        <tbody id="quoteViewRow">
                                            @for (int i = 0; i < Model?.ShoppingCart?.ShoppingCartItems?.Count(); i++)
                                            {
                                                if (Model.ShoppingCart.ShoppingCartItems[i].InsufficientQuantity)
                                                {
                                                    Model.InventoryOutOfStockCount++;
                                                    Model.ShoppingCart.ShoppingCartItems[i].OutOfStockMessage = string.IsNullOrEmpty(Model.OutOfStockMessage) ? WebStore_Resources.OutofStockMessage : Model.OutOfStockMessage;
                                                }

                                                Model.ShoppingCart.ShoppingCartItems[i].QuoteLineItemCount = Model.ShoppingCart.ShoppingCartItems.Count();
                                                Model.ShoppingCart.ShoppingCartItems[i].OrderStatus = Model.OrderStatus;
                                                Model.ShoppingCart.ShoppingCartItems[i].RoleName = Model.RoleName;
                                                Model.ShoppingCart.ShoppingCartItems[i].CurrencyCode = currencyCode;
                                                @Html.Partial("_QuoteRow", Model.ShoppingCart.ShoppingCartItems[i])
                                                @Html.HiddenFor(model => Model.ShoppingCart.ShoppingCartItems[i].Quantity)
                                                @Html.HiddenFor(model => Model.ShoppingCart.ShoppingCartItems[i].OmsQuoteLineItemId)
                                            }
                                            @Html.Hidden("ShoppingCartItemsCount", Model.ShoppingCart.ShoppingCartItems.Count())
                                            @Html.HiddenFor(model => Model.InventoryOutOfStockCount)
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-xs-12 cart-summary nopadding">
                                    <div class="col-xs-12 nopadding cart-total">
                                        <div class="col-sm-offset-5 col-md-offset-6">
                                            @Html.Partial("_TotalTable", Model.ShoppingCart)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @Html.Partial("_QuoteConfirmPopup")
                            if (string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.DNRA.ToString(), StringComparison.CurrentCultureIgnoreCase) || (string.Equals(accountType, ZnodeRoleEnum.Administrator.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(accountType, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.DRAFT.ToString(), StringComparison.CurrentCultureIgnoreCase)) || (string.Equals(accountType, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase) && string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.APPROVED.ToString(), StringComparison.CurrentCultureIgnoreCase) || (string.Equals(accountType, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase)) && string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.REJECTED.ToString(), StringComparison.CurrentCultureIgnoreCase)))
                            {
                                <div class="pull-right">
                                    <button type="button" id="btnBottomProcessQuote" class="btn-text btn-color-primary margin-top" onclick="User.prototype.ProcessContinueOnClick()"><i class="zf-checkout"></i> @WebStore_Resources.ButtonProceedToCheckout</button>
                                </div>
                            }
                            if ((string.Equals(accountType, ZnodeRoleEnum.Administrator.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(accountType, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase)) && !string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.DRAFT.ToString(), StringComparison.CurrentCultureIgnoreCase) && !string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.ORDERED.ToString(), StringComparison.CurrentCultureIgnoreCase))
                            {
                                <input type="submit" id="btnBottomReject" value="@WebStore_Resources.ButtonReject" form="FormQuoteView" class="pull-right btn-text btn-color-primary margin-top">

                                <input type="submit" id="btnBottomApprove" value="@WebStore_Resources.ButtonApprove" form="FormQuoteView" class="pull-right btn-text btn-color-primary margin-top">

                                <input type="submit" id="btnBottomReview" value="@WebStore_Resources.ButtonReview" form="FormQuoteView" class="pull-right btn-text btn-color-primary margin-top">
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var quoteConfirm = '@WebStore_Resources.QuoteConfirmMessage';
    $(document).ready(function () {
        User.prototype.HideAddressChangeLink();
    });
</script>

