﻿<nav class="header-nav yamm" role="navigation">
    <div class="navbar-collapse collapse" id="navbar-collapse-nav">
        @{ Html.RenderAction("TopLevelList", "Category", new { profileId = Helper.GetProfileId() }); }
        @*<a href="javascript:void(0);" class="control_next nav-drop pull-right"><i class="zf-text-view nav-drop-icon"></i></a>*@
    </div>
    @*<div class="container nav-drop-container">
        <ul id="others-menu" class="dropdown-menu dropdown-inner" style="display:none"></ul>
    </div>*@
</nav>
